doctype html
html(lang="en")
	head
		title= "Footer 10"
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		link(href="https://fonts.googleapis.com/css?family=Cabin", rel="stylesheet")
		link(href="https://fonts.googleapis.com/css?family=Cabin:600", rel="stylesheet")
		link(rel="stylesheet", type= "text/css", href="../../../../css/templates/ui-kit/footers/footer10/style.css")
	body
		section(class="c-footer")
			h2(class="c-footer__title") The Best App Ever
			span(class="c-footer__text") Please Sign Up to Get Our App
			form(class="c-footer__form-wrapper")
				div(class="c-footer__form-input-wrapper")
					input(type="text", placeholder="E-mail", class="c-footer__form-input")
				div(class="c-footer__form-input-wrapper")
					input(type="password", placeholder="Password", class="c-footer__form-input")
				div(class="c-footer__form-submit-wrapper")
					input(type="submit", value="Sign up", class="c-footer__form-submit")
			nav(class="c-footer__menu")
				a(href="#", class="c-footer__menu-item") Products
				a(href="#", class="c-footer__menu-item") Prices
				a(href="#", class="c-footer__menu-item") About us
				a(href="#", class="c-footer__menu-item") Contacts
			span(class="c-footer__copyright") &copy UI8 2014 - All Right Reserved