.c-nav {
	padding: 16px 120px;
	background-color: $light-background;
	display: flex;
	justify-content: space-between;
	align-content: center;
	@include respond-to(medium-screens) {
		padding: 16px 60px;
	}
	@include respond-to(tablets) {
		padding: 16px 60px;
		justify-content: space-around;
	}
	@include respond-to(handhelds) {
		padding: 16px 60px;
		justify-content: space-around;
	}
}

.logo-wrapper {
	width: 43px;
	height: 40px;
}

.c-logo {
	width: 100%;
	height: auto;
}

.c-button {
	&.c-nav__button {
		margin: 0;
		background-color: transparent;
		&:hover {
			background-color: $blue;
			.c-button-square-icon.c-nav__button {
				background-color: $white;
				&::before {
					background-color: $white;
				}
				&::after {
					background-color: $white;
				}
			}
		}
		@include respond-to(wide-screens) {
			display: none;
		}
		@include respond-to(medium-screens) {
			display: none;
		}
	}
	&-square-icon {
		&.c-nav__button {
			background-color: $black;
			&::before {
				background-color: $black;
			}
			&::after {
				background-color: $black;
			}
		}
	}
}

.c-menu {
	font-size: 16px;
	line-height: 36px;
	@include respond-to(tablets) {
		display: none;
	}
	@include respond-to(handhelds) {
		display: none;
	}
	&__item {
		display: inline-block;
		text-decoration: none;
		color: $black;
		text-transform: capitalize;
		margin-right: 20px;
		margin-left: 20px;
		&.is-active {
			color: $blue;
		}
		&:hover {
			color: $blue;
		}
	}
}

.search-wrapper {
	&.c-nav__search {
		width: 160px;
	}
}

.c-search {
	&.c-nav__search {
		margin: 0;
		font-weight: normal;
		&::placeholder {
			color: $dark-grey;
			font-weight: bold;
		}
		&:focus {
			border-color: $blue;
			& + .search-icon.c-nav__search-icon {
				border-color: $black;
				&::before {
					background-color: $black;
				}
			}
		}
	}
}

.search-icon {
	&.c-nav__search-icon {
		left: 17px;
	}
}