@import '../../../../partials/ui-kit/variables';
@import '../../../../mixins/mixin-small-375';
@import '../../../../../assets/scss/icons/iconfont__varible';
@import '../../../../../assets/scss/icons/iconfont__icon';
@import '../../../../partials/ui-kit/footers/general';
@import '../../../../partials/ui-kit/footers/footer2/footer';