doctype html
html(lang="en")
	head
		title= "Top Header 3"
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		link(href="https://fonts.googleapis.com/css?family=Cabin:600", rel="stylesheet")
		link(rel="stylesheet", type= "text/css", href="../../../../../css/templates/ui-kit/navigation/top-headers/header3/style.css")
	body
		section(class="c-nav")
			div(class="logo-wrapper")
				img(src="../../../../../images/ui-kit/logo.png", alt="logo", class="c-logo")
			button(class="c-button c--button-square c--button-rounded c--button-small c-nav__button c-menu-icon")
					div(class="c-button-square-icon c--button-small c-nav__button")
			nav(class="c-menu")
				a(href="#", class="c-menu__item") All products
				a(href="#", class="c-menu__item") Wireframe Kits
				a(href="#", class="c-menu__item is-active") UI Kits
				a(href="#", class="c-menu__item") Fonts
				a(href="#", class="c-menu__item") Presentations
				a(href="#", class="c-menu__item") Sketch
			form(class="search-wrapper c-nav__search") 
				input(type="search", placeholder="Search", class="c-search c-search--round c-search--small c-nav__search")
				div(class="search-icon c-search--small c-nav__search-icon")