doctype html
html(lang="en")
	head
		title= "Footer 4"
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		link(href="https://fonts.googleapis.com/css?family=Cabin:600", rel="stylesheet")
		link(rel="stylesheet", type= "text/css", href="../../../../css/templates/ui-kit/footers/footer4/style.css")
	body
		section(class="c-footer")
			div(class="c-footer__logo")
				img(src="images/logo.png", alt="logo", class="c-footer__logo-img")
			div(class="c-footer__contact")
				h2(class="c-footer__contact-title") Contacts
				span(class="c-footer__contact-info") 920 Reserve Dr. Suite 140 Roseville, CA 95678
				a(href="tel: (415) 496-9612", class="c-footer__contact-info") (415) 496-9612
				a(href="mailto: info@creativeda.sh", class="c-footer__contact-info") info@creativeda.sh
			div(class="c-footer__info")
				h2(class="c-footer__info-title") Info
				span(class="c-footer__info-text") Looking cautiously round, to ascertain that they were not overheard, the two hags cowered nearer to the fire, and chuckled heartily.
			div(class="c-footer__app")
				h2(class="c-footer__app-title") Our app
				div(class="c-footer__app-button button-wrapper")
					button(class="c-button c--button-rounded c-footer__app-button") Buy app
				a(href="#", class="c-footer__app-link") or Learn More