@import '../../../../partials/ui-kit/variables';
@import '../../../../mixins/mixin-small-425';
@import '../../../../partials/ui-kit/footers/general';
@import '../../../../partials/ui-kit/footers/footer10/footer';