.c-footer {
	@include respond-to(medium-screens) {
		padding: 40px;
	}
	@include respond-to(tablets) {
		flex-flow: wrap;
		justify-content: center;
		height: 1250px;
		padding: 40px;
	}
	@include respond-to(handhelds) {
		flex-flow: wrap;
		justify-content: center;
		height: 1850px;
		padding: 20px;
	}

	position: relative;

	display: flex;
	justify-content: space-between;
	height: 672px;
	padding: 80px 120px;

	background: url(../images/back.jpg) no-repeat;
	background-size: cover;
	&__logo {
		width: 150px;
	}
	&__menu-item {
		@include respond-to(tablets) {
			width: 200px;
			margin-bottom: 20px;
		}

		width: 150px;
	}
	&__menu-subitem {
		display: block;

		color: #9d9d9e;
		font-size: $medium-font;
		line-height: 2;
		letter-spacing: $letter-spacing;
		text-decoration: none;
		&:first-child {
			color: $white;
			line-height: 2.25;
			letter-spacing: 0.05rem;
			text-transform: uppercase;

			pointer-events: none;
		}
		&:hover {
			text-decoration: underline;
		}
		&.new {
			position: relative;
			&::after {
				content: 'NEW';

				position: absolute;

				width: 52px;
				height: 28px;
				margin-left: 10px;
				border: 1px solid transparent;

				border-radius: $smallest-border-radius;
				background-color: $orange;

				color: $black;
				font-size: $small-font;
				letter-spacing: 0.05rem;
				text-align: center;
			}
			&:hover::after {
				background-color: $dark-orange;
			}
		}
	}
	&__other {
		@include respond-to(tablets) {
			width: 360px;

			text-align: center;
		}

		width: 260px;
	}
	&__social {
		&-title {
			display: block;
			margin-bottom: 10px;

			color: $white;
			font-size: $medium-font;
			line-height: 2.25;
			letter-spacing: 0.05rem;
			text-transform: uppercase;
		}
		&-item {
			@include respond-to(medium-screens) {
				margin-bottom: 10px;
			}

			width: 36px;
			height: 36px;
			border: 1px solid;

			border-radius: $smallest-border-radius;
			&:not(:last-child) {
				margin-right: 10px;
			}
			&.c--facebook {
				border-color: #3162a2;

				background-color: #3162a2;
				&:hover {
					border-color: #235493;

					background-color: #235493;

					cursor: pointer;
				}
			}
			&.c--twitter {
				border-color: #2eb1eb;

				background-color: #2eb1eb;
				&:hover {
					border-color: #209dd4;

					background-color: #209dd4;

					cursor: pointer;
				}
			}
			&.c--dribbble {
				border-color: #f552b6;

				background-color: #f552b6;
				&:hover {
					border-color: #d43b99;

					background-color: #d43b99;

					cursor: pointer;
				}
			}
			&.c--vimeo {
				border-color: #3498b9;

				background-color: #3498b9;
				&:hover {
					border-color: #2485a5;

					background-color: #2485a5;

					cursor: pointer;
				}
			}
			&.c--google-plus {
				border-color: #f25c58;

				background-color: #f25c58;
				&:hover {
					border-color: #d24440;

					background-color: #d24440;

					cursor: pointer;
				}
			}
			&-img {
				width: auto;
				height: 14px;

				vertical-align: middle;
			}
		}
	}
	&__subscribe {
		@include respond-to(medium-screens) {
			margin-top: 20px;
		}

		margin-top: 50px;
		margin-bottom: 40px;
		&-title {
			display: block;

			color: $white;
			font-size: $medium-font;
			line-height: 2.25;
			letter-spacing: 0.05rem;
			text-transform: uppercase;
		}
		&-text {
			display: block;
			margin-bottom: 15px;

			color: #9d9d9e;
			font-size: $medium-font;
			line-height: 1.25;
			letter-spacing: $letter-spacing;
		}
		&-input-wrapper {
			display: inline-block;
			width: 202px;
			height: 36px;
			margin-right: 10px;
		}
		&-input {
			width: 100%;
			height: 100%;
			padding: 10px;
			border: 1px solid transparent;

			border-radius: $smallest-border-radius;
			background-color: rgba(255, 255, 255, .25);
			outline: none;

			color: $white;
			font-size: $small-font;
			line-height: 1.71;
			letter-spacing: $letter-spacing;
			&::placeholder {
				color: rgba(255, 255, 255, .6);
			}
		}
		&-submit-wrapper {
			position: relative;

			display: inline-block;
			width: 36px;
			height: 36px;

			vertical-align: bottom;
			&::before {
				content: '';

				position: absolute;
				top: 50%;
				left: calc(50% - 1px);

				width: 5px;
				height: 5px;
				border-top: solid $border-width $white;
				border-right: solid $border-width $white;

				transform: translate(-50%, -50%) rotate(45deg);
				transform-origin: center;
			}
		}
		&-submit {
			width: 100%;
			height: 100%;
			border: 1px solid transparent;

			border-radius: $smallest-border-radius;
			background-color: $green;
			outline: none;
			&:hover {
				background-color: $dark-green;

				cursor: pointer;
			}
		}
	}
	&__main-menu-item {
		display: block;

		color: #9d9d9e;
		font-size: $medium-font;
		line-height: 2;
		letter-spacing: $letter-spacing;
		text-decoration: none;
		&:first-child {
			color: $white;
			line-height: 2.25;
			letter-spacing: 0.05rem;
			text-transform: uppercase;

			pointer-events: none;
		}
		&:hover {
			text-decoration: underline;
		}
	}
	&__copyright {
		@include respond-to(tablets) {
			right: 0;
			bottom: 10px;
			left: 50%;

			text-align: center;

			transform: translateX(-50%);
		}
		@include respond-to(handhelds) {
			right: 0;
			bottom: 5px;
			left: 50%;

			line-height: 1.25;
			text-align: center;

			transform: translateX(-50%);
		}

		position: absolute;
		right: 120px;
		bottom: 30px;

		color: #9d9d9e;
		font-size: $small-font;
		line-height: 2.57;
		letter-spacing: $letter-spacing;
	}
}
