
$icon-cloud: "\EA01" !default;

$icon-dribbble: "\EA02" !default;

$icon-facebook: "\EA03" !default;

$icon-google-plus: "\EA04" !default;

$icon-instagram: "\EA05" !default;

$icon-linkedin: "\EA06" !default;

$icon-scroll-down: "\EA07" !default;

$icon-settings: "\EA08" !default;

$icon-shopping-bag: "\EA09" !default;

$icon-twitter: "\EA0A" !default;

$icon-vimeo: "\EA0B" !default;