
$icon-dribbble: "\EA01" !default;

$icon-facebook: "\EA02" !default;

$icon-google-plus: "\EA03" !default;

$icon-instagram: "\EA04" !default;

$icon-linkedin: "\EA05" !default;

$icon-scroll-down: "\EA06" !default;

$icon-twitter: "\EA07" !default;

$icon-vimeo: "\EA08" !default;