$global-font-icon: 'svg-icons';

@font-face {
 font-family: $global-font-icon;
 src:url("../../../../../fonts/svg-icons.eot");
 src:url("../../../../../fonts/svg-icons.?#iefix") format("embedded-opentype"),
   url("../../../../../fonts/svg-icons.woff") format("woff"),
   url("../../../../../fonts/svg-icons.ttf") format("truetype"),
   url("../../../../../fonts/svg-icons.#svg-icons") format("svg");
 font-weight: normal;
 font-style: normal;
}

.icon {
 font-family: $global-font-icon;

 &:before {
   /* Some common icon stuff */
 }

 &.icon--cloud {
   &:before {
     content: $icon-cloud;
   }
 }
 &.icon--dribbble {
   &:before {
     content: $icon-dribbble;
   }
 }
 &.icon--facebook {
   &:before {
     content: $icon-facebook;
   }
 }
 &.icon--google-plus {
   &:before {
     content: $icon-google-plus;
   }
 }
 &.icon--instagram {
   &:before {
     content: $icon-instagram;
   }
 }
 &.icon--linkedin {
   &:before {
     content: $icon-linkedin;
   }
 }
 &.icon--scroll-down {
   &:before {
     content: $icon-scroll-down;
   }
 }
 &.icon--twitter {
   &:before {
     content: $icon-twitter;
   }
 }
 &.icon--vimeo {
   &:before {
     content: $icon-vimeo;
   }
 }

}