.c-header {
	@include respond-to(medium-screens) {
		background-position: center top 150px;
	}
	@include respond-to(tablets) {
		padding-top: 40px;

		background-position: center top 200px;
	}
	@include respond-to(handhelds) {
		padding-top: 100px;
		padding-bottom: 40px;

		background-position: center top 200px;
	}

	position: relative;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100vh;
	padding-top: 80px;
	padding-bottom: 2.6%;

	background-color: #262626;
	background-image: url(../images/back.png);
	background-repeat: no-repeat;
	background-position: center top 120px;
	background-size: 50%;
	&__header {
		&-logo-img {
			@include respond-to(tablets) {
				top: 20px;
				right: 60px;
			}
			@include respond-to(handhelds) {
				top: 20px;
				right: 0;
				left: 50%;

				transform: translateX(-50%);
			}

			position: absolute;
			top: 60px;
			right: 120px;
		}
		&-menu {
			@include respond-to(tablets) {
				margin-left: 60px;
			}
			@include respond-to(handhelds) {
				margin: 0 auto;

				text-align: center;
			}

			margin-left: 120px;

			text-align: left;
			&-item {
				@include respond-to(handhelds) {
					margin: 5px;

					font-size: $small-font;
				}

				margin: 20px;

				color: $white;
				font-size: $medium-font;
				line-height: 1.5;
				letter-spacing: $letter-spacing;
				text-decoration: none;
				&:hover {
					text-decoration: underline;
				}
			}
		}
	}
	&__main {
		&-title {
			@include respond-to(tablets) {
				padding: 0 120px;
			}
			@include respond-to(handhelds) {
				padding: 0 20px;

				font-size: $large-font;
			}

			margin-bottom: 40px;
			padding: 0 220px;

			color: $white;
			font-weight: normal;
			font-size: 26px;
			line-height: 1.4;
			letter-spacing: $letter-spacing;
			text-align: center;
		}
	}
}

.button-wrapper {
	display: block;
	width: 140px;
	margin: 0 auto;
}

.c-button {
	&.c-header__button {
		background-color: $green;
		&:hover {
			background-color: $dark-green;
		}
	}
}
