@charset "UTF-8";

@font-face {
  font-family: "svg-icons";
  src: url("../../../../../fonts/svg-icons.eot");
  src: url("../../../../../fonts/svg-icons.?#iefix") format("embedded-opentype"), url("../../../../../fonts/svg-icons.woff") format("woff"), url("../../../../../fonts/svg-icons.ttf") format("truetype"), url("../../../../../fonts/svg-icons.#svg-icons") format("svg");
  font-weight: normal;
  font-style: normal;
}

.icon {
  font-family: "svg-icons";
}

.icon:before {
  /* Some common icon stuff */
}

.icon.icon--dribbble:before {
  content: "";
}

.icon.icon--facebook:before {
  content: "";
}

.icon.icon--google-plus:before {
  content: "";
}

.icon.icon--instagram:before {
  content: "";
}

.icon.icon--linkedin:before {
  content: "";
}

.icon.icon--scroll-down:before {
  content: "";
}

.icon.icon--twitter:before {
  content: "";
}

.icon.icon--vimeo:before {
  content: "";
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Cabin", Arial, sans-serif;
}

.c-footer {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
  height: 288px;
  padding: 30px 100px;
  background-color: #383737;
}

.c-footer__logo {
  width: 120px;
}

.c-footer__menu-subitem {
  display: block;
  color: #9d9d9e;
  font-size: 16px;
  line-height: 2;
  letter-spacing: 0.02rem;
  text-decoration: none;
}

.c-footer__menu-subitem:first-child {
  color: #fff;
  line-height: 2.25;
  letter-spacing: 0.05rem;
  pointer-events: none;
}

.c-footer__menu-subitem:hover {
  text-decoration: underline;
}

.c-footer__other {
  width: 260px;
}

.c-footer .c-social-title {
  display: block;
  margin-bottom: 10px;
  color: #fff;
  font-size: 16px;
  line-height: 2.25;
  letter-spacing: 0.05rem;
}

.c-footer .c-social-item {
  padding: 9px;
  border: 1px solid transparent;
  background-color: transparent;
  outline: none;
  color: #b4bbc2;
  font-size: 14px;
  text-decoration: none;
}

.c-footer .c-social-item:not(:last-child) {
  margin-right: 10px;
}

.c-footer .c-social-item:nth-child(2) {
  margin-left: -13px;
}

.c-footer .c-social-item:hover {
  border-color: #b4bbc2;
  border-radius: 999rem;
  cursor: pointer;
}

.c__subscribe-box {
  margin-bottom: 40px;
}

.c__subscribe-box-title {
  display: block;
  color: #fff;
  font-size: 16px;
  line-height: 2.25;
  letter-spacing: 0.05rem;
}

.c__subscribe-box-text {
  display: block;
  margin-bottom: 15px;
  color: #9d9d9e;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.02rem;
}

.c__subscribe-box-input-wrapper {
  display: inline-block;
  width: 202px;
  height: 36px;
  margin-right: 10px;
}

.c__subscribe-box-input {
  width: 100%;
  height: 100%;
  padding: 10px;
  border: 1px solid transparent;
  border-radius: 6px;
  background-color: #fff;
  outline: none;
  color: #383737;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.02rem;
}

.c__subscribe-box-input:focus {
  border-color: #24aa98;
}

.c__subscribe-box-input::-webkit-input-placeholder {
  color: #494949;
}

.c__subscribe-box-input:-ms-input-placeholder {
  color: #494949;
}

.c__subscribe-box-input::placeholder {
  color: #494949;
}

.c__subscribe-box-submit-wrapper {
  position: relative;
  display: inline-block;
  width: 36px;
  height: 36px;
  vertical-align: bottom;
}

.c__subscribe-box-submit-wrapper::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 5px;
  height: 5px;
  border-top: solid 2px #fff;
  border-right: solid 2px #fff;
  transform: translate(-50%, -50%) rotate(45deg);
  transform-origin: center;
}

.c__subscribe-box-submit {
  width: 100%;
  height: 100%;
  border: 1px solid transparent;
  border-radius: 6px;
  background-color: #24aa98;
  outline: none;
}

.c__subscribe-box-submit:hover {
  border-color: #1a9385;
  background-color: #1a9385;
  cursor: pointer;
}

@media only screen and (max-width: 375px) {
  .c-footer {
    -ms-flex-flow: wrap;
    flex-flow: wrap;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    height: 750px;
    padding: 30px 10px;
  }

  .c-footer__menu-item {
    width: 120px;
    margin-bottom: 20px;
  }

  .c__subscribe-box-wrapper {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
  }
}

@media only screen and (min-width: 376px) and (max-width: 768px) {
  .c-footer {
    -ms-flex-flow: wrap;
    flex-flow: wrap;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    height: 700px;
    padding: 30px 25px;
  }

  .c-footer__logo {
    width: 100px;
  }

  .c-footer__menu-item {
    width: 150px;
    margin-bottom: 20px;
  }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .c-footer {
    -ms-flex-flow: wrap;
    flex-flow: wrap;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    height: 480px;
    padding: 30px 50px;
  }

  .c-footer__menu-item {
    width: 200px;
  }
}
/*# sourceMappingURL=style.css.map */
