doctype html
html(lang="en")
	head
		title= "Header 1"
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		link(href="https://fonts.googleapis.com/css?family=Cabin:600", rel="stylesheet")
		link(rel="stylesheet", type= "text/css", href="../../../../css/templates/ui-kit/headers/header1/style.css")
	body
		section(class="c-header")
			div(class="c-header__header")
				img(src="images/logo.png", alt="logo", class="c-header__header-logo")
				nav(class="c-header__header-menu")
					a(href="#", class="c-header__header-menu-item") Products
					a(href="#", class="c-header__header-menu-item") Prices
					a(href="#", class="c-header__header-menu-item") About Us
					a(href="#", class="c-header__header-menu-item") Contacts
					button(class="c-button c--button-square c--button-rounded c-header__header-menu-item")
						div(class="c-button-square-icon")
			div(class="c-header__main")
				h1(class="c-header__main-title") This soundted nonsence to Alice, so she said nothing, but set off at once toward the Red Queen.
				h2(class="c-header__main-subtitle") To her surprise, she lost sight of her in a moment, and found herself walking in at the front-door again.