doctype html
html(lang="en")
	head
		title= "Navigation"
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		link(href="https://fonts.googleapis.com/css?family=Cabin:600", rel="stylesheet")
		link(rel="stylesheet", type= "text/css", href="../../../../../css/templates/ui-kit/navigation/top-headers/header6/style.css")
	body
		section(class="c-nav")
			div(class="c-nav-left")
				button(class="c-button c--button-square c--button-rounded c--button-small c-nav__button c-menu-icon")
					div(class="c-button-square-icon c--button-small c-nav__button")
				nav(class="c-menu")
					a(href="#", class="c-menu__item") All creative fields
					a(href="#", class="c-menu__item") All time
					a(href="#", class="c-menu__item") Most Viewe
					a(href="#", class="c-menu__item is-active") Add Project
			div(class="c-nav-right")
				a(href="#", class="icon icon--settings")
				div(class="c-profile")
					div(class="ava-wrapper")
						img(src="../../../../../images/ui-kit/navigation/top-headers/header6/photo-min.jpg", alt="your photo", class="c-avatar")
					div(class="c-profile__info")
						span(class="c-profile__name") Richard Nyman
						a(href="#", class="c-profile__link") Logout