doctype html
html(lang="en")
	head
		title= "My repo"
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		link(rel="stylesheet", type= "text/css", href="../css/style.css")
	body
		a(href="ui-kite/base/index.html", class="linka") Base
		a(href="ui-kite/headers/index.html", class="linka") Headers
		a(href="ui-kite/footers/index.html", class="linka") Footers