doctype html
html(lang="en")
	head
		title= "UI-Kit"
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		link(rel="stylesheet", type= "text/css", href="../../css/templates/style.css")
	body
		a(href="templates/ui-kite/index.html") UI-Kit
		a(href="templates/jwood/index.html") JWood