doctype html
html(lang="en")
	head
		title= "My repo"
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		link(rel="stylesheet", type= "text/css", href="css/style.css")
	body
		figure
			a(href="header1/index.html")
				img(src="images/header1.jpg", alt="header1", class="img")
			figcaption Header 1
		figure
			a(href="header2/index.html")
				img(src="images/header2.jpg", alt="header2", class="img")
			figcaption Header 2
		figure
			a(href="header3/index.html")
				img(src="images/header3.jpg", alt="header3", class="img")
			figcaption Header 3
		figure
			a(href="header4/index.html")
				img(src="images/header4.jpg", alt="header4", class="img")
			figcaption Header 4
		figure
			a(href="header5/index.html")
				img(src="images/header5.jpg", alt="header5", class="img")
			figcaption Header 5
		figure
			a(href="header6/index.html")
				img(src="images/header6.jpg", alt="header6", class="img")
			figcaption Header 6
		figure
			a(href="header7/index.html")
				img(src="images/header7.jpg", alt="header7", class="img")
			figcaption Header 7
		figure
			a(href="header8/index.html")
				img(src="images/header8.jpg", alt="header8", class="img")
			figcaption Header 8