doctype html
html(lang="en")
	head
		title= "My Portfolio"
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		link(href="https://fonts.googleapis.com/css?family=Lato|Lobster" rel="stylesheet")
		link(rel="stylesheet", type="text/css", href="../../css/normalize.css")
		link(rel="stylesheet", type= "text/css", href="../../css/templates/style.css")
	body
		header(class="header")
			div(class="about-me about--header")
				div(class="social")
					a(href="https://www.facebook.com/tsukimi1394", class="icon icon--facebook icon--header")
					a(href="https://www.linkedin.com/in/tsukimi1394", class="icon icon--linkedin icon--header")
				a(href="assets/documents/CV_Dasha_Ganchukova.pdf", class="cv icon icon--cloud") Download my CV
			h1(class="title") My Portfolio
			h3(class="subtitle") Projects by Ganchukova Daria
		div(class="content")
			div(class="portfolio")
				div(class="project")
					div(class="project-img-wrapper")
						a(href="templates/ui-kite/index.html")
							img(src="../images/ui-kit/headers/header1-min.jpg", alt="Ui-Kit", class="project-img")
					div(class="project-info")
						a(href="templates/ui-kite/index.html", class="project__title in-progress") UI-Kit
						p(class="project__info") A set of different items used on the web-site.
				div(class="project")
					div(class="project-img-wrapper")
						a(href="templates/jwood/index.html")
							img(src="../images/jwood/Home-min.jpg", alt="JWood", class="project-img")
					div(class="project-info")
						a(href="templates/jwood/index.html", class="project__title") JWood
						p(class="project__info") An example of landing page.
		footer(class="footer")
			div(class="about-me about--footer")
				div(class="social")
					a(href="https://www.facebook.com/tsukimi1394", class="icon icon--facebook icon--footer")
					a(href="https://www.linkedin.com/in/tsukimi1394", class="icon icon--linkedin icon--footer")
				div(class="copy") 
					span(class="copy__text") Copyright &copy; 2017 
					span(class="copy__text") Ganchukova Daria