<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Headers</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Cabin:600" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/style.css">
  </head>
  <body>
    <section class="c-headers">
      <figure><a href="header1/index.html"><img class="c-headers__img" src="images/header1.jpg" alt="header1"></a>
        <figcaption>Header 1</figcaption>
      </figure>
      <figure><a href="header2/index.html"><img class="c-headers__img" src="images/header2.jpg" alt="header2"></a>
        <figcaption>Header 2</figcaption>
      </figure>
      <figure><a href="header3/index.html"><img class="c-headers__img" src="images/header3.jpg" alt="header3"></a>
        <figcaption>Header 3</figcaption>
      </figure>
      <figure><a href="header4/index.html"><img class="c-headers__img" src="images/header4.jpg" alt="header4"></a>
        <figcaption>Header 4</figcaption>
      </figure>
      <figure><a href="header5/index.html"><img class="c-headers__img" src="images/header5.jpg" alt="header5"></a>
        <figcaption>Header 5</figcaption>
      </figure>
      <figure><a href="header6/index.html"><img class="c-headers__img" src="images/header6.jpg" alt="header6"></a>
        <figcaption>Header 6</figcaption>
      </figure>
      <figure><a href="header7/index.html"><img class="c-headers__img" src="images/header7.jpg" alt="header7"></a>
        <figcaption>Header 7</figcaption>
      </figure>
      <figure><a href="header8/index.html"><img class="c-headers__img" src="images/header8.jpg" alt="header8"></a>
        <figcaption>Header 8</figcaption>
      </figure>
    </section>
  </body>
</html>