doctype html
html(lang="en")
	head
		title= "Footer 6"
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		link(href="https://fonts.googleapis.com/css?family=Cabin:600", rel="stylesheet")
		link(rel="stylesheet", type= "text/css", href="../../../../css/templates/ui-kit/footers/footer6/style.css")
	body
		section(class="c-footer")
			nav(class="c-footer__menu")
				a(href="#", class="c-footer__menu-item") Popular
				a(href="#", class="c-footer__menu-item") Recent
				a(href="#", class="c-footer__menu-item") Teams
				a(href="#", class="c-footer__menu-item") Debuts
				a(href="#", class="c-footer__menu-item") Playoffs
				a(href="#", class="c-footer__menu-item") Animated GIF's
			div(class="c-footer__social")
				button(class="c-footer__social-item c--facebook") 
					img(src="images/facebook.svg", alt="facebook", class="c-footer__social-item-img c--facebook")
				button(class="c-footer__social-item c--twitter") 
					img(src="images/twitter.svg", alt="twitter", class="c-footer__social-item-img c--twitter")
				button(class="c-footer__social-item c--dribbble") 
					img(src="images/dribbble.svg", alt="dribbble", class="c-footer__social-item-img c--dribbble")
				button(class="c-footer__social-item c--vimeo") 
					img(src="images/vimeo.svg", alt="vimeo", class="c-footer__social-item-img c--vimeo")
				button(class="c-footer__social-item c--google-plus") 
					img(src="images/google-plus.svg", alt="google-plus", class="c-footer__social-item-img c--google-plus")
			div(class="c-footer__copyright")
				span(class="c-footer__copyright-copy") &copy UI8 2014 - All Right Reserved