doctype html
html(lang="en")
	head
		title= "Footer 6"
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		link(href="https://fonts.googleapis.com/css?family=Cabin:600", rel="stylesheet")
		link(rel="stylesheet", type= "text/css", href="../../../../css/templates/ui-kit/footers/footer6/style.css")
	body
		section(class="c-footer")
			nav(class="c-footer__menu")
				a(href="#", class="c-footer__menu-item") Popular
				a(href="#", class="c-footer__menu-item") Recent
				a(href="#", class="c-footer__menu-item") Teams
				a(href="#", class="c-footer__menu-item") Debuts
				a(href="#", class="c-footer__menu-item") Playoffs
				a(href="#", class="c-footer__menu-item") Animated GIF's
			div(class="c-footer__social")
				a(href="#", class="c-footer__social-item c--facebook icon icon--facebook")
				a(href="#", class="c-footer__social-item c--twitter icon icon--twitter")
				a(href="#", class="c-footer__social-item c--dribbble icon icon--dribbble")
				a(href="#", class="c-footer__social-item c--vimeo icon icon--vimeo")
				a(href="#", class="c-footer__social-item c--google-plus icon icon--google-plus")
			div(class="c-footer__copyright")
				span(class="c-footer__copyright-copy") &copy UI8 2014 - All Right Reserved