.buttons {
  margin-bottom: 50px;
}

.button-wrapper {
  display: inline-block;
  min-width: 140px;
  margin: 5px;
}

.button-wrapper.button-wrapper-arrow {
  min-width: 75px;
}

.button-wrapper.button-wrapper-arrow.button-wrapper--small {
  min-width: 90px;
}

.button-wrapper.button-wrapper--large {
  min-width: 190px;
}

.button-wrapper.button-wrapper--small {
  min-width: 120px;
}

.button-wrapper.button-group-wrapper {
  overflow: hidden;
  min-width: 75px;
  height: 48px;
  vertical-align: middle;
}

.button-wrapper.button-group-wrapper.button-wrapper--small {
  height: 36px;
}

.c-button {
  width: 100%;
  padding: 13px;
  border-color: transparent;
  background-color: #65abd0;
  outline: none;
  color: #fff;
  font-size: 16px;
  letter-spacing: 0.02rem;
  text-align: center;
  text-decoration: none;
  text-shadow: 0 0 1px #fff;
  cursor: pointer;
}

.c-button:hover {
  background-color: #5093b7;
}

.c-button:active {
  background-color: #3e7c9e;
}

.c-button.c--button-rounded {
  border-radius: 6px;
}

.c-button.c--button-round {
  border-radius: 999rem;
}

.c-button.c--button-ghost {
  border: 2px solid #65abd0;
  background-color: transparent;
  color: #65abd0;
  text-shadow: 0 0 1px #65abd0;
}

.c-button.c--button-ghost:hover {
  border-color: #5093b7;
  color: #5093b7;
}

.c-button.c--button-ghost:active {
  border-color: #3e7c9e;
  color: #3e7c9e;
}

.c-button.c--button-square {
  position: relative;
  width: 48px;
  height: 48px;
  margin: 20px;
  padding: 0;
  vertical-align: middle;
}

.c-button.c--button-square.c--button-large {
  width: 60px;
  height: 60px;
}

.c-button.c--button-square.c--button-small {
  width: 36px;
  height: 36px;
}

.c-button.c--button-circle::before {
  content: '';
  position: absolute;
  top: 50%;
  left: calc(50% + 1px);
  width: 10px;
  height: 10px;
  border-top: solid 2px #fff;
  border-right: solid 2px #fff;
  transform: translate(-50%, -50%) rotate(-135deg);
  transform-origin: center;
}

.c-button.c--button-circle.c--button-large::before {
  left: calc(50% - 1px);
  transform: translate(-50%, -50%) rotate(45deg);
}

.c-button.c--button-circle.c--button-small::before {
  left: calc(50% - 1px);
  width: 7px;
  height: 7px;
  transform: translate(-50%, -50%) rotate(45deg);
}

.c-button.c--button-arrow {
  position: relative;
}

.c-button.c--button-arrow::after {
  content: ' ';
  position: absolute;
  top: 50%;
  left: calc(100% - 2px);
  width: 0;
  height: 0;
  margin-top: -24px;
  border: solid transparent;
  border-width: 24px;
  border-left-color: #65abd0;
}

.c-button.c--button-arrow:hover::after {
  border-left-color: #5093b7;
}

.c-button.c--button-arrow:active::after {
  border-left-color: #3e7c9e;
}

.c-button.c--button-arrow.c--button-small::after {
  margin-top: -18px;
  border-width: 18px;
}

.c-button.c--button-large {
  padding: 18px;
  font-size: 18px;
}

.c-button.c--button-small {
  padding: 8px;
  font-size: 14px;
}

.c-button.c--button-group {
  float: left;
  margin: 0;
  border: solid rgba(0, 0, 0, 0.2);
  border-width: 0 1px 0 1px;
}

.c-button.c--button-group:first-child {
  position: relative;
  border-left: none;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}

.c-button.c--button-group:last-child {
  position: relative;
  border-right: none;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}

.c-button-square-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 18px;
  height: 2px;
  background-color: #fff;
  transform: translate(-50%, -50%);
}

.c-button-square-icon::before {
  content: '';
  position: absolute;
  top: -5px;
  left: 0;
  width: 18px;
  height: 2px;
  background-color: #fff;
}

.c-button-square-icon::after {
  content: '';
  position: absolute;
  top: 5px;
  left: 0;
  width: 18px;
  height: 2px;
  background-color: #fff;
}

.c-button-square-icon.c--button-small {
  width: 16px;
}

.c-button-square-icon.c--button-small::before {
  width: 16px;
}

.c-button-square-icon.c--button-small::after {
  width: 16px;
}

.c-left-arrow-in-group::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 7px;
  height: 7px;
  border-top: solid 2px #fff;
  border-right: solid 2px #fff;
  transform: translate(-50%, -50%) rotate(-135deg);
  transform-origin: center;
}

.c-right-arrow-in-group::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 7px;
  height: 7px;
  border-top: solid 2px #fff;
  border-right: solid 2px #fff;
  transform: translate(-50%, -50%) rotate(45deg);
  transform-origin: center;
}

.search {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -ms-flex-align: center;
  align-items: center;
  width: 50%;
}

.search-wrapper {
  position: relative;
  width: 220px;
}

.c-search {
  width: 100%;
  margin: 10px;
  padding: 13px;
  padding-left: 35px;
  border: 2px solid #c6ccd2;
  border-radius: 6px;
  outline: none;
  font-weight: bold;
  font-size: 16px;
}

.c-search::-webkit-search-cancel-button {
  -webkit-appearance: none;
  appearance: none;
}

.c-search.c-search--round {
  border-radius: 999rem;
}

.c-search.c-search--round.c-search--focus {
  border-color: #65abd0;
}

.c-search.c-search--round.c-search--focus + .search-icon {
  border-color: #383737;
}

.c-search.c-search--round.c-search--focus + .search-icon::before {
  background-color: #383737;
}

.c-search.c-search--rounded {
  padding-left: 13px;
  border-radius: 6px;
}

.c-search.c-search--rounded.c-search--focus {
  width: 73%;
}

.c-search.c-search--small {
  padding: 8px;
  padding-left: 30px;
  font-size: 14px;
}

.c-search.c-search--small.c-search--rounded {
  padding-left: 8px;
}

.c-search.c-search--small.c-search--rounded.c-search--focus {
  width: 81%;
}

.search-icon {
  position: absolute;
  top: calc(50% - 2px);
  left: 30px;
  width: 15px;
  height: 15px;
  border: 2px solid #c6ccd2;
  border-radius: 100%;
  color: #383737;
  transform: translate(-50%, -50%) rotate(-45deg);
  cursor: pointer;
}

.search-icon::before {
  content: '';
  position: absolute;
  top: 13px;
  left: 4px;
  width: 2px;
  height: 8px;
  background-color: #c6ccd2;
}

.search-icon.c-search--rounded {
  left: 93%;
  border-color: #fff;
}

.search-icon.c-search--rounded::before {
  background-color: #fff;
}

.search-icon.c-search--small {
  width: 12px;
  height: 12px;
}

.search-icon.c-search--small::before {
  top: 10px;
  left: 3px;
}

.search-icon.c-search--small.c-search--rounded {
  left: 95%;
}

.cancel-icon {
  position: absolute;
  top: 50%;
  right: 0;
  width: 20px;
  height: 20px;
  border: 1px solid #c6ccd2;
  border-radius: 100%;
  background-color: #c6ccd2;
  transform: translate(-50%, -50%);
}

.cancel-icon::before {
  content: '';
  position: absolute;
  top: 8px;
  left: 4px;
  width: 10px;
  height: 2px;
  background-color: #fff;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.cancel-icon::after {
  content: '';
  position: absolute;
  top: 8px;
  left: 4px;
  width: 10px;
  height: 2px;
  background-color: #fff;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.c-button.c--button-search {
  position: absolute;
  top: -10px;
  right: -30px;
  border-radius: 0 6px 6px 0;
  background-color: #c6ccd2;
}

.c-button.c-search--focus {
  border-radius: 6px;
  background-color: #24aa98;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Cabin", Arial, sans-serif;
}

.c-header {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: justify;
  justify-content: space-between;
  height: 100vh;
  padding-top: 48px;
  padding-bottom: 85px;
  background-image: url(../images/back.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.c-header__header {
  position: relative;
  width: 80%;
  width: 80%;
  height: 72px;
  margin: 0 auto;
  padding: 14px 20px;
  border-radius: 6px;
  background-color: #f2f5f8;
}

.c-header__logo {
  display: inline-block;
  width: 45px;
  height: 40px;
}

.c-header__logo-img {
  width: 100%;
  height: auto;
}

.c-header__menu {
  display: inline-block;
  padding: 5px;
  vertical-align: top;
}

.c-header__menu-item {
  margin: 20px;
  color: #383737;
  font-size: 14px;
  line-height: 2.25;
  letter-spacing: 0.02rem;
  text-decoration: none;
}

.c-header__menu-item:hover {
  text-decoration: underline;
}

.c-header__main {
  text-align: center;
}

.c-header__title {
  margin-bottom: 55px;
  color: #fff;
  font-size: 68px;
  line-height: 0.85;
  letter-spacing: 0.02rem;
  text-align: center;
  text-transform: uppercase;
}

.c-header__footer {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
}

.c-header__footer-item {
  width: 20%;
  padding: 0 35px;
  background-repeat: no-repeat;
  background-position: 0 5px;
}

.c-header__footer-item.c--first {
  background-image: url(../images/pencil-icon.png);
}

.c-header__footer-item.c--second {
  background-image: url(../images/brush-icon.png);
}

.c-header__footer-item.c--third {
  background-image: url(../images/keyboard-icon.png);
}

.c-header__footer-item-title {
  margin-bottom: 10px;
  color: #fff;
  font-size: 26px;
  line-height: 1.38;
  letter-spacing: 0.02rem;
}

.c-header__footer-item-text {
  color: #fff;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.02rem;
}

.search-wrapper {
  position: absolute;
  right: 20px;
  display: inline-block;
  width: 160px;
  margin-top: -5px;
}

.c-search.c-header__search-input::-webkit-input-placeholder {
  color: #c6ccd2;
}

.c-search.c-header__search-input:-ms-input-placeholder {
  color: #c6ccd2;
}

.c-search.c-header__search-input::placeholder {
  color: #c6ccd2;
}

.c-search.c-header__search-input:focus {
  border-color: #65abd0;
}

.c-search.c-header__search-input:focus + .c-header__search-input-icon {
  border-color: #383737;
}

.c-search.c-header__search-input:focus + .c-header__search-input-icon::before {
  background-color: #383737;
}

.c-button.c-header__button {
  background-color: #db7560;
}

.c-button.c-header__button:hover {
  background-color: #c25842;
}

@media only screen and (max-width: 425px) {
  .c-header {
    padding-top: 24px;
    padding-bottom: 24px;
  }

  .c-header__header {
    height: 125px;
  }

  .c-header__logo {
    display: none;
  }

  .c-header__menu {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: wrap;
    flex-flow: wrap;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .c-header__menu-item {
    margin: 3px;
    line-height: 1.2;
  }

  .c-header__title {
    margin-bottom: 15px;
    font-size: 18px;
  }

  .c-header__footer {
    -ms-flex-direction: column;
    flex-direction: column;
    margin-right: 5px;
    margin-bottom: 10px;
    margin-left: 15px;
  }

  .c-header__footer-item {
    width: 100%;
    padding-right: 10px;
  }

  .c-header__footer-item:not(:last-child) {
    margin-bottom: 15px;
  }

  .c-header__footer-item-title {
    font-size: 18px;
  }

  .c-header__footer-item-text {
    font-size: 14px;
  }

  .search-wrapper {
    position: relative;
    display: block;
    margin: 0 auto;
  }

  .c-button.c-header__button {
    padding: 7px;
    font-size: 14px;
  }
}

@media only screen and (min-width: 426px) and (max-width: 768px) {
  .c-header__header {
    height: 115px;
  }

  .c-header__logo {
    display: block;
    margin: 0 auto;
  }

  .c-header__menu-item {
    margin: 5px;
  }

  .c-header__title {
    margin-bottom: 35px;
    font-size: 50px;
  }

  .c-header__footer-item {
    width: 30%;
    padding-right: 10px;
  }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .c-header__menu-item {
    margin: 10px;
  }

  .c-header__title {
    margin-bottom: 35px;
    font-size: 50px;
  }

  .c-header__footer-item {
    width: 30%;
    padding-right: 10px;
  }
}
/*# sourceMappingURL=style.css.map */
