doctype html
html(lang="en")
	head
		title= "Footer 2"
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		link(href="https://fonts.googleapis.com/css?family=Cabin:600", rel="stylesheet")
		link(rel="stylesheet", type= "text/css", href="../../../../css/templates/ui-kit/footers/footer2/style.css")
	body
		footer(class="c-footer")
			div(class="c-footer__info")
				h2(class="c-footer__info-title") Design assets to speed up your workflow
				p(class="c-footer__info-text") Looking cautiously round, to ascertain that they were not overheard, the two hags cowered nearer to the fire, and chuckled heartily.
				div(class="c-social")
					a(href="#", class="c-social-item c--facebook icon icon--facebook") 
						span(class="social-counter") 136
					a(href="#", class="c-social-item c--twitter icon icon--twitter") 
						span(class="social-counter") 68
					a(href="#", class="c-social-item c--dribbble icon icon--dribbble") 
						span(class="social-counter") 16
					a(href="#", class="c-social-item c--linkedin icon icon--linkedin") 
						span(class="social-counter") 13
				div(class="c-footer__info-links")
					a(href="#", class="c-footer__info-link") Terms and Conditions
					a(href="#", class="c-footer__info-link") Privacy Policy
			div(class="c-footer__menu")
				nav(class="c-footer__menu-item")
					span(class="c-footer__menu-subitem") Services
					a(href="#", class="c-footer__menu-subitem") Branding
					a(href="#", class="c-footer__menu-subitem") UX Design
					a(href="#", class="c-footer__menu-subitem") Prototype
					a(href="#", class="c-footer__menu-subitem") UI Design
					a(href="#", class="c-footer__menu-subitem") Development
				nav(class="c-footer__menu-item")
					span(class="c-footer__menu-subitem") About Us
					a(href="#", class="c-footer__menu-subitem") Company
					a(href="#", class="c-footer__menu-subitem") Our Team
					a(href="#", class="c-footer__menu-subitem") Testimonials
					a(href="#", class="c-footer__menu-subitem") Contacts