doctype html
html(lang="en")
	head
		title= "Footer 2"
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		link(href="https://fonts.googleapis.com/css?family=Cabin:600", rel="stylesheet")
		link(rel="stylesheet", type= "text/css", href="../../../../css/templates/ui-kit/footers/footer2/style.css")
	body
		section(class="c-footer")
			div(class="c-footer__info")
				h2(class="c-footer__info-title") Design assets to speed up your workflow
				p(class="c-footer__info-text") Looking cautiously round, to ascertain that they were not overheard, the two hags cowered nearer to the fire, and chuckled heartily.
				div(class="c-footer__info-social")
					button(class="c-footer__info-social-item c--facebook") 
						img(src="../../../../images/ui-kit/footers/footer2/facebook.svg", alt="facebook", class="c-footer__info-social-item-img c--facebook")
						| 136
					button(class="c-footer__info-social-item c--twitter")
						img(src="../../../../images/ui-kit/footers/footer2/twitter.svg", alt="twitter", class="c-footer__info-social-item-img c--twitter") 
						| 68
					button(class="c-footer__info-social-item c--dribbble") 
						img(src="../../../../images/ui-kit/footers/footer2/dribbble.svg", alt="dribbble", class="c-footer__info-social-item-img c--dribbble")
						| 16
					button(class="c-footer__info-social-item c--linkedin") 
						img(src="../../../../images/ui-kit/footers/footer2/linkedin.svg", alt="linkedin", class="c-footer__info-social-item-img c--linkedin")
						| 13
				div(class="c-footer__info-links")
					a(href="#", class="c-footer__info-link") Terms and Conditions
					a(href="#", class="c-footer__info-link") Privacy Policy
			div(class="c-footer__menu")
				nav(class="c-footer__menu-item")
					a(href="#", class="c-footer__menu-subitem") Services
					a(href="#", class="c-footer__menu-subitem") Branding
					a(href="#", class="c-footer__menu-subitem") UX Design
					a(href="#", class="c-footer__menu-subitem") Prototype
					a(href="#", class="c-footer__menu-subitem") UI Design
					a(href="#", class="c-footer__menu-subitem") Development
				nav(class="c-footer__menu-item")
					a(href="#", class="c-footer__menu-subitem") About Us
					a(href="#", class="c-footer__menu-subitem") Company
					a(href="#", class="c-footer__menu-subitem") Our Team
					a(href="#", class="c-footer__menu-subitem") Testimonials
					a(href="#", class="c-footer__menu-subitem") Contacts