doctype html
html(lang="en")
	head
		title= "Header 8"
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		link(href="https://fonts.googleapis.com/css?family=Cabin:600", rel="stylesheet")
		link(rel="stylesheet", type= "text/css", href="../../../../css/templates/ui-kit/headers/header8/style.css")
	body
		section(class="c-header")
			div(class="c-header__header")
				div(class="c-header__logo")
					img(src="../../../../images/ui-kit/logo.png", alt="logo", class="c-header__logo-img")
				nav(class="c-header__menu")
					a(href="#", class="c-header__menu-item") Home
					a(href="#", class="c-header__menu-item") Portfolio
					a(href="#", class="c-header__menu-item") Products
					a(href="#", class="c-header__menu-item") Services
					a(href="#", class="c-header__menu-item") About Us
					a(href="#", class="c-header__menu-item") Contact
				div(class="search-wrapper")
					input(type="search", placeholder="Search", class="c-search c-search--round c-search--small c-header__search-input")
					div(class="search-icon c-search--small c-header__search-input-icon")
			div(class="c-header__main")
				h1(class="c-header__title") We make products
				div(class="button-wrapper button-wrapper--large")
					button(class="c-button c--button-round c--button-large c-header__button") Order
			div(class="c-header__footer")
				div(class="c-header__footer-item c--first")
					h2(class="c-header__footer-item-title") Prototype
					p(class="c-header__footer-item-text") This sounded a very good reason, and Alice was quite pleased to know it. 'I never thought of that before!' she said.
				div(class="c-header__footer-item c--second")
					h2(class="c-header__footer-item-title") Design
					p(class="c-header__footer-item-text") It was some time before he obtained any answer, and the reply, when made, was unpropitious.
				div(class="c-header__footer-item c--third")
					h2(class="c-header__footer-item-title") Coding
					p(class="c-header__footer-item-text") Thus much I thought proper to tell you in relation to yourself, and to the trust I reposed in you.