doctype html
html(lang="en")
	head
		title= "Header 7"
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		link(href="https://fonts.googleapis.com/css?family=Cabin", rel="stylesheet")
		link(rel="stylesheet", type= "text/css", href="css/style.css")
	body
		section(class="c-header")
			div(class="c-header__header")
				img(src="images/logo.png", alt="logo", class="c-header__logo-img")
				nav(class="c-header__menu")
					a(href="#", class="c-header__menu-item") Products
					a(href="#", class="c-header__menu-item") Prices
					a(href="#", class="c-header__menu-item") About Us
					a(href="#", class="c-header__menu-item") Contacts
			div(class="c-header__main")
				h1(class="c-header__title") Take your UI Design to a whole new level
				p(class="c-header__text") For good, too; though, in consequence of my previous emotions, I was still occasionally seized with a stormy sob. After we had jogged on for some little time, I asked the carrier if he was going all the way.
				ul(class="c-header__list")
					li(class="c-header__list-item")
						span(class="c-header__list-item-digit c--first") 1000
						span(class="c-header__list-item-text") UI elements
					li(class="c-header__list-item")
						span(class="c-header__list-item-digit c--second") 200
						span(class="c-header__list-item-text") Basic templates
					li(class="c-header__list-item")
						span(class="c-header__list-item-digit c--third") 100
						span(class="c-header__list-item-text") Unique icons
			div(class="c-header__footer")
				button(class="c-button c--button-round c--button-square c--button-circle c-header__button-down")