doctype html
html(lang="en")
	head
		title= "Footer 3"
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		link(href="https://fonts.googleapis.com/css?family=Cabin:600", rel="stylesheet")
		link(rel="stylesheet", type= "text/css", href="../../../../css/templates/ui-kit/footers/footer3/style.css")
	body
		section(class="c-footer")
			nav(class="c-footer__menu-item")
				a(href="#", class="c-footer__menu-subitem") Joseph Wood
				a(href="#", class="c-footer__menu-subitem") Timeline
				a(href="#", class="c-footer__menu-subitem") UX Messages
				a(href="#", class="c-footer__menu-subitem") Statistic
				a(href="#", class="c-footer__menu-subitem") UI Settings
				a(href="#", class="c-footer__menu-subitem") Logout
			nav(class="c-footer__menu-item")
				a(href="#", class="c-footer__menu-subitem") Services
				a(href="#", class="c-footer__menu-subitem") Branding
				a(href="#", class="c-footer__menu-subitem") UX Design
				a(href="#", class="c-footer__menu-subitem") Prototype
				a(href="#", class="c-footer__menu-subitem") UI Design
				a(href="#", class="c-footer__menu-subitem") Development
			nav(class="c-footer__menu-item")
				a(href="#", class="c-footer__menu-subitem") About Us
				a(href="#", class="c-footer__menu-subitem") Company
				a(href="#", class="c-footer__menu-subitem") Our Team
				a(href="#", class="c-footer__menu-subitem") Testimonials
				a(href="#", class="c-footer__menu-subitem") Contacts
			div(class="c-footer__copyright")
				img(src="images/logo.png", alt="logo", class="c-footer__copyright-logo-img")
				span(class="c-footer__copyright-copy") UI8 &copy 2010-2014
				a(href="#", class="c-footer__copyright-link") Terms and Conditions
				a(href="#", class="c-footer__copyright-link") Privacy Policy