<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Footers</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Cabin:600" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../../../css/templates/ui-kit/footers/style.css">
  </head>
  <body>
    <section class="c-footers">
      <figure><a href="footer1/index.html"><img class="c-footers__img" src="images/footer1.jpg" alt="footer1"></a>
        <figcaption>Footer 1</figcaption>
      </figure>
      <figure><a href="footer2/index.html"><img class="c-footers__img" src="images/footer2.jpg" alt="footer2"></a>
        <figcaption>Footer 2</figcaption>
      </figure>
      <figure><a href="footer3/index.html"><img class="c-footers__img" src="images/footer3.jpg" alt="footer3"></a>
        <figcaption>Footer 3</figcaption>
      </figure>
      <figure><a href="footer4/index.html"><img class="c-footers__img" src="images/footer4.jpg" alt="footer4"></a>
        <figcaption>Footer 4</figcaption>
      </figure>
      <figure><a href="footer5/index.html"><img class="c-footers__img" src="images/footer5.jpg" alt="footer5"></a>
        <figcaption>Footer 5</figcaption>
      </figure>
      <figure><a href="footer6/index.html"><img class="c-footers__img" src="images/footer6.jpg" alt="footer6"></a>
        <figcaption>Footer 6</figcaption>
      </figure>
      <figure><a href="footer7/index.html"><img class="c-footers__img" src="images/footer7.jpg" alt="footer7"></a>
        <figcaption>Footer 7</figcaption>
      </figure>
      <figure><a href="footer8/index.html"><img class="c-footers__img" src="images/footer8.jpg" alt="footer8"></a>
        <figcaption>Footer 8</figcaption>
      </figure>
      <figure><a href="footer9/index.html"><img class="c-footers__img" src="images/footer9.jpg" alt="footer9"></a>
        <figcaption>Footer 9</figcaption>
      </figure>
      <figure><a href="footer10/index.html"><img class="c-footers__img" src="images/footer10.jpg" alt="footer10"></a>
        <figcaption>Footer 10</figcaption>
      </figure>
    </section>
  </body>
</html>