@charset "UTF-8";

@font-face {
  font-family: "svg-icons";
  src: url("../../../../../../fonts/svg-icons.eot");
  src: url("../../../../../../fonts/svg-icons.?#iefix") format("embedded-opentype"), url("../../../../../../fonts/svg-icons.woff") format("woff"), url("../../../../../../fonts/svg-icons.ttf") format("truetype"), url("../../../../../../fonts/svg-icons.#svg-icons") format("svg");
  font-weight: normal;
  font-style: normal;
}

.icon {
  font-family: "svg-icons";
}

.icon:before {
  /* Some common icon stuff */
}

.icon.icon--cloud:before {
  content: "";
}

.icon.icon--dribbble:before {
  content: "";
}

.icon.icon--facebook:before {
  content: "";
}

.icon.icon--google-plus:before {
  content: "";
}

.icon.icon--instagram:before {
  content: "";
}

.icon.icon--linkedin:before {
  content: "";
}

.icon.icon--scroll-down:before {
  content: "";
}

.icon.icon--settings:before {
  content: "";
}

.icon.icon--shopping-bag:before {
  content: "";
}

.icon.icon--twitter:before {
  content: "";
}

.icon.icon--vimeo:before {
  content: "";
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Cabin", Arial, sans-serif;
  letter-spacing: 0.02rem;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 1180px;
  padding: 96px 120px;
  margin: 0 auto;
}

.c-forms {
  margin-top: 12px;
  margin-bottom: 12px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.c-forms:first-child {
  margin-top: 0;
}

.c-forms:last-child {
  margin-bottom: 0;
}

.buttons {
  margin-bottom: 50px;
}

.button-wrapper {
  display: inline-block;
  min-width: 140px;
  margin: 5px;
}

.button-wrapper.button-wrapper-arrow {
  min-width: 75px;
}

.button-wrapper.button-wrapper-arrow.button-wrapper--small {
  min-width: 90px;
}

.button-wrapper.button-wrapper--large {
  min-width: 190px;
}

.button-wrapper.button-wrapper--small {
  min-width: 120px;
}

.button-wrapper.button-group-wrapper {
  overflow: hidden;
  min-width: 75px;
  height: 48px;
  vertical-align: middle;
}

.button-wrapper.button-group-wrapper.button-wrapper--small {
  height: 36px;
}

.c-button {
  width: 100%;
  padding: 13px;
  border-color: transparent;
  background-color: #65abd0;
  outline: none;
  color: #fff;
  font-size: 16px;
  letter-spacing: 0.02rem;
  text-align: center;
  text-decoration: none;
  text-shadow: 0 0 1px #fff;
  cursor: pointer;
}

.c-button:hover {
  background-color: #5093b7;
}

.c-button:active {
  background-color: #3e7c9e;
}

.c-button.c--button-rounded {
  border-radius: 6px;
}

.c-button.c--button-round {
  border-radius: 999rem;
}

.c-button.c--button-ghost {
  border: 2px solid #65abd0;
  background-color: transparent;
  color: #65abd0;
  text-shadow: 0 0 1px #65abd0;
}

.c-button.c--button-ghost:hover {
  border-color: #5093b7;
  color: #5093b7;
}

.c-button.c--button-ghost:active {
  border-color: #3e7c9e;
  color: #3e7c9e;
}

.c-button.c--button-square {
  position: relative;
  width: 48px;
  height: 48px;
  margin: 20px;
  padding: 0;
  vertical-align: middle;
}

.c-button.c--button-square.c--button-large {
  width: 60px;
  height: 60px;
}

.c-button.c--button-square.c--button-small {
  width: 36px;
  height: 36px;
}

.c-button.c--button-circle::before {
  content: '';
  position: absolute;
  top: 50%;
  left: calc(50% + 1px);
  width: 10px;
  height: 10px;
  border-top: solid 2px #fff;
  border-right: solid 2px #fff;
  transform: translate(-50%, -50%) rotate(-135deg);
  transform-origin: center;
}

.c-button.c--button-circle.c--button-large::before {
  left: calc(50% - 1px);
  transform: translate(-50%, -50%) rotate(45deg);
}

.c-button.c--button-circle.c--button-small::before {
  left: calc(50% - 1px);
  width: 7px;
  height: 7px;
  transform: translate(-50%, -50%) rotate(45deg);
}

.c-button.c--button-arrow {
  position: relative;
}

.c-button.c--button-arrow::after {
  content: ' ';
  position: absolute;
  top: 50%;
  left: calc(100% - 2px);
  width: 0;
  height: 0;
  margin-top: -24px;
  border: solid transparent;
  border-width: 24px;
  border-left-color: #65abd0;
}

.c-button.c--button-arrow:hover::after {
  border-left-color: #5093b7;
}

.c-button.c--button-arrow:active::after {
  border-left-color: #3e7c9e;
}

.c-button.c--button-arrow.c--button-small::after {
  margin-top: -18px;
  border-width: 18px;
}

.c-button.c--button-large {
  padding: 18px;
  font-size: 18px;
}

.c-button.c--button-small {
  padding: 8px;
  font-size: 14px;
}

.c-button.c--button-group {
  float: left;
  margin: 0;
  border: solid rgba(0, 0, 0, 0.2);
  border-width: 0 1px 0 1px;
}

.c-button.c--button-group:first-child {
  position: relative;
  border-left: none;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}

.c-button.c--button-group:last-child {
  position: relative;
  border-right: none;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}

.c-button-square-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 18px;
  height: 2px;
  background-color: #fff;
  transform: translate(-50%, -50%);
}

.c-button-square-icon::before {
  content: '';
  position: absolute;
  top: -5px;
  left: 0;
  width: 18px;
  height: 2px;
  background-color: #fff;
}

.c-button-square-icon::after {
  content: '';
  position: absolute;
  top: 5px;
  left: 0;
  width: 18px;
  height: 2px;
  background-color: #fff;
}

.c-button-square-icon.c--button-small {
  width: 16px;
}

.c-button-square-icon.c--button-small::before {
  width: 16px;
}

.c-button-square-icon.c--button-small::after {
  width: 16px;
}

.c-left-arrow-in-group::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 7px;
  height: 7px;
  border-top: solid 2px #fff;
  border-right: solid 2px #fff;
  transform: translate(-50%, -50%) rotate(-135deg);
  transform-origin: center;
}

.c-right-arrow-in-group::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 7px;
  height: 7px;
  border-top: solid 2px #fff;
  border-right: solid 2px #fff;
  transform: translate(-50%, -50%) rotate(45deg);
  transform-origin: center;
}

.settings {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  margin-bottom: 50px;
}

.dropdown-wrapper {
  width: 23%;
}

.dropdown-wrapper--inactive {
  width: 220px;
  height: 160px;
  margin-bottom: 24px;
}

.dropdown-wrapper--active {
  width: 220px;
}

.c-dropdown.c--inactive {
  position: relative;
  width: 100%;
  padding-left: 0;
  border-radius: 6px;
  background-color: #24aa98;
  font-size: 16px;
  letter-spacing: 0.02rem;
  text-shadow: 0 0 1px #fff;
  list-style: none;
}

.c-dropdown.c--inactive li {
  position: relative;
  display: block;
}

.c-dropdown.c--inactive li a {
  display: block;
  padding: 13px;
  color: #fff;
  text-decoration: none;
}

.c-dropdown.c--inactive ul {
  position: absolute;
  left: -9999px;
  width: 100%;
  opacity: 0;
  list-style: none;
}

.c-dropdown.c--inactive ul li {
  border-top: 1px solid #1a877b;
}

.c-dropdown.c--inactive ul li:first-of-type {
  border-top: none;
}

.c-dropdown.c--inactive ul a {
  display: block;
  white-space: nowrap;
}

.c-dropdown.c--inactive li:hover ul {
  left: 0;
  z-index: 1;
  padding-left: 0;
  opacity: 1;
}

.c-dropdown.c--inactive li:hover ul a {
  text-decoration: none;
}

.c-dropdown.c--inactive li:hover ul li:last-of-type a {
  border-radius: 0 0 6px 6px;
}

.c-dropdown.c--inactive li:hover a {
  background: #1a9385;
}

.c-dropdown.c--inactive li:hover a:hover {
  background-color: #137d72;
}

.c-dropdown.c--inactive li:hover .first {
  border-radius: 6px 6px 0 0;
  background: #24aa98;
}

.c-dropdown.c--inactive li:hover .first:hover {
  background-color: #24aa98;
}

.c-dropdown.c--inactive::after {
  content: '';
  position: absolute;
  top: 16px;
  right: 10%;
  width: 7px;
  height: 7px;
  border-top: solid 2px #fff;
  border-right: solid 2px #fff;
  transform: rotate(135deg);
  cursor: pointer;
}

.c-dropdown.c--inactive:hover::after {
  transform: rotate(-45deg);
}

.c-dropdown.c--active {
  position: relative;
  width: 100%;
  padding-left: 0;
  border-radius: 6px;
  background-color: #24aa98;
  font-size: 16px;
  text-shadow: 0 0 1px #fff;
  list-style: none;
}

.c-dropdown.c--active li {
  position: relative;
  display: block;
}

.c-dropdown.c--active li a {
  display: block;
  padding: 13px;
  color: #fff;
  text-decoration: none;
}

.c-dropdown.c--active ul {
  width: 100%;
  padding-left: 0;
  border-radius: 0 0 6px 6px;
  background-color: #1a9385;
  list-style: none;
}

.c-dropdown.c--active ul li {
  border-top: 1px solid #1a877b;
}

.c-dropdown.c--active ul li:first-of-type {
  border-top: none;
}

.c-dropdown.c--active ul a {
  display: block;
  white-space: nowrap;
}

.c-dropdown.c--active ul a:hover {
  background-color: #137d72;
}

.c-dropdown.c--active ul li:last-of-type a {
  border-radius: 0 0 6px 6px;
}

.c-dropdown.c--active::after {
  content: '';
  position: absolute;
  top: 16px;
  right: 10%;
  width: 7px;
  height: 7px;
  border-top: solid 2px #fff;
  border-right: solid 2px #fff;
  transform: rotate(-45deg);
  cursor: pointer;
}

.radio-check {
  width: 27%;
  margin-left: 15px;
  font-weight: bold;
  font-size: 16px;
  letter-spacing: 0.02rem;
}

.c-radio-form {
  margin-top: -13px;
}

.c-radio {
  position: relative;
  padding: 13px;
}

.c-radio [type='radio'] {
  opacity: 0;
}

.c-radio [type='radio'] + label {
  cursor: pointer;
}

.c-radio [type='radio'] + label::before {
  content: '';
  position: absolute;
  top: -2px;
  left: 16px;
  z-index: -1;
  width: 100%;
  height: 70%;
  background: url(../../../../images/ui-kit/base/radio.png) no-repeat;
  background-position: 0 16px;
  cursor: pointer;
}

.c-radio [type='radio']:checked + label::before {
  top: 16px;
  z-index: -1;
  background-position: 0 -16px;
}

.c-radio [type='radio']:disabled + label {
  color: #c6ccd2;
}

.c-radio label {
  padding-left: 13px;
}

.c-check {
  position: relative;
  padding: 13px;
}

.c-check [type='checkbox'] {
  opacity: 0;
}

.c-check [type='checkbox'] + label {
  cursor: pointer;
}

.c-check [type='checkbox'] + label::before {
  content: '';
  position: absolute;
  top: -2px;
  left: 16px;
  z-index: -1;
  width: 100%;
  height: 32px;
  background: url(../../../../images/ui-kit/base/checkbox.png) no-repeat;
  background-position: 0 16px;
  cursor: pointer;
}

.c-check input[type='checkbox']:checked + label::before {
  top: 16px;
  z-index: -1;
  background-position: 0 -16px;
}

.c-check input[type='checkbox']:disabled + label {
  color: #c6ccd2;
}

.c-check label {
  padding-left: 13px;
}

.settings-different {
  width: 50%;
}

.c-slider2x {
  width: 422px;
  height: 16px;
  margin: 20px;
  margin-top: -10px;
}

.c-slider2x input[type='range'] {
  width: 100%;
  height: 2px;
  border-radius: 1px;
  background-color: #c6ccd2;
  outline: none;
  -webkit-appearance: none;
}

.c-slider2x input[type='range']::-moz-range-track {
  height: 2px;
  border: none;
  border-radius: 1px;
  background-color: #c6ccd2;
}

.c-slider2x input[type='range']::-moz-range-thumb {
  width: 14px;
  height: 14px;
  border: 2px solid #fff;
  border-radius: 100%;
  background-color: #d9c26c;
  cursor: pointer;
}

.c-slider2x input[type=range]::-webkit-slider-thumb {
  width: 14px;
  height: 14px;
  border: 2px solid #fff;
  border-radius: 100%;
  background-color: #d9c26c;
  cursor: pointer;
  -webkit-appearance: none;
}

.c-slider2x input[type='range']::-ms-fill-lower {
  background-color: #d9c26c;
}

.c-slider2x input[type='range']::-ms-fill-upper {
  background-color: #c6ccd2;
}

.c-slider2x input[type='range']::-ms-track {
  height: 2px;
  border: none;
  border-radius: 1px;
  background-color: #c6ccd2;
}

.c-slider2x input[type='range']::-ms-thumb {
  width: 14px;
  height: 214px;
  border: 2px solid #fff;
  border-radius: 100%;
  background-color: #d9c26c;
  cursor: pointer;
}

.another-wrapper {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.c-switchers {
  width: 20%;
}

.c-switchers [type="checkbox"] {
  opacity: 0;
}

.c-switchers label {
  position: relative;
  display: block;
  width: 72px;
  height: 36px;
  padding: 7px;
  border: 2px solid #c6ccd2;
  border-radius: 999rem;
  color: #24aa98;
  font-weight: bold;
}

.c-switchers label::before {
  content: 'Off';
  position: absolute;
  right: 10px;
  color: #c6ccd2;
}

.c-switchers label::after {
  content: '';
  position: absolute;
  top: 2px;
  left: 3px;
  display: block;
  width: 28px;
  height: 28px;
  border-radius: 100%;
  background-color: #c6ccd2;
  transition: .5s;
}

.c-switchers [type='checkbox']:checked + label::after {
  left: 33px;
  background-color: #24aa98;
}

.c-switchers [type='checkbox']:checked + label {
  border-color: #24aa98;
}

.c-switchers.c--dark label {
  background-color: #c6ccd2;
  color: #fff;
}

.c-switchers.c--dark label::before {
  color: #fff;
}

.c-switchers.c--dark label::after {
  background-color: #fff;
}

.c-switchers.c--dark input[type='checkbox']:checked + label::after {
  background-color: #fff;
}

.c-switchers.c--dark input[type='checkbox']:checked + label {
  background-color: #24aa98;
}

.other-wrapper {
  width: 80%;
}

.c-slider {
  width: 300px;
  height: 16px;
}

.c-slider input[type='range'] {
  width: 100%;
  height: 2px;
  border-radius: 1px;
  background-color: #c6ccd2;
  outline: none;
  -webkit-appearance: none;
}

.c-slider input[type='range']::-moz-range-track {
  height: 2px;
  border: none;
  border-radius: 1px;
  background-color: #c6ccd2;
}

.c-slider input[type=range]::-moz-range-progress {
  background-color: #65abd0;
}

.c-slider input[type='range']::-moz-range-thumb {
  width: 14px;
  height: 14px;
  border: 2px solid #fff;
  border-radius: 100%;
  background-color: #65abd0;
  cursor: pointer;
}

.c-slider input[type=range]::-webkit-slider-thumb {
  width: 14px;
  height: 14px;
  border: 2px solid #fff;
  border-radius: 100%;
  background-color: #65abd0;
  cursor: pointer;
  -webkit-appearance: none;
}

.c-slider input[type='range']::-ms-fill-lower {
  background-color: #65abd0;
}

.c-slider input[type='range']::-ms-fill-upper {
  background-color: #c6ccd2;
}

.c-slider input[type=range]::-ms-tooltip {
  display: none;
}

.c-slider input[type='range']::-ms-track {
  height: 2px;
  border: none;
  border-radius: 1px;
  background-color: #c6ccd2;
}

.c-slider input[type='range']::-ms-thumb {
  width: 14px;
  height: 214px;
  border: 2px solid #fff;
  border-radius: 100%;
  background-color: #65abd0;
  cursor: pointer;
}

.loader-wrap {
  width: 300px;
  margin: 20px;
}

.c-loader {
  width: 100%;
  height: 36px;
  background-color: #dee2e7;
  border-radius: 999rem;
  padding: 3px;
}

.c-loader__inner {
  background-color: #24aa98;
  height: 100%;
  border-radius: 999rem;
  text-align: right;
}

.c-loader__inner::after {
  content: attr(data-width);
  color: #fff;
  display: inline-block;
  margin-right: 10px;
  margin-top: 7px;
  font-size: 14px;
  letter-spacing: 0.02rem;
}

.c-tooltips {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.c-tooltip {
  position: relative;
  width: 120px;
  height: 36px;
  margin: 15px;
  padding: 10px 5px;
  border-radius: 6px;
  background: #383737;
  color: #fff;
  font-size: 14px;
  letter-spacing: 0.02rem;
  text-align: center;
}

.c-tooltip.c--top::before {
  content: '';
  position: absolute;
  top: 100%;
  left: 45%;
  width: 0;
  height: 0;
  border-top: 7px solid #383737;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
}

.c-tooltip.c--left::before {
  content: '';
  position: absolute;
  top: 42%;
  right: 100%;
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-right: 7px solid #383737;
  border-bottom: 5px solid transparent;
}

.c-tooltip.c--right::before {
  content: '';
  position: absolute;
  top: 42%;
  left: 100%;
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 7px solid #383737;
}

.c-tooltip.c--bottom::before {
  content: '';
  position: absolute;
  bottom: 100%;
  left: 45%;
  width: 0;
  height: 0;
  border-right: 5px solid transparent;
  border-bottom: 7px solid #383737;
  border-left: 5px solid transparent;
}

.table {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  margin: 50px 0;
}

.nav-wrapper {
  width: 160px;
}

.c-nav__title {
  display: inline-block;
  width: 100%;
  padding: 13px;
  padding-bottom: 0;
  color: #b4bbc2;
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 0.02rem;
}

.c-nav__items {
  width: 100%;
  color: #383737;
  font-weight: bold;
  font-size: 16px;
  letter-spacing: 0.02rem;
  padding: 0;
}

.c-nav__items li {
  list-style: none;
  width: 100%;
}

.c-nav__items a {
  padding: 13px;
  border-radius: 6px;
  display: block;
  text-decoration: none;
}

.c-nav__items a:link {
  color: #383737;
}

.c-nav__items a:visited {
  color: #383737;
}

.c-nav__items a:hover {
  background-color: #65abd0;
  color: #fff;
}

.c-nav__items a.active {
  background-color: #65abd0;
  color: #fff;
}

.c-nav__items:not(:last-child) {
  border-bottom: 2px solid #dee2e7;
}

.table-wrapper {
  width: 700px;
}

.c-table {
  border-collapse: collapse;
  width: 100%;
  color: #383737;
  font-weight: 700;
  letter-spacing: 0.02rem;
  text-align: left;
}

.c-table th {
  padding: 15px;
  color: #b4bbc2;
  font-size: 14px;
}

.c-table td {
  padding: 15px;
  border-top: 2px solid #dee2e7;
  font-size: 16px;
}

.c-table td:first-child {
  color: #b4bbc2;
}

.c-table form {
  position: relative;
}

.c-table [type='checkbox'] {
  opacity: 0;
}

.c-table [type='checkbox'] + label {
  position: absolute;
  top: 3px;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 80%;
  background: url(../../../../images/ui-kit/base/checkbox.png) no-repeat;
  cursor: pointer;
}

.c-table [type='checkbox']:checked + label {
  z-index: -1;
  background-position: 0 -16px;
}

.c-table .active {
  color: #24aa98;
}

.c-form {
  background-color: #f2f5f8;
  border-radius: 6px;
}

.c-form--medium-wrapper {
  width: 49%;
}

.c-form--small-wrapper {
  width: 32%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-direction: column;
  flex-direction: column;
}

.c-form--big-wrapper {
  width: 66%;
}

.c-form--full-wrapper {
  width: 100%;
}

.c-form__header {
  border-radius: 6px 6px 0 0;
  margin-bottom: 20px;
}

.c-form__header.c-form--sign-up {
  background: url(../../../../images/ui-kit/forms/back1.jpg) no-repeat;
}

.c-form__header.c-form--sign-in {
  background: url(../../../../images/ui-kit/forms/back2.jpg) no-repeat;
}

.c-form__header.c-form__header--small {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 20px;
  padding-bottom: 0;
}

.c-form__header.c-form--payment {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.c-form__header-link {
  text-align: right;
  text-decoration: none;
  color: #fff;
  font-size: 14px;
  display: block;
  padding-top: 20px;
  padding-right: 18px;
}

.c-form__header-link:hover {
  text-decoration: underline;
}

.c-form__header-link.c-form__header--small {
  color: #65abd0;
  padding: 0;
}

.c-form__title {
  text-transform: uppercase;
  font-size: 16px;
  color: #383737;
}

.c-form__title.c-form__title--big {
  color: #fff;
  font-size: 32px;
  letter-spacing: 0.05rem;
  padding-top: 24px;
  padding-bottom: 40px;
  text-align: center;
}

.c-form__title.c-form--payment {
  width: 50%;
}

.c-form__main {
  padding: 30px;
  padding-top: 10px;
}

.c-form__main-link {
  text-decoration: none;
  display: block;
  text-align: center;
  color: #b4bbc2;
  font-size: 14px;
  margin-bottom: 20px;
}

.c-form__main-link:hover {
  text-decoration: underline;
}

.c-form__main.c-form--subscribe {
  padding: 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.c-form__main.c-form--big-contact {
  padding-bottom: 0;
  padding-right: 10px;
  padding-left: 10px;
}

.c-form__main.c-form--small-contact {
  padding: 0;
}

.c-form__main.c-form--payment {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 10px 15px 5px 10px;
}

.c-form__main.c-form--address {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-flow: wrap;
  flex-flow: wrap;
  padding: 10px 15px 5px 10px;
}

.c-form__main-inputs-wrapper {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-flow: wrap;
  flex-flow: wrap;
}

.c-form .input-wrapper {
  width: 400px;
  margin-top: 12px;
  margin-bottom: 16px;
  position: relative;
}

.c-form .input-wrapper:first-child {
  margin-top: 0;
}

.c-form .input-wrapper.c-form__main--small {
  width: 240px;
}

.c-form .input-wrapper.c-form--subscribe {
  width: 199px;
}

.c-form .input-wrapper.c-form--big-contact {
  width: 260px;
}

.c-form .input-wrapper.c-form--big-contact.c-form--select {
  position: relative;
}

.c-form .input-wrapper.c-form--big-contact.c-form--select::after {
  content: '';
  position: absolute;
  top: 50%;
  right: 12%;
  width: 7px;
  height: 7px;
  border-top: solid 2px #fff;
  border-right: solid 2px #fff;
  transform: translateY(-50%) rotate(135deg);
  cursor: pointer;
}

.c-form .input-wrapper.c-form--small-contact {
  width: 260px;
  margin-top: 10px;
  margin-bottom: 24px;
}

.c-form .input-wrapper.c-form--payment {
  width: 324px;
}

.c-form .input-wrapper.c-form--small-select {
  width: 152px;
  position: relative;
}

.c-form .input-wrapper.c-form--small-select:not(:last-child) {
  margin-right: 20px;
}

.c-form .input-wrapper.c-form--small-select::after {
  content: '';
  position: absolute;
  top: 50%;
  right: 12%;
  width: 7px;
  height: 7px;
  border-top: solid 2px #fff;
  border-right: solid 2px #fff;
  transform: translateY(-50%) rotate(135deg);
  cursor: pointer;
}

.c-form .input-wrapper.number {
  width: 74px;
}

.c-form .input-wrapper.number:not(:last-child) {
  margin-right: 10px;
}

.c-form .input-wrapper.c-form--address {
  width: 273px;
}

.c-form .input-wrapper.c-form--address.c-form--select {
  position: relative;
}

.c-form .input-wrapper.c-form--address.c-form--select::after {
  content: '';
  position: absolute;
  top: 50%;
  right: 12%;
  width: 7px;
  height: 7px;
  border-top: solid 2px #fff;
  border-right: solid 2px #fff;
  transform: translateY(-50%) rotate(135deg);
  cursor: pointer;
}

.c-form .input-label-wrapper label {
  display: block;
  font-size: 16px;
  color: #b4bbc2;
  text-transform: capitalize;
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
}

.c-form .input-label-wrapper.group {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -ms-flex-flow: wrap;
  flex-flow: wrap;
}

.c-form__input {
  width: 100%;
  padding: 14px;
  font-size: 16px;
  border-radius: 6px;
  border: 2px solid #c6ccd2;
  outline: none;
  color: #383737;
  font-weight: 600;
  font-family: "Cabin", Arial, sans-serif;
}

.c-form__input.c-form__input--icon {
  padding-left: 45px;
}

.c-form__input:focus {
  border-color: #65abd0;
}

.c-form__input:focus + .mail-icon {
  background-color: #383737;
}

.c-form__input:focus + .lock-icon {
  background-color: #383737;
  border-color: #383737;
}

.c-form__input:focus + .lock-icon::before {
  border-color: #383737;
}

.c-form__input:valid ~ .mail-icon {
  background-color: #383737;
}

.c-form__input:valid ~ .lock-icon {
  background-color: #383737;
  border-color: #383737;
}

.c-form__input:valid ~ .lock-icon::before {
  border-color: #383737;
}

.c-form__input::-webkit-input-placeholder {
  color: #c6ccd2;
  font-weight: normal;
}

.c-form__input:-ms-input-placeholder {
  color: #c6ccd2;
  font-weight: normal;
}

.c-form__input::placeholder {
  color: #c6ccd2;
  font-weight: normal;
}

.c-form__footer {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-align: baseline;
  align-items: baseline;
}

.c-form__footer.c-form-social {
  border-top: 2px solid #dee2e7;
  margin-left: 30px;
  margin-right: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
  position: relative;
}

.c-form__footer.right-position {
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.c-form__footer-text {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  text-transform: uppercase;
  color: #c6ccd2;
  font-size: 14px;
  background-color: #f2f5f8;
  padding: 10px;
}

.c-form__footer-link {
  text-decoration: none;
  color: #65abd0;
  font-size: 16px;
  position: relative;
  margin-left: 20px;
  display: block;
}

.c-form__footer-link:hover {
  text-decoration: underline;
}

.c-form__footer-link::before {
  content: '';
  position: absolute;
  top: 50%;
  margin-left: -20px;
  width: 6px;
  height: 6px;
  border-top: solid 2px #65abd0;
  border-right: solid 2px #65abd0;
  transform: translateY(-50%) rotate(-135deg);
  cursor: pointer;
}

.c-form__footer.c-form--payment {
  padding: 20px 15px 10px 10px;
}

.c-form__footer.c-form--address {
  padding: 20px 15px 10px 10px;
}

.c-form__footer.c-form--cart {
  padding: 20px 15px 10px 10px;
}

.c-form__social-link {
  width: 49%;
  text-align: center;
  display: block;
  color: #fff;
  font-size: 16px;
  text-decoration: none;
  padding: 16px;
  border-radius: 6px;
}

.c-form__social-link.c--facebook {
  background-color: #3162a2;
}

.c-form__social-link.c--facebook::before {
  margin-right: 7px;
  font-size: 14px;
}

.c-form__social-link.c--facebook:hover {
  background-color: #235493;
}

.c-form__social-link.c--twitter {
  background-color: #65abd0;
}

.c-form__social-link.c--twitter::before {
  margin-right: 7px;
  font-size: 14px;
}

.c-form__social-link.c--twitter:hover {
  background-color: #5093b7;
}

.c-form.c-form--subscribe {
  padding: 20px;
}

.c-form__text {
  padding-left: 4px;
  padding-right: 4px;
  margin-bottom: 10px;
  display: block;
  color: #b4bbc2;
  font-size: 14px;
  line-height: 1.28;
}

.c-form.c-form--big-contact {
  padding: 20px;
}

.c-form.c-form--small-contact {
  padding: 20px;
}

.c-form.c-form--cart {
  padding: 20px;
}

.c-form.c-form--address {
  padding: 20px;
}

.c-form.c-form--payment {
  padding: 20px;
}

.c-form__select {
  font-size: 16px;
  color: #fff;
  padding: 13px;
  width: 100%;
  border-radius: 6px;
  outline: none;
  font-weight: 600;
  font-family: "Cabin", Arial, sans-serif;
  letter-spacing: 0.02rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
}

.c-form__select.c-form--big-contact {
  background-color: #65abd0;
  border: 1px solid #65abd0;
}

.c-form__select.c-form--big-contact:hover {
  background-color: #5093b7;
  border-color: #5093b7;
}

.c-form__select.c-form--payment {
  background-color: #d9c26c;
  border: 1px solid #d9c26c;
}

.c-form__select.c-form--payment:hover {
  background-color: #c9b248;
  border-color: #c9b248;
}

.c-form__select.c-form--address {
  background-color: #d9c26c;
  border: 2px solid #d9c26c;
}

.c-form__select.c-form--address:hover {
  background-color: #c9b248;
  border-color: #c9b248;
}

.c-form__message {
  border-radius: 6px;
  border: 2px solid #c6ccd2;
  font-family: "Cabin", Arial, sans-serif;
  line-height: 1.375;
  font-size: 16px;
  font-weight: 600;
  margin-top: 12px;
  margin-bottom: 16px;
  padding: 15px;
  outline: none;
}

.c-form__message.c-form--big-contact {
  width: 560px;
  height: 144px;
}

.c-form__message.c-form--small-contact {
  width: 260px;
  height: 144px;
}

.c-form__message:focus {
  border-color: #65abd0;
}

.c-form__billing-address {
  margin-left: 10px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-direction: column;
  flex-direction: column;
}

.c-form__billing-address-text {
  line-height: 1.375;
  color: #b4bbc2;
  font-size: 16px;
}

.c-form--payment-sum {
  display: block;
  text-align: right;
  color: #383737;
  font-size: 24px;
  font-weight: 600;
}

.c-form--subtotal {
  margin-top: 20px;
  text-align: right;
  margin-right: 30px;
  font-weight: 600;
}

.c-form--subtotal-text {
  color: #b4bbc2;
  font-size: 14px;
  margin-right: 15px;
}

.c-form--subtotal-quantity {
  color: #383737;
  font-size: 16px;
}

.mail-icon {
  background-color: #c6ccd2;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 13px;
  width: 20px;
  height: 14px;
  border-radius: 2px;
  border: 1px solid #fff;
  pointer-events: none;
}

.mail-icon:before {
  content: '';
  position: absolute;
  left: 9px;
  top: -5px;
  width: 1px;
  height: 12px;
  background-color: #fff;
  transform-origin: bottom;
  transform: rotate(-54deg);
}

.mail-icon:after {
  content: '';
  position: absolute;
  left: 8px;
  top: -5px;
  width: 1px;
  height: 12px;
  background-color: #fff;
  transform-origin: bottom;
  transform: rotate(54deg);
}

.lock-icon {
  background-color: #c6ccd2;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 16px;
  width: 14px;
  height: 11px;
  border-radius: 2px;
  border: 2px solid #c6ccd2;
  pointer-events: none;
}

.lock-icon:before {
  content: '';
  position: absolute;
  left: 1px;
  top: -8px;
  width: 4px;
  height: 6px;
  border-radius: 4px 4px 0 0;
  border-top: 2px solid #c6ccd2;
  border-left: 2px solid #c6ccd2;
  border-right: 2px solid #c6ccd2;
}

.button-wrapper.c-form--sign-up {
  display: block;
  margin: 0;
}

.button-wrapper.c-form--sign-in {
  display: block;
  margin: 0;
}

.button-wrapper.c-form--reset {
  display: block;
  margin: 0;
}

.button-wrapper.c-form--subscribe {
  min-width: 0;
  width: 48px;
  height: 48px;
  margin: 0;
}

.button-wrapper.c-form--ok {
  margin: 0;
}

.c-button.c-form--sign-up {
  font-size: 18px;
}

.c-button.c-form--sign-in {
  font-size: 18px;
  background-color: #24aa98;
}

.c-button.c-form--sign-in:hover {
  background-color: #1a9385;
}

.c-button.c-form--reset {
  font-size: 18px;
  background-color: #db7560;
}

.c-button.c-form--reset:hover {
  background-color: #c25842;
}

.c-button.c-form--subscribe {
  background-color: #d9c26c;
  height: 100%;
  position: relative;
}

.c-button.c-form--subscribe:hover {
  background-color: #c9b248;
}

.c-button.c-form--subscribe.c--button-circle::before {
  left: 45%;
  transform: translate(-50%, -50%) rotate(45deg);
}

.c-button.c-form--ok {
  padding: 15px 20px;
  background-color: #24aa98;
}

.c-button.c-form--ok:hover {
  background-color: #1a9385;
}

.c-button.c-form--ok .c-form--arrow-btn {
  margin-right: 10px;
  position: relative;
  text-transform: capitalize;
}

.c-button.c-form--ok .c-form--arrow-btn::after {
  content: '';
  position: absolute;
  top: 50%;
  margin-left: 10px;
  width: 6px;
  height: 6px;
  border-top: solid 2px #fff;
  border-right: solid 2px #fff;
  transform: translateY(-50%) rotate(45deg);
  cursor: pointer;
}

.c-button--minus {
  width: 26px;
  height: 26px;
  border-radius: 6px;
  background-color: #db7560;
  position: relative;
  cursor: pointer;
  outline: none;
  border: 1px solid #db7560;
}

.c-button--minus:hover {
  background-color: #c25842;
  border-color: #c25842;
}

.c-button--minus::after {
  content: "";
  width: 10px;
  height: 2px;
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
}

.c-button--plus {
  width: 26px;
  height: 26px;
  border-radius: 6px;
  background-color: #24aa98;
  position: relative;
  cursor: pointer;
  outline: none;
  border: 1px solid #24aa98;
}

.c-button--plus:hover {
  background-color: #1a9385;
  border-color: #1a9385;
}

.c-button--plus::after {
  content: "";
  width: 10px;
  height: 2px;
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
}

.c-button--plus::before {
  content: "";
  height: 10px;
  width: 2px;
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
}

.c-check.c-form__checkbox {
  z-index: 100;
  padding: 0;
  padding-bottom: 10px;
}

.c-check.c-form__checkbox label {
  vertical-align: middle;
  padding-left: 5px;
  color: #b4bbc2;
  font-size: 14px;
  line-height: 1.71;
}

.c-check.c-form__checkbox [type='checkbox'] + label::before {
  top: -12px;
  left: 0;
}

.c-check.c-form__checkbox [type='checkbox']:checked + label::before {
  top: 4px;
}

.c-check.c-form__checkbox .c-form--payment {
  font-weight: 600;
  color: #383737;
}

.c-table.c-form--cart th:not(:first-child) {
  text-align: center;
}

.c-table.c-form--cart th:first-child {
  padding-left: 110px;
}

.c-table.c-form--cart td {
  padding: 10px;
  text-transform: capitalize;
}

.c-table.c-form--cart td:not(:first-child) {
  text-align: center;
}

.c-table.c-form--cart td:first-child {
  color: #383737;
}

.c-item {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -ms-flex-align: center;
  align-items: center;
}

.c-item__content {
  margin-left: 20px;
}

.c-item__color {
  color: #c6ccd2;
  margin-right: 20px;
  position: relative;
}

.c-item__color span {
  margin-right: 10px;
  font-weight: normal;
}

.c-item__color [type='radio'] {
  opacity: 0;
  margin-right: 13px;
}

.c-item__color [type='radio'] + label {
  cursor: pointer;
}

.c-item__color #belt-color1 + label::before {
  content: '';
  position: absolute;
  top: -16px;
  left: 53px;
  width: 16px;
  height: 32px;
  background: url(../../../../images/ui-kit/forms/belt-color1.png) no-repeat;
  background-position: 0 16px;
  cursor: pointer;
}

.c-item__color #belt-color1:checked + label::before {
  top: 0;
  background-position: 0 -16px;
}

.c-item__color #belt-color2 + label::before {
  content: '';
  position: absolute;
  top: -16px;
  left: 83px;
  width: 16px;
  height: 32px;
  background: url(../../../../images/ui-kit/forms/belt-color2.png) no-repeat;
  background-position: 0 16px;
  cursor: pointer;
}

.c-item__color #belt-color2:checked + label::before {
  top: 0;
  background-position: 0 -16px;
}

.c-item__color #belt-color3 + label::before {
  content: '';
  position: absolute;
  top: -16px;
  left: 113px;
  width: 16px;
  height: 32px;
  background: url(../../../../images/ui-kit/forms/belt-color3.png) no-repeat;
  background-position: 0 16px;
  cursor: pointer;
}

.c-item__color #belt-color3:checked + label::before {
  top: 0;
  background-position: 0 -16px;
}

.c-item__color #belt-color4 + label::before {
  content: '';
  position: absolute;
  top: -16px;
  left: 143px;
  width: 16px;
  height: 32px;
  background: url(../../../../images/ui-kit/forms/belt-color4.png) no-repeat;
  background-position: 0 16px;
  cursor: pointer;
}

.c-item__color #belt-color4:checked + label::before {
  top: 0;
  background-position: 0 -16px;
}

.c-item__color #belt-color5 + label::before {
  content: '';
  position: absolute;
  top: -16px;
  left: 173px;
  width: 16px;
  height: 32px;
  background: url(../../../../images/ui-kit/forms/belt-color5.png) no-repeat;
  background-position: 0 16px;
  cursor: pointer;
}

.c-item__color #belt-color5:checked + label::before {
  top: 0;
  background-position: 0 -16px;
}

.c-item__color #shoes-color1 + label::before {
  content: '';
  position: absolute;
  top: -16px;
  left: 53px;
  width: 16px;
  height: 32px;
  background: url(../../../../images/ui-kit/forms/shoes-color1.png) no-repeat;
  background-position: 0 16px;
  cursor: pointer;
}

.c-item__color #shoes-color1:checked + label::before {
  top: 0;
  background-position: 0 -16px;
}

.c-item__color #shoes-color2 + label::before {
  content: '';
  position: absolute;
  top: -16px;
  left: 83px;
  width: 16px;
  height: 32px;
  background: url(../../../../images/ui-kit/forms/shoes-color2.png) no-repeat;
  background-position: 0 16px;
  cursor: pointer;
}

.c-item__color #shoes-color2:checked + label::before {
  top: 0;
  background-position: 0 -16px;
}

.c-item__size {
  color: #c6ccd2;
}

.c-item__size span {
  font-weight: normal;
}

.c-item__size-number {
  margin-left: 10px;
  font-size: 12px;
  line-height: 1.67;
  color: #fff;
  background-color: #c6ccd2;
  border-radius: 6px;
  padding-left: 5px;
  padding-right: 5px;
}

.c-item__info {
  margin-top: 10px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.c-item__quantity {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -ms-flex-align: center;
  align-items: center;
}
/*# sourceMappingURL=style.css.map */
