.c-footer {
	@include respond-to(handhelds) {
		flex-direction: column;
		align-items: center;
		height: 370px;
	}
	@include respond-to(tablets) {
		flex-direction: column;
		align-items: center;
		height: 325px;
		&__logo-img {
			text-align: center;
		}
	}

	display: flex;
	justify-content: space-between;
	height: 168px;

	background-color: #f2f5f8;
	&__logo-menu {
		@include respond-to(handhelds) {
			display: flex;
			flex-direction: column;
			align-items: center;
			margin-left: 0;
		}
		@include respond-to(tablets) {
			margin-left: 0;
		}

		margin-top: $normal-margin;
		margin-left: 50px;
	}
	&__menu {
		@include respond-to(handhelds) {
			margin-left: 0;
		}
		@include respond-to(tablets) {
			margin-left: 30px;
		}

		display: inline-block;
		margin-top: $small-margin;
		margin-left: $normal-margin;

		vertical-align: top;
		&-item {
			@include respond-to(handhelds) {
				margin-right: 10px;
			}
			@include respond-to(tablets) {
				margin-right: 20px;
			}
			@include respond-to(medium-screens) {
				margin-right: 20px;
			}
			@include respond-to(wide-screens) {
				margin-right: 40px;
			}

			color: $black;
			font-size: $medium-font;
			line-height: 2.25;
			letter-spacing: $letter-spacing;
			text-decoration: none;
			&:hover {
				text-decoration: underline;
			}
		}
	}
	&__social {
		@include respond-to(tablets) {
			display: block;
		}

		display: inline-block;
		margin-top: 20px;

		text-align: center;
		vertical-align: top;
		&-item {
			display: inline-block;
			width: $small-width;
			height: $small-height;
			border: 1px solid transparent;

			background-color: transparent;
			outline: none;

			vertical-align: top;
			&:hover {
				border-color: $black;

				border-radius: $round-border-radius;

				cursor: pointer;
			}
			&-img {
				width: auto;
				height: 14px;
			}
		}
	}
	&__address {
		@include respond-to(handhelds) {
			margin-top: 0;
			margin-right: 0;
			padding-bottom: 30px;
		}
		@include respond-to(tablets) {
			margin-right: 0;
			padding-bottom: 30px;
		}

		margin-top: 40px;
		margin-right: 120px;

		font-size: $medium-font;
		letter-spacing: $letter-spacing;
		&-city {
			display: block;

			color: $black;
			line-height: 2.25;
		}
		&-street {
			display: block;

			color: $dark-grey;
			line-height: 1.25;
		}
		&-tel {
			display: block;

			color: $dark-grey;
			line-height: 1.25;
			text-decoration: none;

			cursor: default;
		}
	}
}
