doctype html
html(lang="en")
	head
		title= "Additional Headers"
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		link(href="https://fonts.googleapis.com/css?family=Cabin:600", rel="stylesheet")
		link(rel="stylesheet", type= "text/css", href="../../../css/templates/ui-kit/navigation/style.css")
	body
		section(class="c-nav")
			figure
				a(href="second-menu/index.html")
					img(src="../../../../images/ui-kit/navigation/additional-headers/second-menu-min.png", alt="second-menu", class="c-nav__img")
				figcaption Second menu
			figure
				a(href="promo-video/index.html")
					img(src="../../../../images/ui-kit/navigation/additional-headers/promo-video-min.png", alt="promo-video", class="c-nav__img")
				figcaption Promo video
			figure
				a(href="notifications/index.html")
					img(src="../../../../images/ui-kit/navigation/additional-headers/notifications-min.png", alt="notifications", class="c-nav__img")
				figcaption Notifications