doctype html
html(lang="en")
	head
		title= "Footer 7"
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		link(href="https://fonts.googleapis.com/css?family=Cabin:600", rel="stylesheet")
		link(rel="stylesheet", type= "text/css", href="../../../../css/templates/ui-kit/footers/footer7/style.css")
	body
		footer(class="c-footer")
			div(class="c-footer__logo")
				img(src="../../../../images/ui-kit/logo.png", alt="logo", class="c-footer__logo-img")
			nav(class="c-footer__menu-item")
				span(class="c-footer__menu-subitem") Women
				a(href="#", class="c-footer__menu-subitem") Coats
				a(href="#", class="c-footer__menu-subitem") Outerwear
				a(href="#", class="c-footer__menu-subitem") Dresses
				a(href="#", class="c-footer__menu-subitem") Jumpsuits
				a(href="#", class="c-footer__menu-subitem") Tops
				a(href="#", class="c-footer__menu-subitem") Trousers
				a(href="#", class="c-footer__menu-subitem") Jeans
				a(href="#", class="c-footer__menu-subitem") Skirts
				a(href="#", class="c-footer__menu-subitem") Knitwear
				a(href="#", class="c-footer__menu-subitem") T-shirts
				a(href="#", class="c-footer__menu-subitem") Shoes
				a(href="#", class="c-footer__menu-subitem") Handbags
				a(href="#", class="c-footer__menu-subitem") Accessories
			nav(class="c-footer__menu-item")
				span(class="c-footer__menu-subitem") Men
				a(href="#", class="c-footer__menu-subitem") Coats
				a(href="#", class="c-footer__menu-subitem") Jackets
				a(href="#", class="c-footer__menu-subitem") Blazers
				a(href="#", class="c-footer__menu-subitem") Suits
				a(href="#", class="c-footer__menu-subitem") Trousers
				a(href="#", class="c-footer__menu-subitem") Jeans
				a(href="#", class="c-footer__menu-subitem") Shirts
				a(href="#", class="c-footer__menu-subitem") T-shirts
				a(href="#", class="c-footer__menu-subitem") Sweatshirts
				a(href="#", class="c-footer__menu-subitem") Knitwear
				a(href="#", class="c-footer__menu-subitem") Shoes
				a(href="#", class="c-footer__menu-subitem") Bags
				a(href="#", class="c-footer__menu-subitem") Accessories
				a(href="#", class="c-footer__menu-subitem new") Soft Wear
				a(href="#", class="c-footer__menu-subitem") Special Price
			nav(class="c-footer__menu-item")
				span(class="c-footer__menu-subitem") Kids
				a(href="#", class="c-footer__menu-subitem") Girl
				a(href="#", class="c-footer__menu-subitem") Boy
				a(href="#", class="c-footer__menu-subitem") Baby girl
				a(href="#", class="c-footer__menu-subitem") Baby boy
				a(href="#", class="c-footer__menu-subitem") MINI
			div(class="c-footer__other")
				div(class="c-social")
					span(class="c-social-title") Follow us
					a(href="#", class="c-social-item c--facebook icon icon--facebook")
					a(href="#", class="c-social-item c--twitter icon icon--twitter")
					a(href="#", class="c-social-item c--dribbble icon icon--dribbble")
					a(href="#", class="c-social-item c--vimeo icon icon--vimeo")
					a(href="#", class="c-social-item c--google-plus icon icon--google-plus")
				div(class="c__subscribe-box")
					span(class="c__subscribe-box-title") Subscribing
					span(class="c__subscribe-box-text") We will never send you spam or some other trash
					form
						div(class="c__subscribe-box-input-wrapper")
							input(type="email", placeholder="hello@creativeda.sh", class="c__subscribe-box-input")
						div(class="button-wrapper c__subscribe-box-submit-wrapper")
							button(class="c-button c--button-rounded c__subscribe-box-submit")
				nav(class="c-footer__menu-item")
					span(class="c-footer__menu-subitem") Menu
					a(href="#", class="c-footer__menu-subitem") Company
					a(href="#", class="c-footer__menu-subitem") Our Team
					a(href="#", class="c-footer__menu-subitem") Testimonials
					a(href="#", class="c-footer__menu-subitem") Contacts
			span(class="c-footer__copyright") &copy UI8 2014 - All Right Reserved