doctype html
html(lang="en")
	head
		title= "Footer 7"
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		link(href="https://fonts.googleapis.com/css?family=Cabin:600", rel="stylesheet")
		link(rel="stylesheet", type= "text/css", href="../../../../css/templates/ui-kit/footers/footer7/style.css")
	body
		section(class="c-footer")
			div(class="c-footer__logo")
				img(src="images/logo.png", alt="logo", class="c-footer__logo-img")
			nav(class="c-footer__menu-item")
				a(href="#", class="c-footer__menu-subitem") Women
				a(href="#", class="c-footer__menu-subitem") Coats
				a(href="#", class="c-footer__menu-subitem") Outerwear
				a(href="#", class="c-footer__menu-subitem") Dresses
				a(href="#", class="c-footer__menu-subitem") Jumpsuits
				a(href="#", class="c-footer__menu-subitem") Tops
				a(href="#", class="c-footer__menu-subitem") Trousers
				a(href="#", class="c-footer__menu-subitem") Jeans
				a(href="#", class="c-footer__menu-subitem") Skirts
				a(href="#", class="c-footer__menu-subitem") Knitwear
				a(href="#", class="c-footer__menu-subitem") T-shirts
				a(href="#", class="c-footer__menu-subitem") Shoes
				a(href="#", class="c-footer__menu-subitem") Handbags
				a(href="#", class="c-footer__menu-subitem") Accessories
			nav(class="c-footer__menu-item")
				a(href="#", class="c-footer__menu-subitem") Men
				a(href="#", class="c-footer__menu-subitem") Coats
				a(href="#", class="c-footer__menu-subitem") Jackets
				a(href="#", class="c-footer__menu-subitem") Blazers
				a(href="#", class="c-footer__menu-subitem") Suits
				a(href="#", class="c-footer__menu-subitem") Trousers
				a(href="#", class="c-footer__menu-subitem") Jeans
				a(href="#", class="c-footer__menu-subitem") Shirts
				a(href="#", class="c-footer__menu-subitem") T-shirts
				a(href="#", class="c-footer__menu-subitem") Sweatshirts
				a(href="#", class="c-footer__menu-subitem") Knitwear
				a(href="#", class="c-footer__menu-subitem") Shoes
				a(href="#", class="c-footer__menu-subitem") Bags
				a(href="#", class="c-footer__menu-subitem") Accessories
				a(href="#", class="c-footer__menu-subitem new") Soft Wear
				a(href="#", class="c-footer__menu-subitem") Special Price
			nav(class="c-footer__menu-item")
				a(href="#", class="c-footer__menu-subitem") Kids
				a(href="#", class="c-footer__menu-subitem") Girl
				a(href="#", class="c-footer__menu-subitem") Boy
				a(href="#", class="c-footer__menu-subitem") Baby girl
				a(href="#", class="c-footer__menu-subitem") Baby boy
				a(href="#", class="c-footer__menu-subitem") MINI
			div(class="c-footer__other")
				div(class="c-footer__social")
					span(class="c-footer__social-title") Follow us
					button(class="c-footer__social-item c--facebook") 
						img(src="images/facebook.svg", alt="facebook", class="c-footer__social-item-img c--facebook")
					button(class="c-footer__social-item c--twitter") 
						img(src="images/twitter.svg", alt="twitter", class="c-footer__social-item-img c--twitter")
					button(class="c-footer__social-item c--dribbble") 
						img(src="images/dribbble.svg", alt="dribbble", class="c-footer__social-item-img c--dribbble")
					button(class="c-footer__social-item c--vimeo") 
						img(src="images/vimeo.svg", alt="vimeo", class="c-footer__social-item-img c--vimeo")
					button(class="c-footer__social-item c--google-plus") 
						img(src="images/google-plus.svg", alt="google-plus", class="c-footer__social-item-img c--google-plus")
				div(class="c-footer__subscribe")
					span(class="c-footer__subscribe-title") Subscribing
					span(class="c-footer__subscribe-text") We will never send you spam or some other trash
					form
						div(class="c-footer__subscribe-input-wrapper")
							input(type="text", placeholder="E-mail", value="hello@creativeda.sh", class="c-footer__subscribe-input")
						div(class="c-footer__subscribe-submit-wrapper")
							input(type="submit", value="", class="c-footer__subscribe-submit")
				nav(class="c-footer__main-menu")
					a(href="#", class="c-footer__main-menu-item") Menu
					a(href="#", class="c-footer__main-menu-item") Company
					a(href="#", class="c-footer__main-menu-item") Our Team
					a(href="#", class="c-footer__main-menu-item") Testimonials
					a(href="#", class="c-footer__main-menu-item") Contacts
			span(class="c-footer__copyright") &copy UI8 2014 - All Right Reserved