doctype html
html(lang="en")
	head
		title= "Header 4"
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		link(href="https://fonts.googleapis.com/css?family=Cabin", rel="stylesheet")
		link(rel="stylesheet", type= "text/css", href="../../../../css/templates/ui-kit/headers/header4/style.css")
	body
		section(class="c-header")
			div(class="c-header__header")
				nav(class="c-header__header-menu")
					a(href="#", class="c-header__header-menu-item") Products
					a(href="#", class="c-header__header-menu-item") Prices
					a(href="#", class="c-header__header-menu-item") About Us
					a(href="#", class="c-header__header-menu-item") Contacts
				img(src="images/logo.png", alt="logo", class="c-header__header-logo-img")
			div(class="c-header__main")
				h1(class="c-header__main-title") This I have produced as a scantling of Jack's great eloquence and the force of his reasoning upon such abstruse matters.
				div(class="button-wrapper")
					button(class="c-button c--button-round c-header__button") Download