<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Base</title>
	<link href="https://fonts.googleapis.com/css?family=Cabin" rel="stylesheet"> 
	<link rel="stylesheet" type="text/css" href="../../../css/templates/ui-kit/base/style.css">
</head>
<body>
	<!--BUTTONS-->
	<section class="buttons">
		<div class="button-wrapper button-wrapper--large">
			<button class="c-button c--button-large">Load more</button>
		</div>
		<div class="button-wrapper button-wrapper--large">
			<button class="c-button c--button-rounded c--button-large">Sign Up</button>
		</div>
		<div class="button-wrapper button-wrapper--large">
			<button class="c-button c--button-round c--button-large">Sign In</button>
		</div>
		<div class="button-wrapper button-wrapper--large">
			<button class="c-button c--button-ghost c--button-round c--button-large">Logout</button>
		</div>
		<button class="c-button c--button-round c--button-square c--button-circle c--button-large"></button>
		<div class="button-wrapper">
			<button class="c-button">Learn more</button>
		</div>
		<div class="button-wrapper">
			<button class="c-button c--button-rounded">Buy now</button>
		</div>
		<div class="button-wrapper">
			<button class="c-button c--button-round">Order now</button>
		</div>
		<div class="button-wrapper">
			<button class="c-button c--button-ghost c--button-round">Install</button>
		</div>
		<button class="c-button c--button-square c--button-rounded">
			<div class="c-button-square-icon"></div>
		</button>
		<button class="c-button c--button-round c--button-square c--button-circle"></button>
		<div class="button-wrapper button-wrapper-arrow">
			<button class="c-button c--button-arrow c--button-rounded">Next</button>
		</div>
		<div class="button-wrapper button-wrapper--small">
			<button class="c-button c--button-small">Start</button>
		</div>
		<div class="button-wrapper button-wrapper--small">
			<button class="c-button c--button-rounded c--button-small">Download</button>
		</div>
		<div class="button-wrapper button-wrapper--small">
			<button class="c-button c--button-round c--button-small">Share</button>
		</div>
		<div class="button-wrapper button-wrapper--small">
			<button class="c-button c--button-ghost c--button-round c--button-small">Free Trial</button>
		</div>
		<button class="c-button c--button-square c--button-rounded c--button-small">
			<div class="c-button-square-icon c--button-small"></div>
		</button>
		<button class="c-button c--button-round c--button-square c--button-circle c--button-small"></button>
		<div class="button-wrapper button-wrapper--small button-group-wrapper">
			<button class="c-button c--button-square c--button-group c--button-small c-left-arrow-in-group"></button>
			<button class="c-button c--button-square c--button-group c--button-small c-right-arrow-in-group"></button>
		</div>
		<div class="button-wrapper button-wrapper--small button-wrapper-arrow">
			<button class="c-button c--button-arrow c--button-rounded c--button-small">Forward</button>
		</div>
	</section>

	<!--MESSAGE-->
	<section class="message">
		<div class="button-wrapper button-group-wrapper">
			<button class="c-button c--button-square c--button-group c--alignment">
				<div class="c-button-square-icon c--alignment-left"></div>
			</button>
			<button class="c-button c--button-square c--button-group c--alignment">
				<div class="c-button-square-icon c--alignment-center"></div>
			</button>
			<button class="c-button c--button-square c--button-group c--alignment">
				<div class="c-button-square-icon c--alignment-right"></div>
			</button>
		</div>
		<div class="simple-message-wrapper">
			<form class="c-simple-message">
				<input type="text" value="Hey there!" class="c-simple-message__text"><input type="submit" value="Send" class="c-simple-message__submit">
			</form>
		</div>
		<div class="choose-message-wrapper">
			<form class="c-choose-message">
				<select class="c-choose-message__select">
					<option value="seller">To seller</option>
					<option value="other">To other</option>
				</select><input type="text" placeholder="Message" class="c-choose-message__text"><input type="submit" value="Send" class="c-choose-message__submit">
			</form>
		</div>
		<button class="c-button c--button-square c--button-rounded c--button-ok">Ok</button>
	</section>

	<!--EMAIL-->	
	<section class="email-search">
		<div class="email">
			<div class="email-wrapper">
				<input type="email" placeholder="E-mail" class="c-email">
			</div>
			<div class="email-wrapper">
				<input type="email" placeholder="E-mail" value="hello" class="c-email c-email--focus">
			</div>
			<div class="email-wrapper">
				<input type="email" placeholder="E-mail" value="hello@cretiveda.sh" class="c-email c-email--valid">
				<div class="valid-icon"></div>
			</div>
			<div class="email-wrapper">
				<input type="email" placeholder="E-mail" value="hellocretiveda.sh" class="c-email c-email--invalid">
				<div class="invalid-icon"></div>
			</div>
			<div class="email-wrapper">
				<input type="email" placeholder="E-mail" class="c-email c-email--small">
			</div>
			<div class="email-wrapper">
				<input type="email" placeholder="E-mail" value="hello" class="c-email c-email--focus c-email--small">
			</div>
			<div class="email-wrapper">
				<input type="email" placeholder="E-mail" value="hello@cretiveda.sh" class="c-email c-email--valid c-email--small">
				<div class="valid-icon c-email--small"></div>
			</div>
			<div class="email-wrapper">
				<input type="email" placeholder="E-mail" value="hellocretiveda.sh" class="c-email c-email--invalid c-email--small">
				<div class="invalid-icon c-email--small"></div>
			</div>
		</div>

		<!--SEARCH-->
		<div class="search">
			<form class="search-wrapper">
				<input type="search" placeholder="Search" class="c-search c-search--round">
				<div class="search-icon"></div>
			</form>
			<form class="search-wrapper">
				<input type="search" placeholder="Search" value="UI-Kit" class="c-search c-search--round c-search--focus">
				<div class="search-icon"></div>
				<div class="cancel-icon"></div>
			</form>
			<form class="search-wrapper">
				<input type="search" placeholder="Search" class="c-search c-search--rounded"><input type="submit" value=" " class="c-button c--button-square c--button-search">
				<div class="search-icon c-search--rounded"></div>
			</form>
			<form class="search-wrapper">
				<input type="search" placeholder="Search" value="Flat" class="c-search c-search--rounded c-search--focus"><input type="submit" value=" " class="c-button c--button-square c--button-search c-search--focus">
				<div class="search-icon c-search--rounded c-search--focus"></div>
			</form>

			<form class="search-wrapper">
				<input type="search" placeholder="Search" class="c-search c-search--round c-search--small">
				<div class="search-icon c-search--small"></div>
			</form>
			<form class="search-wrapper">
				<input type="search" placeholder="Search" value="UI-Kit" class="c-search c-search--round c-search--focus c-search--small">
				<div class="search-icon c-search--small"></div>
				<div class="cancel-icon"></div>
			</form>
			<form class="search-wrapper">
				<input type="search" placeholder="Search" class="c-search c-search--rounded c-search--small"><input type="submit" value=" " class="c-button c--button-square c--button-search c--button-small">
				<div class="search-icon c-search--rounded c-search--small"></div>
			</form>
			<form class="search-wrapper">
				<input type="search" placeholder="Search" value="Flat" class="c-search c-search--rounded c-search--focus c-search--small"><input type="submit" value=" " class="c-button c--button-square c--button-search c-search--focus c--button-small">
				<div class="search-icon c-search--rounded c-search--focus c-search--small"></div>
			</form>
		</div>
	</section>

	<!--COMMENT-->	
	<section class="comment">
		<div class="comment-wrapper">
			<textarea cols="40" rows="5" placeholder="Write your comment here..." class="c-comment-field"></textarea>
		</div>
		<div class="comment-wrapper">
			<textarea cols="40" rows="5" placeholder="Write your comment here..." class="c-comment-field c-comment-field--focus">Great stuff!</textarea>
		</div>
	</section>

	<!--SELECT, RADIO-CHECK, RANGE, LOADER, TOOLTIPS-->
	<section class="settings">
		<div class="dropdown-wrapper">
			<div class="dropdown-wrapper--inactive">
				<ul class="c-dropdown c--inactive">
					<li>
						<a href="#" class="first">Select country:</a>
						<ul>
							<li><a href="#">USA</a></li>
							<li><a href="#">Canada</a></li>
							<li><a href="#">Germany</a></li>
						</ul>
					</li>
				</ul>
			</div>
			<div class="dropdown-wrapper--active">
				<ul class="c-dropdown c--active">
					<li>
						<a href="#" class="first">Select country:</a>
						<ul>
							<li><a href="#">USA</a></li>
							<li><a href="#">Canada</a></li>
							<li><a href="#">Germany</a></li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
		<div class="radio-check">
			<form class="c-radio-form">
				<div class="c-radio">
					<input name="radio-btn" type="radio" value="off" id="radio-btn--off"><label for="radio-btn--off">Radiobutton Off</label>
				</div>
				<div class="c-radio">
					<input name="radio-btn" type="radio" value="on" id="radio-btn--on" checked><label for="radio-btn--on">Radiobutton On</label>
				</div>
				<div class="c-radio">
					<input name="radio-btn" type="radio" value="disables" id="radio-btn--disabled" disabled><label for="radio-btn--disabled">Radiobutton Disabled</label>
				</div>
			</form>
			<form class="c-check-form">
				<div class="c-check">
					<input name="check-btn" type="checkbox" value="off" id="check-btn--off"><label for="check-btn--off">Checkbox Off</label>
				</div>
				<div class="c-check">
					<input name="check-btn" type="checkbox" value="on" id="check-btn--on" checked><label for="check-btn--on">Checkbox On</label>
				</div>
				<div class="c-check">
					<input name="check-btn" type="checkbox" value="disables" id="check-btn--disabled" disabled><label for="check-btn--disabled">Checkbox Disabled</label>
				</div>
			</form>
		</div>
		<div class="settings-different">
			<div class="c-slider2x">
				<input type="range">
			</div>
			<div class="another-wrapper">
				<div class="c-switchers">
					<form>
						<div class="c-switchers">
							<input type="checkbox" id="switcher-light--off" name="switcher-light"><label for="switcher-light--off">On</label>
						</div>
						<div class="c-switchers">
							<input type="checkbox" id="switcher-light--on" name="switcher-light" checked><label for="switcher-light--on">On</label>
						</div>
					</form>
					<form>
						<div class="c-switchers c--dark">
							<input type="checkbox" id="switcher-dark--off" name="switcher-dark"><label for="switcher-dark--off">On</label>
						</div>
						<div class="c-switchers c--dark">
							<input type="checkbox" id="switcher-dark--on" name="switcher-dark" checked><label for="switcher-dark--on">On</label>
						</div>
					</form>
				</div>
				<div class="other-wrapper">
					<div class="c-slider">
						<input type="range">
					</div>
					<div class="loader-wrap">
						<div class="c-loader">
							<div class="c-loader__inner" style="width: 64%" data-width="64%"></div>
						</div>
					</div>
					<div class="c-tooltips">
						<div class="c-tooltip c--top">
							Top tooltip
						</div>
						<div class="c-tooltip c--left">
							Left tooltip
						</div>
						<div class="c-tooltip c--right">
							Right tooltip
						</div>
						<div class="c-tooltip c--bottom">
							Bottom tooltip
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<!--STEPS and PAGINATION-->
	<section class="steps-pagination">
		<div class="steps-wrapper">
			<ol class="c-steps c-steps--line" data-steps="3">
				<li class="active">
					<span class="c-steps__step c-steps--line">1</span>
				</li>
				<li >
					<span class="c-steps__step c-steps--line">2</span>
				</li>
				<li >
					<span class="c-steps__step c-steps--line">3</span>
				</li>
			</ol>
			<ol class="c-steps" data-steps="3">
				<li >
					<span class="c-steps__step">1</span>
				</li>
				<li class="active">
					<span class="c-steps__step">2</span>
				</li>
				<li >
					<span class="c-steps__step">3</span>
				</li>
			</ol>
		</div>
		<div class="pagination-wrapper">
			<div class="c-pagination c-pagination--circle">
				<a href="#">< Back</a>
				<a href="#">1</a>
				<a href="#" class="active">2</a>
				<a href="#">3</a>
				<span>...</span>
				<a href="#">12</a>
				<a href="#">13</a>
				<a href="#">14</a>
				<a href="#">Next ></a>
			</div>
			<div class="c-pagination">
				<a href="#">< Back</a>
				<a href="#">1</a>
				<a href="#">2</a>
				<a href="#" class="active">3</a>
				<span>...</span>
				<a href="#">12</a>
				<a href="#">13</a>
				<a href="#">14</a>
				<a href="#">Next ></a>
			</div>
		</div>
	</section>

	<!--TABLE-->
	<section class="table">
		<div class="nav-wrapper">
			<span class="c-nav__title">Categories</span>
			<ul class="c-nav__items">
				<li><a href="#">Art Direction</a></li>
				<li><a href="#">Branding</a></li>
				<li><a href="#" class="active">Graphic Design</a></li>
				<li><a href="#">Illustration</a></li>
			</ul>
			<span class="c-nav__title">Popular</span>
			<ul class="c-nav__items">
				<li><a href="#">Motion Graphic</a></li>
				<li><a href="#">UI/UX</a></li>
			</ul>
		</div>
		<div class="table-music-wrapper">
			<table class="c-table__music">
				<tr>
					<th>#</th>
					<th>Artist</th>
					<th>Album</th>
					<th>Song</th>
					<th>Select</th>
				</tr>
				<tr class="active">
					<td>1</td>
					<td>Kasabian</td>
					<td>Velociraptor!</td>
					<td>Re-wired</td>
					<td><form><input type="checkbox" onchange="this.parentNode.parentNode.parentNode.className = this.checked ? 'active' : 'inactive'" checked><label></label></form></td>
				</tr>
				<tr>
					<td>2</td>
					<td>Suuns</td>
					<td>Images Du Futur</td>
					<td>Up Past The Nursery</td>
					<td><form><input type="checkbox" onchange="this.parentNode.parentNode.parentNode.className = this.checked ? 'active' : 'inactive'"><label></label></form></td>
				</tr>
				<tr>
					<td>3</td>
					<td>RHCP</td>
					<td>Californication</td>
					<td>Around the World</td>
					<td><form><input type="checkbox" onchange="this.parentNode.parentNode.parentNode.className = this.checked ? 'active' : 'inactive'"><label></label></form></td>
				</tr>
				<tr class="active">
					<td>4</td>
					<td>Woodkid</td>
					<td>The Golden Age</td>
					<td>Iron</td>
					<td><form><input type="checkbox" onchange="this.parentNode.parentNode.parentNode.className = this.checked ? 'active' : 'inactive'" checked><label></label></form></td>
				</tr>
				<tr>
					<td>5</td>
					<td>Hugo</td>
					<td>Old Tyme Religion</td>
					<td>99 problems</td>
					<td><form><input type="checkbox" onchange="this.parentNode.parentNode.parentNode.className = this.checked ? 'active' : 'inactive'"><label></label></form></td>
				</tr>
			</table>
		</div>
	</section>

	<!--NOTIFICATIONS-->
	<section class="notification">
		<div class="c-notification c--ok">
			<div class="close-icon c-notification-close"></div>
			<p>This I have produced as a scantling of Jack's great eloquence and the force of his reasoning upon such abstruse matters.</p>
		</div>
		<div class="c-notification c--warning">
			<div class="close-icon c-notification-close"></div>
			<p>Poor Alice! It was as much as she could do, lying down on one side, to look through into the garden with one eye; but to get through was more hopeless than ever: she sat down and began to cry again.t</p>
		</div>
		<div class="c-notification c--error">
			<div class="close-icon c-notification-close"></div>
			<p>At first, for some time, I was not able to answer him one word; but as he had taken me in his arms I held fast by him, or I should have fallen to the ground.</p>
			<form>
				<input type="submit" value="Submit" class="c-notification-submit">
			</form>
		</div>
	</section>

	<!--POPUPS-->
	<section class="popups">
		<div class="popup-wrapper">
			<div class="c-popup">
				<div class="close-icon"></div>
				<p class="c-popup__header">Popover header</p>
				<p class="c-popup__text">This I have produced as a scantling of Jack's great eloquence and the force of his reasoning upon such abstruse matters.</p>
				<div class="popup-buttons-wrapper">
					<button class="c-popup__yes c-button c--button-rounded c--button-small">Cool</button>
				</div>
				<div class="popup-buttons-wrapper">
					<button class="c-popup__not c-button c--button-rounded c--button-small">Not sure</button>
				</div>
			</div>
		</div>
		<div class="popup-wrapper">
			<div class="c-popup c-popup--dark">
				<div class="close-icon c-popup--dark"></div>
				<p class="c-popup__header c-popup--dark">Popover header</p>
				<p class="c-popup__text c-popup--dark">This I have produced as a scantling of Jack's great eloquence and the force of his reasoning upon such abstruse matters.</p>
				<div class="popup-buttons-wrapper">
					<button class="c-popup__yes c-button c--button-rounded c--button-small c-popup--dark">Cool</button>
				</div>
				<div class="popup-buttons-wrapper">
					<button class="c-popup__not c-button c--button-rounded c--button-small c-popup--dark">Not sure</button>
				</div>
			</div>
		</div>
	</section>
</body>
</html>