doctype html
html(lang="en")
	head
		title= "My repo"
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		link(rel="stylesheet", type= "text/css", href="../../css/style.css")
	body
		figure
			a(href="base/index.html")
				img(src="../../images/ui-kit/base-min.png", alt="base")
			figcaption Base
		figure
			a(href="headers/index.html")
				img(src="../../images/ui-kit/headers-min.jpg", alt="headers")
			figcaption Headers
		figure
			a(href="footers/index.html")
				img(src="../../images/ui-kit/footers-min.jpg", alt="footers")
			figcaption Footers
		figure
			a(href="forms/index.html")
				img(src="../../images/ui-kit/forms-min.png", alt="forms")
			figcaption Forms