doctype html
html(lang="en")
	head
		title= "My repo"
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		link(rel="stylesheet", type= "text/css", href="../../css/style.css")
	body
		figure
			a(href="base/index.html")
				img(src="../../images/ui-kit/base-min.png", alt="base", class="c-headers__img")
			figcaption Base
		figure
			a(href="headers/index.html")
				img(src="../../images/ui-kit/headers-min.jpg", alt="headers", class="c-headers__img")
			figcaption Headers
		figure
			a(href="footers/index.html")
				img(src="../../images/ui-kit/footers-min.jpg", alt="footers", class="c-headers__img")
			figcaption Footers