doctype html
html(lang="en")
	head
		title= "Top Headers Isolated"
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		link(href="https://fonts.googleapis.com/css?family=Cabin:600", rel="stylesheet")
		link(rel="stylesheet", type= "text/css", href="../../../css/templates/ui-kit/navigation/style.css")
	body
		section(class="c-nav")
			figure
				a(href="header1/index.html")
					img(src="../../../../images/ui-kit/navigation/top-headers-isolated/header1-min.png", alt="header1", class="c-nav__img")
				figcaption Header 1
			figure
				a(href="header2/index.html")
					img(src="../../../../images/ui-kit/navigation/top-headers-isolated/header2-min.png", alt="header2", class="c-nav__img")
				figcaption Header 2
			figure
				a(href="header3/index.html")
					img(src="../../../../images/ui-kit/navigation/top-headers-isolated/header3-min.png", alt="header3", class="c-nav__img")
				figcaption Header 3