.c-footer {
	@include respond-to(handhelds) {
		flex-direction: column;
		height: 650px;
		padding-top: 0;
	}
	@include respond-to(tablets) {
		flex-direction: column;
		height: 520px;
		padding-top: 30px;
	}

	display: flex;
	justify-content: space-around;
	height: 336px;
	padding-top: 50px;

	background-color: #f2f5f8;
	&__info {
		@include respond-to(handhelds) {
			margin-right: 30px;
			margin-left: 30px;
		}
		@include respond-to(tablets) {
			margin-right: 45px;
			margin-left: 45px;
		}

		margin-left: 120px;
		&-title {
			@include respond-to(handhelds) {
				line-height: 1.25;
			}
			@include respond-to(tablets) {
				line-height: 1.25;
			}

			margin-bottom: 15px;

			color: $black;
			font-size: 24px;
			line-height: 0.83;
			letter-spacing: $letter-spacing;
		}
		&-text {
			color: $black;
			font-size: $medium-font;
			line-height: 1.5;
			letter-spacing: $letter-spacing;
		}
		&-social {
			@include respond-to(tablets) {
				margin-top: 20px;

				text-align: center;
			}

			margin-top: 30px;
		}
		&-social-item {
			width: 60px;
			height: 28px;
			padding-right: 10px;

			border-radius: $smallest-border-radius;
			outline: none;

			color: $white;
			letter-spacing: $letter-spacing;
			text-align: right;
			&:not(:last-child) {
				margin-right: 12px;
			}
			&.c--facebook {
				border: $border-width solid #3162a2;

				background-color: #3162a2;
				&:hover {
					border-color: #235493;

					background-color: #235493;

					cursor: pointer;
				}
			}
			&.c--twitter {
				border: $border-width solid #2eb1eb;

				background-color: #2eb1eb;
				&:hover {
					border-color: #209dd4;

					background-color: #209dd4;

					cursor: pointer;
				}
			}
			&.c--dribbble {
				border: $border-width solid #f552b6;

				background-color: #f552b6;
				&:hover {
					border-color: #d43b99;

					background-color: #d43b99;

					cursor: pointer;
				}
			}
			&.c--linkedin {
				border: $border-width solid #457ac0;

				background-color: #457ac0;
				&:hover {
					border-color: #3465a5;

					background-color: #3465a5;

					cursor: pointer;
				}
			}
			&-img {
				width: auto;
				height: 14px;
				&.c--facebook {
					margin-right: 4px;
					margin-bottom: -1px;
				}
				&.c--twitter {
					margin-right: 8px;
					margin-bottom: -2px;
				}
				&.c--dribbble {
					margin-right: 8px;
					margin-bottom: -2px;
				}
				&.c--linkedin {
					margin-right: 6px;
				}
			}
		}
		&-links {
			@include respond-to(tablets) {
				margin-top: 20px;

				text-align: center;
			}

			margin-top: 40px;
		}
		&-link {
			display: inline-block;

			color: $blue;
			font-size: $medium-font;
			line-height: 2.25;
			letter-spacing: $letter-spacing;
			text-decoration: none;
			&:not(:last-child) {
				margin-right: 30px;
			}
			&:hover {
				text-decoration: underline;
			}
		}
	}
	&__menu {
		@include respond-to(handhelds) {
			margin: 0 auto;
		}
		@include respond-to(tablets) {
			margin-right: 45px;
			margin-left: 30px;
		}
		@include respond-to(medium-screens) {
			margin-left: 100px;
		}

		display: flex;
		justify-content: space-around;
		margin-right: 120px;
		margin-left: 240px;
		&-item {
			display: block;
			&:not(:last-child) {
				margin-right: 60px;
			}
		}
		&-subitem {
			display: block;

			color: $dark-grey;
			font-size: $medium-font;
			line-height: 2;
			letter-spacing: $letter-spacing;
			text-decoration: none;
			&:hover {
				text-decoration: underline;
			}
			&:first-child {
				color: $black;

				pointer-events: none;
			}
		}
	}
}
