<!DOCTYPE html>
<html lang="en">
  <head>
    <title>My repo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../../css/style.css">
  </head>
  <body>
    <figure><a href="base/index.html"><img class="c-headers__img" src="../../images/ui-kit/base.png" alt="base"></a>
      <figcaption>Base</figcaption>
    </figure>
    <figure><a href="headers/index.html"><img class="c-headers__img" src="../../images/ui-kit/headers.jpg" alt="headers"></a>
      <figcaption>Headers</figcaption>
    </figure>
    <figure><a href="footers/index.html"><img class="c-headers__img" src="../../images/ui-kit/footers.jpg" alt="footers"></a>
      <figcaption>Footers</figcaption>
    </figure>
  </body>
</html>