<!DOCTYPE html>
<html lang="en">
  <head>
    <title>UI-Kit</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../../css/templates/ui-kit/style.css">
  </head>
  <body>
    <figure><a href="base/index.html"><img src="../../images/ui-kit/base-min.png" alt="base"></a>
      <figcaption>Base</figcaption>
    </figure>
    <figure><a href="headers/index.html"><img src="../../images/ui-kit/headers-min.jpg" alt="headers"></a>
      <figcaption>Headers</figcaption>
    </figure>
    <figure><a href="footers/index.html"><img src="../../images/ui-kit/footers-min.jpg" alt="footers"></a>
      <figcaption>Footers</figcaption>
    </figure>
    <figure><a href="forms/index.html"><img src="../../images/ui-kit/forms-min.png" alt="forms"></a>
      <figcaption>Forms</figcaption>
    </figure>
    <figure><a href="navigation/index.html"><img src="../../images/ui-kit/navigation-min.png" alt="navigation"></a>
      <figcaption>Navigation</figcaption>
    </figure>
  </body>
</html>