.clearfix:after {
	content: ".";

	clear: both;

	display: block;
	height: 0;

	visibility: hidden;
}

.c-header {
	@include respond-to(medium-screens) {
		padding-top: 60px;
	}
	@include respond-to(tablets) {
		padding-top: 40px;
	}
	@include respond-to(handhelds) {
		padding-top: 20px;
		padding-bottom: 20px;
	}

	position: relative;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100vh;
	padding-top: 80px;
	padding-bottom: 45px;

	background-image: url(../images/back.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	&__header {
		&-logo-img {
			@include respond-to(medium-screens) {
				top: 40px;
				left: 120px;
			}
			@include respond-to(tablets) {
				top: 20px;
				left: 40px;
			}
			@include respond-to(handhelds) {
				top: 10px;
				left: 50%;

				transform: translateX(-50%);
			}

			position: absolute;
			top: 60px;
			left: 200px;
		}
		&-menu {
			@include respond-to(medium-screens) {
				margin-right: 120px;
			}
			@include respond-to(tablets) {
				margin-right: 15px;
			}
			@include respond-to(handhelds) {
				margin-top: 75px;
				margin-right: 0;

				text-align: center;
			}

			margin-right: 200px;

			text-align: right;
			&-item {
				@include respond-to(tablets) {
					margin: 10px;
				}
				@include respond-to(handhelds) {
					margin: 10px;
				}

				margin: 20px;

				color: $white;
				font-size: $small-font;
				line-height: 1.7;
				letter-spacing: 0.05rem;
				text-transform: uppercase;
				text-decoration: none;
				&:hover {
					text-decoration: underline;
				}
			}
		}
	}
	&__main {
		&-title {
			@include respond-to(medium-screens) {
				padding-right: 40%;
				padding-left: 120px;

				font-size: 40px;
			}
			@include respond-to(tablets) {
				margin-bottom: 20px;
				padding-right: 30%;
				padding-left: 120px;

				font-size: 36px;
			}
			@include respond-to(handhelds) {
				margin-bottom: 10px;
				padding-right: 20%;
				padding-left: 60px;

				font-size: 24px;
			}

			margin-bottom: 35px;
			padding-right: 500px;
			padding-left: 200px;

			color: $white;
			font-size: 50px;
			line-height: 1.28;
			letter-spacing: $letter-spacing;
			text-align: left;
			text-transform: capitalize;
		}
		&-text {
			@include respond-to(medium-screens) {
				padding-right: 40%;
				padding-left: 120px;
			}
			@include respond-to(tablets) {
				margin-bottom: 25px;
				padding-right: 30%;
				padding-left: 120px;

				font-size: $medium-font;
			}
			@include respond-to(handhelds) {
				margin-bottom: 15px;
				padding-right: 20%;
				padding-left: 60px;

				font-size: $medium-font;
			}

			margin-bottom: 45px;
			padding-right: 500px;
			padding-left: 200px;

			color: $white;
			font-size: $large-font;
			line-height: 1.3;
			letter-spacing: $letter-spacing;
			text-align: left;
		}
	}
}

.c-header__slider-pagination {
	width: 70px;
	margin: 0 auto;
}

.c-header__slider-page {
	display: inline-block;
	width: 8px;
	height: 8px;
	border: $border-width solid $white;

	border-radius: 999rem;

	list-style: none;
	&:not(:last-child) {
		margin-right: 8px;
	}
	&.active {
		background-color: $white;
	}
}

.button-wrapper {
	@include respond-to(medium-screens) {
		margin-left: 120px;
	}
	@include respond-to(tablets) {
		margin-left: 120px;
	}
	@include respond-to(handhelds) {
		margin: 0 auto;
	}

	display: block;
	width: 190px;
	margin-left: 200px;
}

.c-button {
	&.c-header__main-button {
		@include respond-to(handhelds) {
			padding: 13px;

			font-size: $medium-font;
		}

		background-color: $orange;
		&:hover {
			background-color: $dark-orange;
		}
	}
}

.c-button {
	&.c--button-circle {
		border: $border-width solid $white;

		background-color: transparent;
		&:hover {
			border-color: rgba(0, 0, 0, .3);
			&::before {
				border-color: rgba(0, 0, 0, .3);
			}
		}
	}
	&.c-header__main-button-left {
		@include respond-to(handhelds) {
			width: 36px;
			height: 36px;
			margin-right: 5px;
			margin-left: 5px;
		}

		float: left;

		margin-top: 120px;
		margin-left: 30px;
	}
	&.c-header__main-button-right {
		@include respond-to(handhelds) {
			width: 36px;
			height: 36px;
			margin-right: 5px;
			margin-left: 5px;
		}

		float: right;

		margin-top: 120px;
		margin-right: 30px;
		&.c--button-circle {
			&::before {
				left: calc(50% - 1px);

				transform: translate(-50%, -50%) rotate(45deg);
			}
		}
	}
}
