.settings {
	display: flex;
	justify-content: space-around;
	margin-bottom: 50px;
}

.dropdown-wrapper {
	width: 23%;
	&--inactive {
		width: $x-large-width;
		height: 160px;
		margin-bottom: 24px;
	}
	&--active {
		width: $x-large-width;
	}
}

.c-dropdown {
	&.c--inactive {
		position: relative;

		width: 100%;
		padding-left: 0;

		border-radius: $smallest-border-radius;
		background-color: $green;

		font-size: $medium-font;
		letter-spacing: $letter-spacing;
		text-shadow: 0 0 1px $white;
		list-style: none;
		li {
			position: relative;

			display: block;
			a {
				display: block;
				padding: $normal-padding;

				color: $white;
				text-decoration: none;
			}
		}
		ul {
			position: absolute;
			left: -9999px;

			width: 100%;

			opacity: 0;

			list-style: none;
			li {
				border-top: 1px solid $border-dark-green;
				&:first-of-type {
					border-top: none;
				}
			}
			a {
				display: block;

				white-space: nowrap;
			}
		}
		li:hover ul {
			left: 0;
			z-index: 1;

			padding-left: 0;

			opacity: 1;
			a {
				text-decoration: none;
			}
			li:last-of-type a {
				border-radius: 0 0 $smallest-border-radius $smallest-border-radius;
			}
		}
		li:hover a {
			background: $dark-green;
			&:hover {
				background-color: $dark-dark-green;
			}
		}
		li:hover .first {
			border-radius: $smallest-border-radius $smallest-border-radius 0 0;
			background: $green;
			&:hover {
				background-color: $green;
			}
		}
		&::after {
			content: '';

			position: absolute;
			top: 16px;
			right: 10%;

			width: 7px;
			height: 7px;
			border-top: solid $border-width $white;
			border-right: solid $border-width $white;

			transform: rotate(135deg);

			cursor: pointer;
		}
		&:hover::after {
			transform: rotate(-45deg);
		}
	}
	&.c--active {
		position: relative;

		width: 100%;
		padding-left: 0;

		border-radius: $smallest-border-radius;
		background-color: $green;

		font-size: $medium-font;
		text-shadow: 0 0 1px $white;
		list-style: none;
		li {
			position: relative;

			display: block;
			a {
				display: block;
				padding: $normal-padding;

				color: $white;
				text-decoration: none;
			}
		}
		ul {
			width: 100%;
			padding-left: 0;

			border-radius: 0 0 $smallest-border-radius $smallest-border-radius;
			background-color: $dark-green;

			list-style: none;
			li {
				border-top: 1px solid $border-dark-green;
			}
			li:first-of-type {
				border-top: none;
			}
			a {
				display: block;

				white-space: nowrap;
				&:hover {
					background-color: $dark-dark-green;
				}
			}
			li:last-of-type a {
				border-radius: 0 0 $smallest-border-radius $smallest-border-radius;
			}
		}
		&::after {
			content: '';

			position: absolute;
			top: 16px;
			right: 10%;

			width: 7px;
			height: 7px;
			border-top: solid $border-width $white;
			border-right: solid $border-width $white;

			transform: rotate(-45deg);

			cursor: pointer;
		}
	}
}

.radio-check {
	width: 27%;
	margin-left: 15px;

	font-weight: bold;
	font-size: $medium-font;
	letter-spacing: $letter-spacing;
}

.c-radio-form {
	margin-top: -$normal-padding;
}

.c-radio {
	position: relative;

	padding: $normal-padding;
	[type='radio'] {
		opacity: 0;
	}
	[type='radio'] + label {
		cursor: pointer;
	}
	[type='radio'] + label::before {
		content: '';

		position: absolute;
		top: -2px;
		left: 16px;
		z-index: -1;

		width: 100%;
		height: 70%;

		background: url(../../../../images/ui-kit/base/radio.png) no-repeat;
		background-position: 0 16px;

		cursor: pointer;
	}
	[type='radio']:checked + label::before {
		top: 16px;
		z-index: -1;

		background-position: 0 -16px;
	}
	[type='radio']:disabled + label {
		color: $grey;
	}
	label {
		padding-left: $normal-padding;
	}
}

.c-check {
	position: relative;

	padding: $normal-padding;
	[type='checkbox'] {
		opacity: 0;
	}
	[type='checkbox'] + label {
		cursor: pointer;
	}
	[type='checkbox'] + label::before {
		content: '';

		position: absolute;
		top: -2px;
		left: 16px;
		z-index: -1;

		width: 100%;
		height: 32px;

		background: url(../../../../images/ui-kit/base/checkbox.png) no-repeat;
		background-position: 0 16px;

		cursor: pointer;
	}
	input[type='checkbox']:checked + label::before {
		top: 16px;
		z-index: -1;

		background-position: 0 -16px;
	}
	input[type='checkbox']:disabled + label {
		color: $grey;
	}
	label {
		padding-left: $normal-padding;
	}
}

.settings-different {
	width: 50%;
}

.c-slider2x {
	width: 422px;
	height: 16px;
	margin: $small-margin;
	margin-top: -$x-small-margin;
	input[type='range'] {
		width: 100%;
		height: 2px;

		border-radius: 1px;
		background-color: $grey;
		outline: none;

		-webkit-appearance: none;
	}
	input[type='range']::-moz-range-track {
		height: 2px;
		border: none;

		border-radius: 1px;
		background-color: $grey;
	}
	input[type='range']::-moz-range-thumb {
		width: 14px;
		height: 14px;
		border: 2px solid $white;

		border-radius: 100%;
		background-color: $orange;

		cursor: pointer;
	}
	input[type=range]::-webkit-slider-thumb {
		width: 14px;
		height: 14px;
		border: 2px solid $white;

		border-radius: 100%;
		background-color: $orange;

		cursor: pointer;

		-webkit-appearance: none;
	}
	input[type='range']::-ms-fill-lower {
		background-color: $orange;
	}
	input[type='range']::-ms-fill-upper {
		background-color: $grey;
	}
	input[type='range']::-ms-track {
		height: 2px;
		border: none;

		border-radius: 1px;
		background-color: $grey;
	}
	input[type='range']::-ms-thumb {
		width: 14px;
		height: 214px;
		border: 2px solid $white;

		border-radius: 100%;
		background-color: $orange;

		cursor: pointer;
	}
}

.another-wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.c-switchers {
	width: 20%;
	[type="checkbox"] {
		opacity: 0;
	}
	label {
		position: relative;

		display: block;
		width: 72px;
		height: $small-height;
		padding: $smallest-padding;
		border: $border-width solid $grey;

		border-radius: $round-border-radius;

		color: $green;
		font-weight: bold;
	}
	label::before {
		content: 'Off';

		position: absolute;
		right: 10px;

		color: $grey;
	}
	label::after {
		content: '';

		position: absolute;
		top: 2px;
		left: 3px;

		display: block;
		width: 28px;
		height: 28px;

		border-radius: 100%;
		background-color: $grey;

		transition: .5s;
	}
	[type='checkbox']:checked + label::after {
		left: 33px;

		background-color: $green;
	}
	[type='checkbox']:checked + label {
		border-color: $green;
	}
	&.c--dark {
		label {
			background-color: $grey;

			color: $white;
		}
		label::before {
			color: $white;
		}
		label::after {
			background-color: $white;
		}
		input[type='checkbox']:checked + label::after {
			background-color: $white;
		}
		input[type='checkbox']:checked + label {
			background-color: $green;
		}
	}
}

.other-wrapper {
	width: 80%;
}

.c-slider {
	width: 300px;
	height: 16px;
	input[type='range'] {
		width: 100%;
		height: 2px;

		border-radius: 1px;
		background-color: $grey;
		outline: none;
		-webkit-appearance: none;
	}
	input[type='range']::-moz-range-track {
		height: 2px;
		border: none;

		border-radius: 1px;
		background-color: $grey;
	}
	input[type=range]::-moz-range-progress {
		background-color: $blue;
	}
	input[type='range']::-moz-range-thumb {
		width: 14px;
		height: 14px;
		border: 2px solid $white;

		border-radius: 100%;
		background-color: $blue;

		cursor: pointer;
	}
	input[type=range]::-webkit-slider-thumb {
		width: 14px;
		height: 14px;
		border: 2px solid $white;

		border-radius: 100%;
		background-color: $blue;

		cursor: pointer;

		-webkit-appearance: none;
	}
	input[type='range']::-ms-fill-lower {
		background-color: $blue;
	}
	input[type='range']::-ms-fill-upper {
		background-color: $grey;
	}
	input[type=range]::-ms-tooltip {
		display: none;
	}
	input[type='range']::-ms-track {
		height: 2px;
		border: none;

		border-radius: 1px;
		background-color: $grey;
	}
	input[type='range']::-ms-thumb {
		width: 14px;
		height: 214px;
		border: 2px solid $white;

		border-radius: 100%;
		background-color: $blue;

		cursor: pointer;
	}
}

.loader-wrap {
	width: 300px;
	margin: $small-margin;
}

.c-loader {
	width: 100%;
	height: $small-height;
	background-color: $light-grey;
	border-radius: $round-border-radius;
	padding: 3px;
	&__inner {
		background-color: $green;
		height: 100%;
		border-radius: $round-border-radius;
		text-align: right;
		&::after {
			content: attr(data-width);
			color: $white;
			display: inline-block;
			margin-right: $x-small-margin;
			margin-top: 7px;
			font-size: $small-font;
			letter-spacing: $letter-spacing;
		}
	}
}

.c-tooltips {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.c-tooltip {
	position: relative;

	width: 120px;
	height: 36px;
	margin: 15px;
	padding: 10px 5px;

	border-radius: $smallest-border-radius;
	background: $black;

	color: $white;
	font-size: $small-font;
	letter-spacing: $letter-spacing;
	text-align: center;
	&.c--top::before {
		content: '';

		position: absolute;
		top: 100%;
		left: 45%;

		width: 0;
		height: 0;
		border-top: 7px solid $black;
		border-right: 5px solid transparent;
		border-left: 5px solid transparent;
	}
	&.c--left::before {
		content: '';

		position: absolute;
		top: 42%;
		right: 100%;

		width: 0;
		height: 0;
		border-top: 5px solid transparent;
		border-right: 7px solid $black;
		border-bottom: 5px solid transparent;
	}
	&.c--right::before {
		content: '';

		position: absolute;
		top: 42%;
		left: 100%;

		width: 0;
		height: 0;
		border-top: 5px solid transparent;
		border-bottom: 5px solid transparent;
		border-left: 7px solid $black;
	}
	&.c--bottom::before {
		content: '';

		position: absolute;
		bottom: 100%;
		left: 45%;

		width: 0;
		height: 0;
		border-right: 5px solid transparent;
		border-bottom: 7px solid $black;
		border-left: 5px solid transparent;
	}
}
