.table {
	display: flex;
	justify-content: space-around;
	margin: 50px 0;
}

.nav-wrapper {
	width: 160px;
}

.c-nav__title {
	display: inline-block;
	width: 100%;
	padding: $normal-padding;
	padding-bottom: 0;

	color: $dark-grey;
	font-weight: bold;
	font-size: $small-font;
	letter-spacing: $letter-spacing;
}

.c-nav__items {
	width: 100%;

	color: $black;
	font-weight: bold;
	font-size: $medium-font;
	letter-spacing: $letter-spacing;
	padding: 0;
	li {
		list-style: none;
		width: 100%;
	}
	a {
		padding: 13px;
		border-radius: $smallest-border-radius;
		display: block;
		text-decoration: none;
		&:link {
			color: $black;
		}
		&:visited {
			color: $black;
		}
		&:hover {
			background-color: $blue;
			color: $white;
		}
		&.active {
			background-color: $blue;

			color: $white;
		}
	}
	&:not(:last-child) {
		border-bottom: $border-width solid $light-grey;
	}
}

.table-music-wrapper {
	width: 700px;
}

.c-table__music {
	border-collapse: collapse;
	width: 100%;

	color: $black;
	font-weight: 700;
	letter-spacing: $letter-spacing;
	text-align: left;
	th {
		padding: 15px;

		border-radius: $smallest-border-radius;

		color: $dark-grey;
		font-size: $small-font;
	}
	td {
		padding: 15px;
		border-top: 2px solid $light-grey;

		border-radius: $smallest-border-radius;

		font-size: $medium-font;
		&:first-child {
			color: $dark-grey;
		}
	}
	form {
		position: relative;
	}
	[type='checkbox'] {
		opacity: 0;
	}
	[type='checkbox'] + label {
		position: absolute;
		top: 3px;
		left: 0;
		z-index: -1;

		width: 100%;
		height: 80%;

		background: url(../images/checkbox.png) no-repeat;

		cursor: pointer;
	}
	[type='checkbox']:checked + label {
		z-index: -1;

		background-position: 0 -16px;
	}
	.active {
		color: $green;
	}
}
