$light-light-green: #66e3d6;
$light-green: #42c7b7;
$green: #24aa98;
$dark-green: #1a9385;
$dark-dark-green: #137d72;
$border-dark-green: #1a877b;
$blue: #65abd0;
$dark-blue: #5093b7;
$dark-dark-blue: #3e7c9e;
$light-light-orange: #f7e7ad;
$light-orange: #e8d48b;
$orange: #d9c26c;
$red: #db7560;
$light-grey: #dee2e7;
$grey: #c6ccd2;
$dark-grey: #b4bbc2;
$light-black: #494949;
$black: #383737;
$white: #fff;

$font-stack: 'Cabin', Arial, sans-serif;

$small-font: 14px;
$medium-font: 16px;
$large-font: 18px;
$x-large-font: 24px;

$line-height-pagination: 2rem;

$letter-spacing: 0.02rem;

$smallest-padding: 7px;
$small-padding: 8px;
$normal-padding: 13px;
$large-padding: 18px;
$x-large-padding: 25px;
$xx-large-padding: 60px;
$general-padding: 36px 120px;

$smallest-margin: 5px;
$x-small-margin: 10px;
$small-margin: 20px;
$normal-margin: 50px;

$smallest-border-radius: 6px;
$round-border-radius: 999rem;

$border-width: 2px;

$small-width: 36px;
$small-height: 36px;
$normal-width: 48px;
$normal-height: 48px;
$large-width: 60px;
$large-height: 60px;
$x-large-width: 220px;
$general-width: 1180px;

$min-width-normal-button-other: 75px;
$min-width-small-button-other: 90px;
$min-width-small-button: 120px;
$min-width-normal-button: 140px;
$min-width-large-button: 190px;

$menu-icon-small-width: 16px;
$menu-icon-normal-width: 18px;
$menu-icon-height: 2px;
$alignment-middle-width: 14px;
$alignment-small-width: 8px;
$alignment-small-center-width: 10px;
