<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Forms</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Cabin" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../../../css/templates/ui-kit/forms/style.css">
  </head>
  <body>
    <section class="c-forms">
      <div class="c-form--medium-wrapper">
        <div class="c-form">
          <div class="c-form__header c-form--sign-up"><a class="c-form__header-link" href="#">Already registered?</a>
            <h2 class="c-form__title c-form__title--big">Sign up</h2>
          </div>
          <form class="c-form__main">
            <div class="input-wrapper">
              <input class="c-form__input c-form__input--icon" type="email" placeholder="E-mail or login" required>
              <div class="mail-icon"></div>
            </div>
            <div class="input-wrapper">
              <input class="c-form__input c-form__input--icon" type="password" placeholder="Password" required>
              <div class="lock-icon"></div>
            </div><a class="c-form__main-link" href="#">Forgot password?</a>
            <div class="button-wrapper c-form--sign-up">
              <button class="c-button c--button-rounded c-form--sign-up">Sign up</button>
            </div>
          </form>
          <div class="c-form__footer c-form-social"><span class="c-form__footer-text">Or</span><a class="c-form__social-link c--facebook" href="#">Login via Facebook</a><a class="c-form__social-link c--twitter" href="#">Login via Twitter</a></div>
        </div>
      </div>
      <div class="c-form--medium-wrapper">
        <div class="c-form">
          <div class="c-form__header c-form--sign-in"><a class="c-form__header-link" href="#">Create an account</a>
            <h2 class="c-form__title c-form__title--big">Sign in</h2>
          </div>
          <form class="c-form__main">
            <div class="input-wrapper">
              <input class="c-form__input c-form__input--icon" type="email" placeholder="E-mail or login" required>
              <div class="mail-icon"></div>
            </div>
            <div class="input-wrapper">
              <input class="c-form__input c-form__input--icon" type="password" placeholder="Password" required>
              <div class="lock-icon"></div>
            </div>
            <div class="c-check c-form__checkbox">
              <input name="check-btn" type="checkbox" value="on" id="check-btn--big-form" checked>
              <label for="check-btn--big-form">Remember password?</label>
            </div>
            <div class="button-wrapper c-form--sign-in">
              <button class="c-button c--button-rounded c-form--sign-in">Sign in</button>
            </div>
          </form>
          <div class="c-form__footer c-form-social"><span class="c-form__footer-text">Or</span><a class="c-form__social-link c--facebook" href="#">Login via Facebook</a><a class="c-form__social-link c--twitter" href="#">Login via Twitter</a></div>
        </div>
      </div>
    </section>
    <section class="c-forms">
      <div class="c-form--small-wrapper">
        <div class="c-form c-form--sign-up">
          <div class="c-form__header c-form__header--small"><a class="c-form__header-link c-form__header--small" href="#">Already registered?</a>
            <h2 class="c-form__title">Sign up</h2>
          </div>
          <form class="c-form__main">
            <div class="input-wrapper c-form__main--small">
              <input class="c-form__input c-form__main--small c-form__input--icon" type="email" placeholder="E-mail or login" required>
              <div class="mail-icon"></div>
            </div>
            <div class="input-wrapper c-form__main--small">
              <input class="c-form__input c-form__main--small c-form__input--icon" type="password" placeholder="Password" required>
              <div class="lock-icon"></div>
            </div><a class="c-form__main-link" href="#">Forgot password?</a>
            <div class="button-wrapper c-form--sign-up">
              <button class="c-button c--button-rounded c-form--sign-up">Sign up</button>
            </div>
          </form>
          <div class="c-form__footer c-form-social"><span class="c-form__footer-text">Or</span><a class="c-form__social-link c--facebook icon icon--facebook" href="#">Facebook</a><a class="c-form__social-link c--twitter icon icon--twitter" href="#">Twitter</a></div>
        </div>
      </div>
      <div class="c-form--small-wrapper">
        <div class="c-form c-form--sign-in">
          <div class="c-form__header c-form__header--small"><a class="c-form__header-link c-form__header--small" href="#">Create an account</a>
            <h2 class="c-form__title">Sign in</h2>
          </div>
          <form class="c-form__main">
            <div class="input-wrapper c-form__main--small">
              <input class="c-form__input c-form__main--small c-form__input--icon" type="email" placeholder="E-mail or login" value="hello@creativeda.sh" required>
              <div class="mail-icon"></div>
            </div>
            <div class="input-wrapper c-form__main--small">
              <input class="c-form__input c-form__main--small c-form__input--icon" type="password" placeholder="Password" value="123456" required>
              <div class="lock-icon"></div>
            </div>
            <div class="c-check c-form__checkbox">
              <input name="check-btn" type="checkbox" value="on" id="check-btn--small-form" checked>
              <label for="check-btn--small-form">Remember password?</label>
            </div>
            <div class="button-wrapper c-form--sign-in">
              <button class="c-button c--button-rounded c-form--sign-in">Sign in</button>
            </div>
          </form>
          <div class="c-form__footer c-form-social"><span class="c-form__footer-text">Or</span><a class="c-form__social-link c--facebook icon icon--facebook" href="#">Facebook</a><a class="c-form__social-link c--twitter icon icon--twitter" href="#">Twitter</a></div>
        </div>
      </div>
      <div class="c-form--small-wrapper">
        <div class="c-form c-form--reset">
          <div class="c-form__header c-form__header--small"><a class="c-form__header-link c-form__header--small" href="#">Sign in</a>
            <h2 class="c-form__title">Reset password</h2>
          </div>
          <form class="c-form__main">
            <div class="input-wrapper c-form__main--small">
              <input class="c-form__input c-form__main--small c-form__input--icon" type="email" placeholder="E-mail or login" required>
              <div class="mail-icon"></div>
            </div>
            <div class="button-wrapper c-form--reset">
              <button class="c-button c--button-rounded c-form--reset">Reset</button>
            </div>
          </form>
        </div>
        <div class="c-form c-form--subscribe">
          <div class="c-form__header">
            <h2 class="c-form__title">Subscribing</h2>
          </div><span class="c-form__text">We will never send you spam or some other trash</span>
          <form class="c-form__main c-form--subscribe">
            <div class="input-wrapper c-form__main--small c-form--subscribe">
              <input class="c-form__input c-form__main--small c-form__input--icon" type="email" placeholder="E-mail" required>
              <div class="mail-icon"></div>
            </div>
            <div class="button-wrapper c-form--subscribe">
              <button class="c-button c--button-rounded c--button-circle c-form--subscribe"></button>
            </div>
          </form>
        </div>
      </div>
    </section>
    <section class="c-forms">
      <div class="c-form--big-wrapper">
        <div class="c-form c-form--big-contact">
          <div class="c-form__header">
            <h2 class="c-form__title">Contact</h2>
          </div>
          <form class="c-form__main c-form--big-contact">
            <div class="c-form__main-inputs-wrapper">
              <div class="input-label-wrapper">
                <label for="name--big-contact">Name</label>
                <div class="input-wrapper c-form--big-contact">
                  <input class="c-form__input c-form--big-contact" type="text" value="Carlos Shorter" name="name--big-contact" id="name--big-contact">
                </div>
              </div>
              <div class="input-label-wrapper">
                <label for="email--big-contact">E-mail</label>
                <div class="input-wrapper c-form--big-contact">
                  <input class="c-form__input c-form--big-contact" type="email" value="shotercarlos@gmail.com" name="email--big-contact" id="email--big-contact">
                </div>
              </div>
              <div class="input-label-wrapper">
                <label for="subject--big-contact">Subject</label>
                <div class="input-wrapper c-form--big-contact">
                  <input class="c-form__input c-form--big-contact" type="text" value="Partnership" name="subject--big-contact" id="subject--big-contact">
                </div>
              </div>
              <div class="input-label-wrapper">
                <label for="budget--big-contact">Select budget</label>
                <div class="input-wrapper c-form--big-contact c-form--select">
                  <select class="c-form__select c-form--big-contact" name="budget--big-contact" id="budget--big-contact">
                    <option>less than $5.000</option>
                    <option>$5.000 - $10.000</option>
                    <option selected>$10.000 - $15.000</option>
                    <option>$15.000 - $20.000</option>
                    <option>more than $20.000</option>
                  </select>
                </div>
              </div>
              <div class="input-label-wrapper">
                <label for="message--big-contact">Message</label>
                <textarea class="c-form__message c-form--big-contact" name="message--big-contact" id="message--big-contact">Just then her head struck against the roof of the hall: in fact she was now more than nine feet high, and she at once took up the little golden key and hurried off to the garden door.</textarea>
              </div>
            </div>
            <div class="c-form__footer">
              <div class="c-check c-form__checkbox">
                <input name="check-btn" type="checkbox" value="on" id="check-btn--on" checked>
                <label for="check-btn--on">Send me a copy</label>
              </div>
              <div class="button-wrapper c-form--ok">
                <button class="c-button c--button-rounded c-form--ok">Send</button>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="c-form--small-wrapper">
        <div class="c-form c-form--small-contact">
          <div class="c-form__header">
            <h2 class="c-form__title">Contact</h2>
          </div>
          <div class="c-form__main c-form--small-contact">
            <div class="c-form__main-inputs-wrapper">
              <div class="input-label-wrapper">
                <label for="name--small-contact">Name</label>
                <div class="input-wrapper c-form--small-contact">
                  <input class="c-form__input c-form--small-contact" type="text" value="Carlos Shorter" name="name--small-contact" id="name--small-contact">
                </div>
              </div>
              <div class="input-label-wrapper">
                <label for="email--small-contact">E-mail</label>
                <div class="input-wrapper c-form--small-contact">
                  <input class="c-form__input c-form--small-contact" type="email" value="shotercarlos@gmail.com" name="email--small-contact" id="email--small-contact">
                </div>
              </div>
              <div class="input-label-wrapper">
                <label for="message--small-contact">Message</label>
                <textarea class="c-form__message c-form--small-contact" name="message--small-contact" id="message--small-contact">Thus much I thought proper to tell you in relation to yourself, and to the trust I reposed in you.</textarea>
              </div>
            </div>
            <div class="c-form__footer right-position">
              <div class="button-wrapper c-form--ok">
                <button class="c-button c--button-rounded c-form--ok">Send</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="c-forms">
      <div class="c-form--full-wrapper">
        <div class="c-form c-form--cart">
          <div class="c-form__header">
            <h2 class="c-form__title">Cart</h2>
          </div>
          <div class="c-form__main">
            <table class="c-table c-form--cart">
              <tr>
                <th>Item</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Total</th>
              </tr>
              <tr>
                <td>
                  <div class="c-item">
                    <div class="c-item__photo"><img src="../../../images/ui-kit/forms/item1.jpg" alt="leather bag"></div>
                    <div class="c-item__content"><span>Leather bag</span></div>
                  </div>
                </td>
                <td>$199</td>
                <td>
                  <div class="c-item__quantity"> 
                    <button class="c-button--minus"></button><span>1</span>
                    <button class="c-button--plus"></button>
                  </div>
                </td>
                <td>$199</td>
              </tr>
              <tr>
                <td>
                  <div class="c-item">
                    <div class="c-item__photo"><img src="../../../images/ui-kit/forms/item2.jpg" alt="leather belt"></div>
                    <div class="c-item__content"><span>Leather belt</span>
                      <div class="c-item__info">
                        <div class="c-item__color"><span>Color: </span>
                          <input type="radio" name="color-belt" id="belt-color1" checked>
                          <label for="belt-color1"></label>
                          <input type="radio" name="color-belt" id="belt-color2">
                          <label for="belt-color2"></label>
                          <input type="radio" name="color-belt" id="belt-color3">
                          <label for="belt-color3"></label>
                          <input type="radio" name="color-belt" id="belt-color4">
                          <label for="belt-color4"></label>
                          <input type="radio" name="color-belt" id="belt-color5">
                          <label for="belt-color5"></label>
                        </div>
                      </div>
                    </div>
                  </div>
                </td>
                <td>$49</td>
                <td> 
                  <div class="c-item__quantity">
                    <button class="c-button--minus"></button><span>2</span>
                    <button class="c-button--plus"></button>
                  </div>
                </td>
                <td>$98</td>
              </tr>
              <tr>
                <td>
                  <div class="c-item">
                    <div class="c-item__photo"><img src="../../../images/ui-kit/forms/item3.jpg" alt="leather shoes"></div>
                    <div class="c-item__content"><span>Leather shoes</span>
                      <div class="c-item__info">
                        <div class="c-item__color"><span>Color:</span>
                          <input type="radio" name="color-shoes" id="shoes-color1" checked>
                          <label for="shoes-color1"></label>
                          <input type="radio" name="color-shoes" id="shoes-color2">
                          <label for="shoes-color2"></label>
                        </div>
                        <div class="c-item__size"><span>Size:</span><span class="c-item__size-number">42</span></div>
                      </div>
                    </div>
                  </div>
                </td>
                <td>$199</td>
                <td> 
                  <div class="c-item__quantity">
                    <button class="c-button--minus"></button><span>1</span>
                    <button class="c-button--plus"></button>
                  </div>
                </td>
                <td>$199</td>
              </tr>
            </table>
            <div class="c-form--subtotal"><span class="c-form--subtotal-text">Subtotal:</span><span class="c-form--subtotal-quantity">$496</span></div>
          </div>
          <div class="c-form__footer c-form--cart"><a class="c-form__footer-link" href="#">Continue shopping</a>
            <div class="button-wrapper c-form--ok">
              <button class="c-button c--button-rounded c-form--ok"> <span class="c-form--arrow-btn">Order</span></button>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="c-forms">
      <div class="c-form--full-wrapper">
        <div class="c-form c-form--address">
          <div class="c-form--address-block">
            <h2 class="c-form__title">Shipping address</h2>
            <div class="c-form__main c-form--address">
              <div class="input-label-wrapper">
                <label for="country--address">Select country</label>
                <div class="input-wrapper c-form--address c-form--select">
                  <select class="c-form__select c-form--address" name="country--address" id="country--address">
                    <option selected>USA</option>
                    <option>Canada</option>
                    <option>Mexica</option>
                  </select>
                </div>
              </div>
              <div class="input-label-wrapper">
                <label for="state--address">State, region, province</label>
                <div class="input-wrapper c-form--address">
                  <input class="c-form__input" type="text" value="California" name="state--address" id="state--address">
                </div>
              </div>
              <div class="input-label-wrapper">
                <label for="address1--address">Address 1</label>
                <div class="input-wrapper c-form--address">
                  <input class="c-form__input" type="text" name="address1--address" id="address1--address">
                </div>
              </div>
              <div class="input-label-wrapper">
                <label for="city--address">Select city</label>
                <div class="input-wrapper c-form--address c-form--select">
                  <select class="c-form__select c-form--address" name="city--address" id="city--address">
                    <option selected>California</option>
                    <option>Washington</option>
                    <option>NY</option>
                  </select>
                </div>
              </div>
              <div class="input-label-wrapper">
                <label for="zip--address">ZIP code</label>
                <div class="input-wrapper c-form--address">
                  <input class="c-form__input" type="text" value="95661" name="zip--address" id="zip--address">
                </div>
              </div>
              <div class="input-label-wrapper">
                <label for="address2--address">Address 2</label>
                <div class="input-wrapper c-form--address">
                  <input class="c-form__input" type="text" name="address2--address" id="address2--address">
                </div>
              </div>
            </div>
          </div>
          <div class="c-form--address-block">
            <h2 class="c-form__title">Contact info</h2>
            <div class="c-form__main c-form--address">
              <div class="input-label-wrapper">
                <label for="name--address">Full Name</label>
                <div class="input-wrapper c-form--address">
                  <input class="c-form__input" type="text" value="California" name="name--address" id="name--address">
                </div>
              </div>
              <div class="input-label-wrapper">
                <label for="email--address">E-mail</label>
                <div class="input-wrapper c-form--address">
                  <input class="c-form__input" type="email" value="95661" name="email--address" id="email--address">
                </div>
              </div>
              <div class="input-label-wrapper">
                <label for="phone--address">Phone</label>
                <div class="input-wrapper c-form--address">
                  <input class="c-form__input" type="tel" name="phone--address" id="phone--address">
                </div>
              </div>
            </div>
          </div>
          <div class="c-form__footer c-form--address"> <a class="c-form__footer-link" href="#">Return to Cart</a>
            <div class="button-wrapper c-form--ok">
              <button class="c-button c--button-rounded c-form--ok"><span class="c-form--arrow-btn">Payment method</span></button>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="c-forms">
      <div class="c-form--full-wrapper">
        <div class="c-form c-form--payment">
          <div class="c-form__header c-form--payment">
            <h2 class="c-form__title c-form--payment">Payment method</h2>
            <h2 class="c-form__title c-form--payment">Billing address</h2>
          </div>
          <div class="c-form__main c-form--payment">
            <div class="c-form__main-inputs-wrapper">
              <div class="input-label-wrapper group">
                <label for="credit-card">Credit card</label>
                <div class="input-wrapper number">
                  <input class="c-form__input" type="tel" name="credit-card" id="credit-card" maxlength="4" value="6594">
                </div>
                <div class="input-wrapper number">
                  <input class="c-form__input" type="tel" name="credit-card" maxlength="4" value="6594">
                </div>
                <div class="input-wrapper number">
                  <input class="c-form__input" type="tel" name="credit-card" maxlength="4" value="6594">
                </div>
                <div class="input-wrapper number">
                  <input class="c-form__input" type="tel" name="credit-card" maxlength="4" value="6594">
                </div>
              </div>
              <div class="input-label-wrapper">
                <label for="cardholder-name">Cardholder name</label>
                <div class="input-wrapper c-form--payment">
                  <input class="c-form__input" type="text" name="cardholder-name" id="cardholder-name">
                </div>
              </div>
              <div class="input-label-wrapper group">
                <label for="expire-date">Expire date</label>
                <div class="input-wrapper c-form--small-select">
                  <select class="c-form__select c-form--payment" name="expire-date" id="expire-date">
                    <option selected>Month</option>
                    <option>01</option>
                    <option>02</option>
                    <option>03</option>
                    <option>04</option>
                    <option>05</option>
                    <option>06</option>
                    <option>07</option>
                    <option>08</option>
                    <option>09</option>
                    <option>10</option>
                    <option>11</option>
                    <option>12</option>
                  </select>
                </div>
                <div class="input-wrapper c-form--small-select">
                  <select class="c-form__select c-form--payment">
                    <option selected>Year</option>
                    <option>2017</option>
                    <option>2018</option>
                    <option>2019</option>
                  </select>
                </div>
              </div>
              <div class="input-label-wrapper">
                <label for="cvv">CVV</label>
                <div class="input-wrapper number">
                  <input class="c-form__input" type="password" name="cvv" id="cvv" maxlength="3">
                </div>
              </div>
            </div>
            <div class="c-form__billing-address">
              <div class="c-form__billing-address-info">
                <div class="c-check c-form__checkbox">
                  <input name="check-btn" type="checkbox" value="on" id="same-address" checked>
                  <label class="c-form--payment" for="same-address">Same as shipping address</label>
                </div><span class="c-form__billing-address-text">A hundred thousand grateful loves to your dear papa and mamma. Is your poor brother recovered of his rack-punch? Oh, dear! Oh, dear! How men should beware of wicked</span>
              </div><span class="c-form--payment-sum">$496</span>
            </div>
          </div>
          <div class="c-form__footer c-form--payment"><a class="c-form__footer-link" href="#">Edit Shipping Address</a>
            <div class="button-wrapper c-form--ok">
              <button class="c-button c--button-rounded c-form--ok"><span class="c-form--arrow-btn">Place Order</span></button>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>