<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Forms</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Cabin" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../../../css/templates/ui-kit/forms/style.css">
  </head>
  <body>
    <section class="c-forms">
      <div class="c-form c-form--medium c-form--sign-up">
        <div class="c-form__header"><a href="#">Already registered?</a>
          <h2 class="c-form__title c-form__title--big">Sign up</h2>
        </div>
        <div class="c-form__main">
          <div>
            <input type="email" placeholder="E-mail or login">
            <div class="mail-icon"></div>
          </div>
          <div>
            <input type="password" placeholder="Password">
            <div class="pass-icon"></div>
          </div><a href="#">Forgot password?</a>
          <div class="button-wrapper">
            <button>Sign up</button>
          </div>
        </div>
        <div class="c-form__footer"><span>Or</span><a href="#">Login via Facebook</a><a href="#">Login via Twitter</a></div>
      </div>
      <div class="c-form c-form--medium c-form--sign-in">
        <div class="c-form__header"><a href="#">Create an account</a>
          <h2 class="c-form__title c-form__title--big">Sign in</h2>
        </div>
        <div class="c-form__main">
          <div>
            <input type="email" placeholder="E-mail or login">
            <div class="mail-icon"></div>
          </div>
          <div>
            <input type="password" placeholder="Password">
            <div class="pass-icon"></div>
          </div>
          <div class="c-check">
            <input name="check-btn" type="checkbox" value="on" id="check-btn--on" checked>
            <label for="check-btn--on">Remember password?</label>
          </div>
          <div class="button-wrapper">
            <button>Sign in</button>
          </div>
        </div>
        <div class="c-form__footer"><span>Or</span><a href="#">Login via Facebook</a><a href="#">Login via Twitter</a></div>
      </div>
    </section>
    <section class="c-forms">
      <div class="c-form c-form--small c-form--sign-up">
        <div class="c-form__header"><a href="#">Already registered?</a>
          <h2 class="c-form__title">Sign up</h2>
        </div>
        <div class="c-form__main">
          <div>
            <input type="email" placeholder="E-mail or login">
            <div class="mail-icon"></div>
          </div>
          <div>
            <input type="password" placeholder="Password">
            <div class="pass-icon"></div>
          </div><a href="#">Forgot password?</a>
          <div class="button-wrapper">
            <button>Sign up</button>
          </div>
        </div>
        <div class="c-form__footer"><span>Or</span><a href="#">Facebook</a><a href="#">Twitter</a></div>
      </div>
      <div class="c-form c-form--small c-form--sign-in">
        <div class="c-form__header"><a href="#">Create an account</a>
          <h2 class="c-form__title">Sign in</h2>
        </div>
        <div class="c-form__main">
          <div>
            <input type="email" placeholder="E-mail or login">
            <div class="mail-icon"></div>
          </div>
          <div>
            <input type="password" placeholder="Password">
            <div class="pass-icon"></div>
          </div>
          <div class="c-check">
            <input name="check-btn" type="checkbox" value="on" id="check-btn--on" checked>
            <label for="check-btn--on">Remember password?</label>
          </div>
          <div class="button-wrapper">
            <button>Sign in</button>
          </div>
        </div>
        <div class="c-form__footer"><span>Or</span><a href="#">Facebook</a><a href="#">Twitter</a></div>
      </div>
      <div class="c-forms-wrapper">
        <div class="c-form c-form--smallest c-form--reset">
          <div class="c-form__header">
            <h2 class="c-form__title">Reset password</h2><a href="#">Sign in</a>
          </div>
          <div class="c-form__main">
            <div>
              <input type="email" placeholder="E-mail or login">
              <div class="mail-icon"></div>
            </div>
            <div class="button-wrapper">
              <button>Sign up</button>
            </div>
          </div>
        </div>
        <div class="c-form c-form--smallest c-form--subscribe">
          <h2 class="c-form__title">Subscribing</h2><span>We will never send you spam or some other trash</span>
          <div>
            <div>
              <input type="email" placeholder="E-mail">
              <div class="mail-icon"></div>
            </div>
            <div class="button-wrapper">
              <button>пр</button>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="c-forms">
      <div class="c-form c-form--big-contact">
        <div class="c-form__header">
          <h2 class="c-form__title">Contact</h2>
        </div>
        <div class="c-form__main">
          <div>
            <label for="name--big-contact">Name</label>
            <input type="text" placeholder="Carlos Shorter" name="name--big-contact" id="name--big-contact">
          </div>
          <div>
            <label for="email--big-contact">E-mail</label>
            <input type="email" placeholder="shotercarlos@gmail.com" name="email--big-contact" id="email--big-contact">
          </div>
          <div>
            <label for="subject--big-contact">Subject</label>
            <input type="text" placeholder="Partnership" name="subject--big-contact" id="subject--big-contact">
          </div>
          <div>
            <label for="budget--big-contact">Select budget</label>
            <select name="budget--big-contact" id="budget--big-contact">
              <option>less than $5.000</option>
              <option>$5.000 - $10.000</option>
              <option selected>$10.000 - $15.000</option>
              <option>$15.000 - $20.000</option>
              <option>more than $20.000</option>
            </select>
          </div>
          <div>
            <label for="message--big-contact">Message</label>
            <textarea name="message--big-contact" id="message--big-contact"></textarea>
          </div>
          <div class="c-check">
            <input name="check-btn" type="checkbox" value="on" id="check-btn--on" checked>
            <label for="check-btn--on">Send me a copy</label>
          </div>
          <div class="button-wrapper">
            <button>Send</button>
          </div>
        </div>
      </div>
      <div class="c-form c-form--small-contact">
        <div class="c-form__header">
          <h2 class="c-form__title">Contact</h2>
        </div>
        <div class="c-form__main">
          <div>
            <label for="name--big-contact">Name</label>
            <input type="text" placeholder="Carlos Shorter" name="name--big-contact" id="name--big-contact">
          </div>
          <div>
            <label for="email--big-contact">E-mail</label>
            <input type="email" placeholder="shotercarlos@gmail.com" name="email--big-contact" id="email--big-contact">
          </div>
          <div>
            <label for="message--big-contact">Message</label>
            <textarea name="message--big-contact" id="message--big-contact"></textarea>
          </div>
          <div class="button-wrapper">
            <button>Send</button>
          </div>
        </div>
      </div>
    </section>
    <section class="c-forms">
      <div class="c-form c-form--big c-form--cart">
        <div class="c-form__header">
          <h2 class="c-form__title">Cart</h2>
        </div>
        <div class="c-form__main">
          <table>
            <tr>
              <th>Item</th>
              <th>Price</th>
              <th>Quantity</th>
              <th>Total</th>
            </tr>
            <tr>
              <td>
                <div><img alt="leather bag"></div>
                <div><span>Leather bag</span></div>
              </td>
              <td>$199</td>
              <td> 
                <div></div><span>1</span>
                <div></div>
              </td>
              <td>$199</td>
            </tr>
            <tr>
              <td>
                <div><img alt="leather belt"></div>
                <div><span>Leather belt</span>
                  <div><span>Color: </span>
                    <input type="radio" name="color-belt" id="belt-color1" checked>
                    <label for="color1"></label>
                    <input type="radio" name="color-belt" id="belt-color2">
                    <label for="color2"></label>
                    <input type="radio" name="color-belt" id="belt-color3">
                    <label for="color3"></label>
                    <input type="radio" name="color-belt" id="belt-color4">
                    <label for="color4"></label>
                    <input type="radio" name="color-belt" id="belt-color5">
                    <label for="color5"></label>
                  </div>
                </div>
              </td>
              <td>$49</td>
              <td> 
                <div></div><span>2</span>
                <div></div>
              </td>
              <td>$98</td>
            </tr>
            <tr>
              <td>
                <div><img alt="leather shoes"></div>
                <div><span>Leather shoes</span>
                  <div>
                    <div><span>Color:</span>
                      <input type="radio" name="color-shoes" id="shoes-color1" checked>
                      <label for="shoes-color1"></label>
                      <input type="radio" name="color-shoes" id="shoes-color2">
                      <label for="shoes-color2"></label>
                    </div>
                    <div><span>Size:</span><span>42</span></div>
                  </div>
                </div>
              </td>
              <td>$199</td>
              <td> 
                <div></div><span>1</span>
                <div></div>
              </td>
              <td>$199</td>
            </tr>
          </table>
          <div><span>Subtotal:</span><span>$496</span></div>
        </div>
        <div class="c-form__footer"><a href="#">Continue shopping</a>
          <div class="button-wrapper">
            <button> <span>Order</span></button>
          </div>
        </div>
      </div>
    </section>
    <section class="c-forms">
      <div class="c-form c-form--big c-form--address">
        <div>
          <h2 class="c-form__title">Shipping address</h2>
          <div>
            <label for="country--address">Select country</label>
            <select name="country--address" id="country--address">
              <option selected>USA</option>
              <option>Canada</option>
              <option>Mexica</option>
            </select>
          </div>
          <div>
            <label for="state--address">State, region, province</label>
            <input type="text" placeholder="California" name="state--address" id="state--address">
          </div>
          <div>
            <label for="address1--address">Address 1</label>
            <input type="text" name="address1--address" id="address1--address">
          </div>
          <div>
            <label for="city--address">Select city</label>
            <select name="city--address" id="city--address">
              <option selected>California</option>
              <option>Washington</option>
              <option>NY</option>
            </select>
          </div>
          <div>
            <label for="zip--address">ZIP code</label>
            <input type="text" placeholder="95661" name="zip--address" id="zip--address">
          </div>
          <div>
            <label for="address2--address">Address 2</label>
            <input type="text" name="address2--address" id="address2--address">
          </div>
        </div>
        <div>
          <h2 class="c-form__title">Contact info</h2>
          <div>
            <div>
              <label for="name--address">Full Name</label>
              <input type="text" placeholder="California" name="name--address" id="name--address">
            </div>
            <div>
              <label for="email--address">E-mail</label>
              <input type="email" placeholder="95661" name="email--address" id="email--address">
            </div>
            <div>
              <label for="phone--address">Phone</label>
              <input type="tel" placeholder="California" name="phone--address" id="phone--address">
            </div>
          </div>
        </div>
        <div class="c-form__footer"> <a href="#">Return to Cart</a>
          <div class="button-wrapper">
            <button><span>Payment method</span></button>
          </div>
        </div>
      </div>
    </section>
    <section class="c-forms">
      <div class="c-form c-form--big c-form--payment">
        <div>
          <h2 class="c-form__title">Payment method</h2>
          <div>
            <div>
              <label for="credit-card">Credit card</label>
              <div>
                <input type="tel" name="credit-card" id="credit-card" maxlength="4" placeholder="6594">
              </div>
              <div>
                <input type="tel" name="credit-card" maxlength="4" placeholder="6594">
              </div>
              <div>
                <input type="tel" name="credit-card" maxlength="4" placeholder="6594">
              </div>
              <div>
                <input type="tel" name="credit-card" maxlength="4" placeholder="6594">
              </div>
            </div>
            <div>
              <label for="cardholder-name">Cardholder name</label>
              <div>
                <input type="text" name="cardholder-name" id="cardholder-name">
              </div>
            </div>
            <div>
              <label for="expire-date">Expire date</label>
              <div>
                <select name="expire-date" id="expire-date">
                  <option>Month</option>
                  <option>01</option>
                  <option>02</option>
                  <option>03</option>
                  <option>04</option>
                  <option>05</option>
                  <option>06</option>
                  <option>07</option>
                  <option>08</option>
                  <option>09</option>
                  <option>10</option>
                  <option>11</option>
                  <option>12</option>
                </select>
              </div>
              <div>
                <select>
                  <option>Year</option>
                  <option>2017</option>
                  <option>2018</option>
                  <option>2019</option>
                </select>
              </div>
            </div>
            <div>
              <label for="cvv">CVV</label>
              <div>
                <input type="password" name="cvv" id="cvv" maxlength="3">
              </div>
            </div>
          </div>
        </div>
        <div>
          <h2 class="c-form__title">Billing address</h2>
          <div class="c-check">
            <input name="check-btn" type="checkbox" value="on" id="check-btn--on" checked>
            <label for="check-btn--on">Same as shipping address</label>
          </div><span>A hundred thousand grateful loves to your dear papa and mamma. Is your poor brother recovered of his rack-punch? Oh, dear! Oh, dear! How men should beware of wicked</span><span>$496</span>
        </div>
        <div class="c-form__footer"><a href="#">Edit Shipping Address</a>
          <div class="button-wrapper">
            <button><span>Place Order</span></button>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>