doctype html
html(lang="en")
	head
		title= "Navigation"
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		link(href="https://fonts.googleapis.com/css?family=Cabin:600", rel="stylesheet")
		link(rel="stylesheet", type= "text/css", href="../../../css/templates/ui-kit/navigation/style.css")
	body
		section(class="c-nav")
			figure
				a(href="top-headers/index.html")
					img(src="../../../../images/ui-kit/navigation/top-headers-min.png", alt="top-headers", class="c-nav__img")
				figcaption Top headers
			figure
				a(href="additional-headers/index.html")
					img(src="../../../../images/ui-kit/navigation/additional-headers-min.png", alt="additional-headers", class="c-nav__img")
				figcaption Additional headers
			figure
				a(href="top-headers-isolated/index.html")
					img(src="../../../../images/ui-kit/navigation/top-headers-isolated-min.png", alt="top-headers-isolated", class="c-nav__img")
				figcaption Top headers isolated
			figure
				a(href="vertical-menus/index.html")
					img(src="../../../../images/ui-kit/navigation/vertical-menus-min.png", alt="vertical-menus", class="c-nav__img")
				figcaption Vertical menus
			figure
				a(href="breadcrumbs/index.html")
					img(src="../../../../images/ui-kit/navigation/breadcrumbs-min.png", alt="breadcrumbs", class="c-nav__img")
				figcaption Breadcrumbs
			figure
				a(href="tabs/index.html")
					img(src="../../../../images/ui-kit/navigation/tabs-min.png", alt="tabs", class="c-nav__img")
				figcaption Tabs