doctype html
html(lang="en")
	head
		title= "Top Header 2"
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		link(href="https://fonts.googleapis.com/css?family=Cabin:600", rel="stylesheet")
		link(rel="stylesheet", type= "text/css", href="../../../../../css/templates/ui-kit/navigation/top-headers/header2/style.css")
	body
		section(class="c-nav")
			div(class="c-nav-left")
				button(class="c-button c--button-square c--button-rounded c--button-small c-nav__button c-menu-icon")
					div(class="c-button-square-icon c--button-small")
				nav(class="c-menu")
					a(href="#", class="c-menu__item") Activity
					a(href="#", class="c-menu__item is-active") Discover
					a(href="#", class="c-menu__item") Portfolio
					a(href="#", class="c-menu__item") Jobs
			div(class="c-nav-right")
				form(class="search-wrapper c-nav__search") 
					input(type="search", placeholder="Search", class="c-search c-search--round c-search--small c-nav__search")
					div(class="search-icon c-search--small c-nav__search-icon")
				a(href="#", class="ava-wrapper")
					img(src="../../../../../images/ui-kit/navigation/top-headers/header2/photo-min.jpg", alt="your photo", class="c-avatar")