<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>JWood</title>
	<link rel="stylesheet" type="text/css" href="../../css/templates/jwood/style.css">
</head>
<body>
	<div id="main">
		<nav>
			<a href="#home">Home</a>
			<a href="#about-me">About me</a>
			<a href="#portfolio">Portfolio</a>
			<a href="#contact">Contact</a>
		</nav>
		<section id="home" class="section">
			<div class="logo">
				<div class="wrapper-logoimg">
					<img src="../../images/jwood/logo-min.png" alt="">
				</div>
				<h1><span>Jwood</span>Photography</h1>
			</div>
			<div class="scroll-down">
				<a href="#about-me">Scroll down to see more</a>
			</div>
		</section>
		<section id="about-me" class="section">
			<div class="wrapper-about">
				<div class="content">
					<h2>About me</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
					<p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
					<p>Jason Wood</p>
				</div>
				<div class="photo">
					<img src="../../images/jwood/jason-wood-min.jpg" alt="">
				</div>
			</div>
			<div class="scroll-down">
				<a href="#portfolio">Keep scrolling, there is still more to come</a>
			</div>
		</section>
		<section id="portfolio" class="section">
			<h2>Portfolio</h2>
			<div class="gallery">
				<div class="photo-gallery"><img src="../../images/jwood/1-min.jpg" alt=""></div>
				<div class="photo-gallery"><img src="../../images/jwood/2-min.jpg" alt=""></div>
				<div class="photo-gallery"><img src="../../images/jwood/3-min.jpg" alt=""></div>
				<div class="photo-gallery"><img src="../../images/jwood/4-min.jpg" alt=""></div>
				<div class="photo-gallery"><img src="../../images/jwood/5-min.jpg" alt=""></div>
				<div class="photo-gallery"><img src="../../images/jwood/6-min.jpg" alt=""></div>
				<div class="photo-gallery"><img src="../../images/jwood/7-min.jpg" alt=""></div>
				<div class="photo-gallery"><img src="../../images/jwood/8-min.jpg" alt=""></div>
				<div class="photo-gallery"><img src="../../images/jwood/9-min.jpg" alt=""></div>
				<div class="photo-gallery"><img src="../../images/jwood/10-min.jpg" alt=""></div>
			</div>
			<div class="scroll-down">
				<a href="#contact">Do you want to see it with your own eyes? scroll!</a>
			</div>
		</section>
		<section id="contact" class="section">
			<div class="wrapper-copy">
				<dl>
					<dt class="mail"><a href="mailto: jason@wood.com">Mail:</a></dt>
					<dd class="mail"><a href="mailto: jason@wood.com">jason@wood.com</a></dd>
					<dt class="phone"><a href="tel: +44212432444">Phone:</a></dt>
					<dd class="phone"><a href="tel: +44212432444">+44 212 432 444</a></dd>
					<dt class="social">Social media</dt>
					<dd class="social">
						<a href="https://www.facebook.com/"><img src="../../images/jwood/facebook.png" alt=""></a>
						<a href="https://twitter.com/"><img src="../../images/jwood/twitter.png" alt=""></a>
						<a href="https://www.instagram.com/"><img src="../../images/jwood/instagram.png" alt=""></a>
					</dd>
				</dl>
			</div>
			<div class="copyright">
				<p>Designed by Pawel Szymankiewicz</p>
			</div>
		</section>
	</div>
	<script src="https://code.jquery.com/jquery-3.2.0.js"
	integrity="sha256-wPFJNIFlVY49B+CuAIrDr932XSb6Jk3J1M22M3E2ylQ="
	crossorigin="anonymous"></script>
	<script src="../../js/jwood/js.js"></script>
</body>
</html>