doctype html
html(lang="en")
	head
		title= "Header 2"
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		link(href="https://fonts.googleapis.com/css?family=Cabin:600", rel="stylesheet")
		link(rel="stylesheet", type= "text/css", href="css/style.css")
	body
		section(class="c-header")
			div(class="c-header__header")
				button(class="c-button c--button-square c--button-rounded c-header__header-menu-item")
					div(class="c-button-square-icon")
				nav(class="c-header__header-menu")
					a(href="#", class="c-header__header-menu-item") Products
					a(href="#", class="c-header__header-menu-item") Prices
					a(href="#", class="c-header__header-menu-item") About Us
					a(href="#", class="c-header__header-menu-item") Contacts
			div(class="c-header__logo")
				img(src="images/logo.png", alt="logo", class="c-header__logo-img")
			div(class="c-header__main")
				h1(class="c-header__main-title") Thus much I thought proper to tell you in relation to yourself, and to the trust I reposed in you.
				div(class="button-wrapper")
					button(class="c-button c--button-round c-header__button") Learn more