doctype html
html(lang="en")
	head
		title= "Footers"
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		link(href="https://fonts.googleapis.com/css?family=Cabin:600", rel="stylesheet")
		link(rel="stylesheet", type= "text/css", href="../../../css/templates/ui-kit/footers/style.css")
	body
		section(class="c-footers")
			figure
				a(href="footer1/index.html")
					img(src="../../../../images/ui-kit/footers/footer1-min.jpg", alt="footer1", class="c-footers__img")
				figcaption Footer 1
			figure
				a(href="footer2/index.html")
					img(src="../../../../images/ui-kit/footers/footer2-min.jpg", alt="footer2", class="c-footers__img")
				figcaption Footer 2
			figure
				a(href="footer3/index.html")
					img(src="../../../../images/ui-kit/footers/footer3-min.jpg", alt="footer3", class="c-footers__img")
				figcaption Footer 3
			figure
				a(href="footer4/index.html")
					img(src="../../../../images/ui-kit/footers/footer4-min.jpg", alt="footer4", class="c-footers__img")
				figcaption Footer 4
			figure
				a(href="footer5/index.html")
					img(src="../../../../images/ui-kit/footers/footer5-min.jpg", alt="footer5", class="c-footers__img")
				figcaption Footer 5
			figure
				a(href="footer6/index.html")
					img(src="../../../../images/ui-kit/footers/footer6-min.jpg", alt="footer6", class="c-footers__img")
				figcaption Footer 6
			figure
				a(href="footer7/index.html")
					img(src="../../../../images/ui-kit/footers/footer7-min.jpg", alt="footer7", class="c-footers__img")
				figcaption Footer 7
			figure
				a(href="footer8/index.html")
					img(src="../../../../images/ui-kit/footers/footer8-min.jpg", alt="footer8", class="c-footers__img")
				figcaption Footer 8
			figure
				a(href="footer9/index.html")
					img(src="../../../../images/ui-kit/footers/footer9-min.jpg", alt="footer9", class="c-footers__img")
				figcaption Footer 9
			figure
				a(href="footer10/index.html")
					img(src="../../../../images/ui-kit/footers/footer10-min.jpg", alt="footer10", class="c-footers__img")
				figcaption Footer 10