.buttons {
  margin-bottom: 50px;
}

.button-wrapper {
  display: inline-block;
  min-width: 140px;
  margin: 5px;
}

.button-wrapper.button-wrapper-arrow {
  min-width: 75px;
}

.button-wrapper.button-wrapper-arrow.button-wrapper--small {
  min-width: 90px;
}

.button-wrapper.button-wrapper--large {
  min-width: 190px;
}

.button-wrapper.button-wrapper--small {
  min-width: 120px;
}

.button-wrapper.button-group-wrapper {
  overflow: hidden;
  min-width: 75px;
  height: 48px;
  vertical-align: middle;
}

.button-wrapper.button-group-wrapper.button-wrapper--small {
  height: 36px;
}

.c-button {
  width: 100%;
  padding: 13px;
  border-color: transparent;
  background-color: #65abd0;
  outline: none;
  color: #fff;
  font-size: 16px;
  letter-spacing: 0.02rem;
  text-align: center;
  text-decoration: none;
  text-shadow: 0 0 1px #fff;
  cursor: pointer;
}

.c-button:hover {
  background-color: #5093b7;
}

.c-button:active {
  background-color: #3e7c9e;
}

.c-button.c--button-rounded {
  border-radius: 6px;
}

.c-button.c--button-round {
  border-radius: 999rem;
}

.c-button.c--button-ghost {
  border: 2px solid #65abd0;
  background-color: transparent;
  color: #65abd0;
  text-shadow: 0 0 1px #65abd0;
}

.c-button.c--button-ghost:hover {
  border-color: #5093b7;
  color: #5093b7;
}

.c-button.c--button-ghost:active {
  border-color: #3e7c9e;
  color: #3e7c9e;
}

.c-button.c--button-square {
  position: relative;
  width: 48px;
  height: 48px;
  margin: 20px;
  padding: 0;
  vertical-align: middle;
}

.c-button.c--button-square.c--button-large {
  width: 60px;
  height: 60px;
}

.c-button.c--button-square.c--button-small {
  width: 36px;
  height: 36px;
}

.c-button.c--button-circle::before {
  content: '';
  position: absolute;
  top: 50%;
  left: calc(50% + 1px);
  width: 10px;
  height: 10px;
  border-top: solid 2px #fff;
  border-right: solid 2px #fff;
  transform: translate(-50%, -50%) rotate(-135deg);
  transform-origin: center;
}

.c-button.c--button-circle.c--button-large::before {
  left: calc(50% - 1px);
  transform: translate(-50%, -50%) rotate(45deg);
}

.c-button.c--button-circle.c--button-small::before {
  left: calc(50% - 1px);
  width: 7px;
  height: 7px;
  transform: translate(-50%, -50%) rotate(45deg);
}

.c-button.c--button-arrow {
  position: relative;
}

.c-button.c--button-arrow::after {
  content: ' ';
  position: absolute;
  top: 50%;
  left: calc(100% - 2px);
  width: 0;
  height: 0;
  margin-top: -24px;
  border: solid transparent;
  border-width: 24px;
  border-left-color: #65abd0;
}

.c-button.c--button-arrow:hover::after {
  border-left-color: #5093b7;
}

.c-button.c--button-arrow:active::after {
  border-left-color: #3e7c9e;
}

.c-button.c--button-arrow.c--button-small::after {
  margin-top: -18px;
  border-width: 18px;
}

.c-button.c--button-large {
  padding: 18px;
  font-size: 18px;
}

.c-button.c--button-small {
  padding: 8px;
  font-size: 14px;
}

.c-button.c--button-group {
  float: left;
  margin: 0;
  border: solid rgba(0, 0, 0, 0.2);
  border-width: 0 1px 0 1px;
}

.c-button.c--button-group:first-child {
  position: relative;
  border-left: none;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}

.c-button.c--button-group:last-child {
  position: relative;
  border-right: none;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}

.c-button-square-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 18px;
  height: 2px;
  background-color: #fff;
  transform: translate(-50%, -50%);
}

.c-button-square-icon::before {
  content: '';
  position: absolute;
  top: -5px;
  left: 0;
  width: 18px;
  height: 2px;
  background-color: #fff;
}

.c-button-square-icon::after {
  content: '';
  position: absolute;
  top: 5px;
  left: 0;
  width: 18px;
  height: 2px;
  background-color: #fff;
}

.c-button-square-icon.c--button-small {
  width: 16px;
}

.c-button-square-icon.c--button-small::before {
  width: 16px;
}

.c-button-square-icon.c--button-small::after {
  width: 16px;
}

.c-left-arrow-in-group::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 7px;
  height: 7px;
  border-top: solid 2px #fff;
  border-right: solid 2px #fff;
  transform: translate(-50%, -50%) rotate(-135deg);
  transform-origin: center;
}

.c-right-arrow-in-group::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 7px;
  height: 7px;
  border-top: solid 2px #fff;
  border-right: solid 2px #fff;
  transform: translate(-50%, -50%) rotate(45deg);
  transform-origin: center;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Cabin", Arial, sans-serif;
}

.c-footer {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
  height: 288px;
  padding: 40px 120px;
  background-color: #f2f5f8;
}

.c-footer__logo {
  width: 75px;
}

.c-footer__contact {
  width: 200px;
}

.c-footer__contact-title {
  color: #383737;
  font-size: 16px;
  line-height: 2.25;
  letter-spacing: 0.02rem;
}

.c-footer__contact-info {
  display: block;
  margin-bottom: 20px;
  color: #b4bbc2;
  font-size: 16px;
  line-height: 1.375;
  letter-spacing: 0.02rem;
  text-decoration: none;
  cursor: default;
}

.c-footer__info {
  width: 270px;
}

.c-footer__info-title {
  color: #383737;
  font-size: 16px;
  line-height: 2.25;
  letter-spacing: 0.02rem;
}

.c-footer__info-text {
  display: block;
  color: #b4bbc2;
  font-size: 16px;
  line-height: 1.375;
  letter-spacing: 0.02rem;
}

.c-footer__app {
  width: 150px;
}

.c-footer__app-title {
  color: #383737;
  font-size: 16px;
  line-height: 2.25;
  letter-spacing: 0.02rem;
}

.c-footer__app-link {
  display: block;
  margin-left: 20px;
  color: #65abd0;
  font-size: 16px;
  line-height: 1.375;
  letter-spacing: 0.02rem;
  text-decoration: none;
}

.c-footer__app-link:hover {
  text-decoration: underline;
}

.button-wrapper.c-footer__app-button {
  margin: 10px 0 20px;
}

.c-button.c-footer__app-button {
  background-color: #24aa98;
}

.c-button.c-footer__app-button:hover {
  background-color: #1a9385;
}

@media only screen and (max-width: 375px) {
  .c-footer {
    -ms-flex-flow: wrap;
    flex-flow: wrap;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    height: 900px;
    padding: 40px 20px;
  }

  .c-footer__logo {
    -ms-flex-order: 1;
    order: 1;
    margin-bottom: 80px;
  }

  .c-footer__contact {
    -ms-flex-order: 3;
    order: 3;
    width: 270px;
    margin-bottom: 80px;
  }

  .c-footer__info {
    -ms-flex-order: 2;
    order: 2;
    margin-bottom: 80px;
  }

  .c-footer__app {
    -ms-flex-order: 4;
    order: 4;
    width: 270px;
    margin-bottom: 80px;
    text-align: center;
  }
}

@media only screen and (min-width: 376px) and (max-width: 768px) {
  .c-footer {
    -ms-flex-flow: wrap;
    flex-flow: wrap;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    height: 850px;
    padding: 40px;
  }

  .c-footer__logo {
    -ms-flex-order: 1;
    order: 1;
    margin-right: 20%;
    margin-bottom: 80px;
  }

  .c-footer__contact {
    -ms-flex-order: 3;
    order: 3;
    margin-right: 20%;
    margin-bottom: 80px;
  }

  .c-footer__info {
    -ms-flex-order: 2;
    order: 2;
    margin-bottom: 80px;
  }

  .c-footer__app {
    -ms-flex-order: 4;
    order: 4;
  }
}
/*# sourceMappingURL=style.css.map */
