doctype html
html(lang="en")
	head
		title= "Top Header 1"
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		link(href="https://fonts.googleapis.com/css?family=Cabin:600", rel="stylesheet")
		link(rel="stylesheet", type= "text/css", href="../../../../../css/templates/ui-kit/navigation/top-headers/header1/style.css")
	body
		section(class="c-nav")
			div(class="c-nav-left")
				button(class="c-button c--button-square c--button-rounded c--button-small c-nav__button c-menu-icon")
					div(class="c-button-square-icon c--button-small")
				nav(class="c-menu")
					a(href="#", class="c-menu__item is-active") Products
					a(href="#", class="c-menu__item") Prices
					a(href="#", class="c-menu__item") About us
					a(href="#", class="c-menu__item") Contacts
			div(class="c-nav-right")
				div(class="button-wrapper button-wrapper--small c-nav__button")
					button(href="#", class="c-button c--button-round c--button-small c-nav__button") Sign in
				form(class="search-wrapper c-nav__search") 
					input(type="search", placeholder="Search", class="c-search c-search--round c-search--small c-nav__search")
					div(class="search-icon c-search--small c-nav__search-icon")