.c-footer {
	@include respond-to(tablets) {
		height: 520px;
	}
	@include respond-to(handhelds) {
		height: 650px;
	}

	display: flex;
	flex-flow: column wrap;
	justify-content: center;
	align-items: center;
	height: 461px;

	background-color: $green;
	&__title {
		margin-bottom: 40px;

		color: $white;
		font-size: 50px;
		line-height: 1.16;
		letter-spacing: $letter-spacing;
		text-align: center;
	}
	&__text {
		margin-bottom: 25px;

		color: $white;
		font-weight: normal;
		font-size: $medium-font;
		line-height: 2.25;
		letter-spacing: $letter-spacing;
	}
	&__form-wrapper {
		@include respond-to(tablets) {
			flex-flow: wrap;
			flex-direction: column;
			height: 150px;
			padding: 12px;
		}
		@include respond-to(handhelds) {
			flex-flow: wrap;
			flex-direction: column;
			align-items: center;
			height: 210px;
			padding: 12px;
		}

		display: flex;
		justify-content: center;
		width: 56%;
		height: 96px;
		margin-bottom: 75px;
		padding: 24px;
		border: 1px solid transparent;

		border-radius: $smallest-border-radius;
		background-color: #f2f5f8;
	}
	&__form-input-wrapper {
		@include respond-to(handhelds) {
			margin-bottom: 20px;
		}
		@include respond-to(tablets) {
			width: 220px;
		}
		@include respond-to(medium-screens) {
			width: 220px;
		}
		@include respond-to(wide-screens) {
			width: 220px;
		}

		display: inline-block;
		width: 100%;
		height: 48px;
		&:first-child {
			@include respond-to(tablets) {
				margin-bottom: 20px;
			}

			margin-right: 10px;
		}
	}
	&__form-input {
		width: 100%;
		height: 100%;
		padding: 10px;
		border: 2px solid $grey;

		border-radius: $smallest-border-radius;
		background-color: $white;
		outline: none;

		color: $black;
		font-weight: bold;
		font-size: $medium-font;
		line-height: 1.5;
		letter-spacing: $letter-spacing;
		&::placeholder {
			color: $grey;
		}
	}
	&__form-submit-wrapper {
		display: inline-block;
		width: 140px;
		height: 48px;
		margin-left: 10px;
	}
	&__form-submit {
		width: 100%;
		height: 100%;
		padding: 10px;
		border: 1px solid transparent;

		border-radius: $smallest-border-radius;
		background-color: $orange;
		outline: none;

		color: $white;
		font-size: $medium-font;
		line-height: 1.5;
		letter-spacing: $letter-spacing;
		&:hover {
			border-color: $dark-orange;

			background-color: $dark-orange;

			cursor: pointer;
		}
	}
	&__menu {
		margin-bottom: 25px;

		text-align: center;
		&-item {
			color: $white;
			font-size: $small-font;
			line-height: 1.71;
			letter-spacing: 0.05rem;
			text-transform: uppercase;
			text-decoration: none;
			&:not(:last-child) {
				@include respond-to(handhelds) {
					margin-right: 30px;
				}

				margin-right: 55px;
			}
			&:hover {
				text-decoration: underline;
			}
		}
	}
	&__copyright {
		color: rgba(255, 255, 255, .3);
		font-size: $small-font;
		line-height: 2.57;
		letter-spacing: $letter-spacing;
	}
}
