@import '../../../../partials/ui-kit/variables';
@import '../../../../mixins/mixin-small-375';
@import '../../../../partials/ui-kit/footers/general';
@import '../../../../partials/ui-kit/footers/footer3/footer';