@charset "UTF-8";

@font-face {
  font-family: "svg-icons";
  src: url("../../../../../fonts/svg-icons.eot");
  src: url("../../../../../fonts/svg-icons.?#iefix") format("embedded-opentype"), url("../../../../../fonts/svg-icons.woff") format("woff"), url("../../../../../fonts/svg-icons.ttf") format("truetype"), url("../../../../../fonts/svg-icons.#svg-icons") format("svg");
  font-weight: normal;
  font-style: normal;
}

.icon {
  font-family: "svg-icons";
}

.icon:before {
  /* Some common icon stuff */
}

.icon.icon--dribbble:before {
  content: "";
}

.icon.icon--facebook:before {
  content: "";
}

.icon.icon--google-plus:before {
  content: "";
}

.icon.icon--instagram:before {
  content: "";
}

.icon.icon--linkedin:before {
  content: "";
}

.icon.icon--scroll-down:before {
  content: "";
}

.icon.icon--twitter:before {
  content: "";
}

.icon.icon--vimeo:before {
  content: "";
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Cabin", Arial, sans-serif;
}

.c-footer {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  height: 336px;
  padding-top: 50px;
  background-color: #f2f5f8;
}

.c-footer__info {
  margin-left: 120px;
}

.c-footer__info-title {
  margin-bottom: 15px;
  color: #383737;
  font-size: 24px;
  line-height: 0.83;
  letter-spacing: 0.02rem;
}

.c-footer__info-text {
  color: #383737;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02rem;
}

.c-footer__info .c-social {
  margin-top: 30px;
}

.c-footer__info .c-social-item {
  min-width: 60px;
  padding: 5px;
  border-radius: 6px;
  outline: none;
  color: #fff;
  font-size: 14px;
  letter-spacing: 0.02rem;
  text-align: center;
  text-decoration: none;
}

.c-footer__info .c-social-item:not(:last-child) {
  margin-right: 12px;
}

.c-footer__info .c-social-item.c--facebook {
  border: 2px solid #3162a2;
  background-color: #3162a2;
}

.c-footer__info .c-social-item.c--facebook:hover {
  border-color: #235493;
  background-color: #235493;
  cursor: pointer;
}

.c-footer__info .c-social-item.c--twitter {
  border: 2px solid #2eb1eb;
  background-color: #2eb1eb;
}

.c-footer__info .c-social-item.c--twitter:hover {
  border-color: #209dd4;
  background-color: #209dd4;
  cursor: pointer;
}

.c-footer__info .c-social-item.c--dribbble {
  border: 2px solid #f552b6;
  background-color: #f552b6;
}

.c-footer__info .c-social-item.c--dribbble:hover {
  border-color: #d43b99;
  background-color: #d43b99;
  cursor: pointer;
}

.c-footer__info .c-social-item.c--linkedin {
  border: 2px solid #457ac0;
  background-color: #457ac0;
}

.c-footer__info .c-social-item.c--linkedin:hover {
  border-color: #3465a5;
  background-color: #3465a5;
  cursor: pointer;
}

.c-footer__info-links {
  margin-top: 40px;
}

.c-footer__info-link {
  display: inline-block;
  color: #65abd0;
  font-size: 16px;
  line-height: 2.25;
  letter-spacing: 0.02rem;
  text-decoration: none;
}

.c-footer__info-link:not(:last-child) {
  margin-right: 30px;
}

.c-footer__info-link:hover {
  text-decoration: underline;
}

.c-footer__menu {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  margin-right: 120px;
  margin-left: 240px;
}

.c-footer__menu-item {
  display: block;
}

.c-footer__menu-item:not(:last-child) {
  margin-right: 60px;
}

.c-footer__menu-subitem {
  display: block;
  color: #b4bbc2;
  font-size: 16px;
  line-height: 2;
  letter-spacing: 0.02rem;
  text-decoration: none;
}

.c-footer__menu-subitem:hover {
  text-decoration: underline;
}

.c-footer__menu-subitem:first-child {
  color: #383737;
  pointer-events: none;
}

.social-counter {
  font-family: "Cabin", Arial, sans-serif;
}

@media only screen and (max-width: 375px) {
  .c-footer {
    -ms-flex-direction: column;
    flex-direction: column;
    height: 650px;
    padding-top: 0;
  }

  .c-footer__info {
    margin-right: 30px;
    margin-left: 30px;
  }

  .c-footer__info-title {
    line-height: 1.25;
  }

  .c-footer__menu {
    margin: 0 auto;
  }
}

@media only screen and (min-width: 376px) and (max-width: 768px) {
  .c-footer {
    -ms-flex-direction: column;
    flex-direction: column;
    height: 520px;
    padding-top: 30px;
  }

  .c-footer__info {
    margin-right: 45px;
    margin-left: 45px;
  }

  .c-footer__info-title {
    line-height: 1.25;
  }

  .c-footer__info .c-social {
    margin-top: 20px;
    text-align: center;
  }

  .c-footer__info-links {
    margin-top: 20px;
    text-align: center;
  }

  .c-footer__menu {
    margin-right: 45px;
    margin-left: 30px;
  }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .c-footer__menu {
    margin-left: 100px;
  }
}
/*# sourceMappingURL=style.css.map */
