* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	font-family: 'Cabin', Arial, sans-serif;
	display: flex;
	justify-content: space-around;
	flex-flow: wrap;
	padding: 20px;
	align-items: center;
}

img {
	width: 100%;
	height: 500px;
}

figure {
	margin: 20px;
	box-shadow: 0 0 10px 5px rgba(221, 221, 221, 1);
	width: 25%;
}

figcaption {
	text-align: center;
	margin-top: 15px;
}