doctype html
html(lang="en")
	head
		title= "Footer 8"
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		link(href="https://fonts.googleapis.com/css?family=Cabin:600", rel="stylesheet")
		link(rel="stylesheet", type= "text/css", href="../../../../css/templates/ui-kit/footers/footer8/style.css")
	body
		footer(class="c-footer")
			nav(class="c-footer__menu")
				a(href="#", class="c-footer__menu-item") Recomendations
				a(href="#", class="c-footer__menu-item") My Channel
				a(href="#", class="c-footer__menu-item") Journal
				a(href="#", class="c-footer__menu-item") See later
			div(class="c-social")
				span(class="c-footer__copyright") &copy UI8 2014 - All Right Reserved
				div(class="c-social-buttons")
					a(href="#", class="c-social-item icon icon--facebook")
					a(href="#", class="c-social-item icon icon--twitter")
					a(href="#", class="c-social-item icon icon--linkedin")