.c-header {
	@include respond-to(handhelds) {
		padding-top: 24px;
		padding-bottom: 24px;
	}

	position: relative;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100vh;
	padding-top: 48px;
	padding-bottom: 85px;

	background-image: url(../images/back.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	&__header {
		@include respond-to(tablets) {
			height: 115px;
		}
		@include respond-to(handhelds) {
			height: 125px;
		}

		position: relative;

		width: 80%;
		width: 80%;
		height: 72px;
		margin: 0 auto;
		padding: 14px 20px;

		border-radius: 6px;
		background-color: #f2f5f8;
	}
	&__logo {
		@include respond-to(tablets) {
			display: block;
			margin: 0 auto;
		}
		@include respond-to(handhelds) {
			display: none;
		}

		display: inline-block;
		width: 45px;
		height: 40px;
		&-img {
			width: 100%;
			height: auto;
		}
	}
	&__menu {
		@include respond-to(handhelds) {
			display: flex;
			flex-flow: wrap;
			justify-content: space-between;
		}

		display: inline-block;
		padding: 5px;

		vertical-align: top;
		&-item {
			@include respond-to(medium-screens) {
				margin: 10px;
			}
			@include respond-to(tablets) {
				margin: 5px;
			}
			@include respond-to(handhelds) {
				margin: 3px;

				line-height: 1.2;
			}

			margin: 20px;

			color: $black;
			font-size: $small-font;
			line-height: 2.25;
			letter-spacing: $letter-spacing;
			text-decoration: none;
			&:hover {
				text-decoration: underline;
			}
		}
	}
	&__main {
		text-align: center;
	}
	&__title {
		@include respond-to(medium-screens) {
			margin-bottom: 35px;

			font-size: 50px;
		}
		@include respond-to(tablets) {
			margin-bottom: 35px;

			font-size: 50px;
		}
		@include respond-to(handhelds) {
			margin-bottom: 15px;

			font-size: $large-font;
		}

		margin-bottom: 55px;

		color: $white;
		font-size: 68px;
		line-height: 0.85;
		letter-spacing: $letter-spacing;
		text-align: center;
		text-transform: uppercase;
	}
	&__footer {
		@include respond-to(handhelds) {
			flex-direction: column;
			margin-right: 5px;
			margin-bottom: 10px;
			margin-left: 15px;
		}

		display: flex;
		justify-content: center;
		&-item {
			@include respond-to(medium-screens) {
				width: 30%;
				padding-right: 10px;
			}
			@include respond-to(tablets) {
				width: 30%;
				padding-right: 10px;
			}
			@include respond-to(handhelds) {
				width: 100%;
				padding-right: 10px;
				&:not(:last-child) {
					margin-bottom: 15px;
				}
			}

			width: 20%;
			padding: 0 35px;

			background-repeat: no-repeat;
			background-position: 0 5px;
			&.c--first {
				background-image: url(../images/pencil-icon.png);
			}
			&.c--second {
				background-image: url(../images/brush-icon.png);
			}
			&.c--third {
				background-image: url(../images/keyboard-icon.png);
			}
			&-title {
				@include respond-to(handhelds) {
					font-size: $large-font;
				}

				margin-bottom: 10px;

				color: $white;
				font-size: 26px;
				line-height: 1.38;
				letter-spacing: $letter-spacing;
			}
			&-text {
				@include respond-to(handhelds) {
					font-size: $small-font;
				}

				color: $white;
				font-size: $medium-font;
				line-height: 1.25;
				letter-spacing: $letter-spacing;
			}
		}
	}
}

.search-wrapper {
	@include respond-to(handhelds) {
		position: relative;

		display: block;
		margin: 0 auto;
	}

	position: absolute;
	right: 20px;

	display: inline-block;
	width: 160px;
	margin-top: -5px;
}

.c-search {
	&.c-header__search-input {
		&::placeholder {
			color: $grey;
		}
		&:focus {
			border-color: $blue;
			& + .c-header__search-input-icon {
				border-color: $black;
				&::before {
					background-color: $black;
				}
			}
		}
	}
}

.c-button {
	&.c-header__button {
		@include respond-to(handhelds) {
			padding: 7px;

			font-size: $small-font;
		}

		background-color: $red;
		&:hover {
			background-color: $dark-red;
		}
	}
}
