.c-footer {
	@include respond-to(handhelds) {
		flex-direction: column;
		align-items: center;
		height: 880px;
	}
	@include respond-to(tablets) {
		flex-flow: wrap;
		align-items: center;
		height: 470px;
	}

	display: flex;
	justify-content: space-around;
	height: 288px;
	padding: 30px 0;

	background-color: #f2f5f8;
	&__menu-item {
		@include respond-to(handhelds) {
			margin-bottom: 30px;
		}
		@include respond-to(tablets) {
			margin-bottom: 30px;
		}

		display: block;
		&:first-child .c-footer__menu-subitem:first-child {
			color: $blue;
		}
	}
	&__menu-subitem {
		display: block;

		color: $dark-grey;
		font-size: $medium-font;
		line-height: 2.25;
		letter-spacing: $letter-spacing;
		text-decoration: none;
		&:first-child {
			color: $black;

			pointer-events: none;
		}
		&:hover {
			text-decoration: underline;
		}
	}
	&__copyright {
		@include respond-to(handhelds) {
			text-align: center;
		}
		@include respond-to(tablets) {
			text-align: center;
		}
		&-logo-img {
			@include respond-to(handhelds) {
				display: inline-block;
			}
			@include respond-to(tablets) {
				display: inline-block;
			}

			display: block;
		}
		&-copy {
			display: block;
			margin-top: 10px;

			color: $black;
			font-size: $medium-font;
			line-height: 2.25;
			letter-spacing: $letter-spacing;
		}
		&-link {
			display: block;

			color: $dark-grey;
			font-size: $medium-font;
			line-height: 2;
			letter-spacing: $letter-spacing;
			text-decoration: none;
			&:hover {
				text-decoration: underline;
			}
		}
	}
}
