doctype html
html(lang="en")
	head
		title= "Top Header 5"
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		link(href="https://fonts.googleapis.com/css?family=Cabin:600", rel="stylesheet")
		link(rel="stylesheet", type= "text/css", href="../../../../../css/templates/ui-kit/navigation/top-headers/header5/style.css")
	body
		section(class="c-nav")
			div(class="logo-wrapper")
				img(src="../../../../../images/ui-kit/logo.png", alt="logo", class="c-logo")
			form(class="c-nav__search")
				label(for="nav-search") Search
				div(class="c-nav__search-input-wrapper")
					input(type="search", placeholder="Search", value="Flat", name="nav-search", id="nav-search", class="c-nav__search-input")
					div(class="search-icon c-nav__search-input-icon")
				div(class="c-nav__search-submit-wrapper")
					input(type="submit", value="", class="c-nav__search-submit")
					div(class="search-icon c-nav__search-submit-icon")
			div(class="c-nav__register")
				a(href="#", class="c-nav__register-item") Sign in
				a(href="#", class="c-nav__register-item is-active") Sign up