doctype html
html(lang="en")
	head
		title= "Footer 1"
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		link(href="https://fonts.googleapis.com/css?family=Cabin:600", rel="stylesheet")
		link(rel="stylesheet", type= "text/css", href="css/style.css")
	body
		section(class="c-footer")
			div(class="c-footer__logo-menu")
				img(src="images/logo.png", alt="logo", class="c-footer__logo-img")
				nav(class="c-footer__menu")
					a(href="#", class="c-footer__menu-item") Products
					a(href="#", class="c-footer__menu-item") Prices
					a(href="#", class="c-footer__menu-item") About Us
					a(href="#", class="c-footer__menu-item") Contacts
				div(class="c-footer__social")
					button(class="c-footer__social-item")
						img(src="images/facebook.svg", alt="facebook", class="c-footer__social-item-img")
					button(class="c-footer__social-item")
						img(src="images/twitter.svg", alt="twitter", class="c-footer__social-item-img")
					button(class="c-footer__social-item")
						img(src="images/google-plus.svg", alt="google-plus", class="c-footer__social-item-img")
			div(class="c-footer__address")
				span(class="c-footer__address-city") Roseville, CA
				span(class="c-footer__address-street") 920 Reserve Dr. Suite 140
				a(href="tel: (415) 496-9612", class="c-footer__address-tel") (415) 496-9612