doctype html
html(lang="en")
	head
		title= "Footer 9"
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		link(href="https://fonts.googleapis.com/css?family=Cabin:600", rel="stylesheet")
		link(rel="stylesheet", type= "text/css", href="../../../../css/templates/ui-kit/footers/footer9/style.css")
	body
		footer(class="c-footer")
			div(class="c-footer__logo")
				img(src="../../../../images/ui-kit/logo.png", alt="logo", class="c-logo-img")
			nav(class="c-footer__menu-item")
				span(class="c-footer__menu-subitem") Joseph Wood
				a(href="#", class="c-footer__menu-subitem") Timeline
				a(href="#", class="c-footer__menu-subitem") Messages
				a(href="#", class="c-footer__menu-subitem") Statistic
				a(href="#", class="c-footer__menu-subitem") Settings
				a(href="#", class="c-footer__menu-subitem") Logout
			nav(class="c-footer__menu-item")
				span(class="c-footer__menu-subitem") Services
				a(href="#", class="c-footer__menu-subitem") Branding
				a(href="#", class="c-footer__menu-subitem") UX Design
				a(href="#", class="c-footer__menu-subitem") Prototype
				a(href="#", class="c-footer__menu-subitem") UI Design
				a(href="#", class="c-footer__menu-subitem") Development
			nav(class="c-footer__menu-item")
				span(class="c-footer__menu-subitem") About Us
				a(href="#", class="c-footer__menu-subitem") Company
				a(href="#", class="c-footer__menu-subitem") Our Team
				a(href="#", class="c-footer__menu-subitem") Contacts
				a(href="#", class="c-footer__menu-subitem") Terms and Conditions
				a(href="#", class="c-footer__menu-subitem") Privacy Policy
			div(class="c-footer__other")
				div(class="c__subscribe-box")
					span(class="c__subscribe-box-title") Subscribing
					form(class="c__subscribe-box-wrapper")
						div(class="c__subscribe-box-input-wrapper")
							input(type="email", placeholder="hello@creativeda.sh", class="c__subscribe-box-input")
						div(class="button-wrapper c__subscribe-box-submit-wrapper")
							button(class="c-button c--button-rounded c__subscribe-box-submit")
				div(class="c-social")
					span(class="c-social-title") Follow us
					a(href="#", class="c-social-item icon icon--facebook")
					a(href="#", class="c-social-item icon icon--twitter")
					a(href="#", class="c-social-item icon icon--dribbble")
					a(href="#", class="c-social-item icon icon--vimeo")
					a(href="#", class="c-social-item icon icon--google-plus")