* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Cabin", Arial, sans-serif;
}

.c-footer {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: column wrap;
  flex-flow: column wrap;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  height: 461px;
  background-color: #24aa98;
}

.c-footer__title {
  margin-bottom: 40px;
  color: #fff;
  font-size: 50px;
  line-height: 1.16;
  letter-spacing: 0.02rem;
  text-align: center;
}

.c-footer__text {
  margin-bottom: 25px;
  color: #fff;
  font-weight: normal;
  font-size: 16px;
  line-height: 2.25;
  letter-spacing: 0.02rem;
}

.c-footer__form-wrapper {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  width: 56%;
  height: 96px;
  margin-bottom: 75px;
  padding: 24px;
  border: 1px solid transparent;
  border-radius: 6px;
  background-color: #f2f5f8;
}

.c-footer__form-input-wrapper {
  display: inline-block;
  width: 100%;
  height: 48px;
}

.c-footer__form-input-wrapper:first-child {
  margin-right: 10px;
}

.c-footer__form-input {
  width: 100%;
  height: 100%;
  padding: 10px;
  border: 2px solid #c6ccd2;
  border-radius: 6px;
  background-color: #fff;
  outline: none;
  color: #383737;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02rem;
}

.c-footer__form-input::-webkit-input-placeholder {
  color: #c6ccd2;
}

.c-footer__form-input:-ms-input-placeholder {
  color: #c6ccd2;
}

.c-footer__form-input::placeholder {
  color: #c6ccd2;
}

.c-footer__form-submit-wrapper {
  display: inline-block;
  width: 140px;
  height: 48px;
  margin-left: 10px;
}

.c-footer__form-submit {
  width: 100%;
  height: 100%;
  padding: 10px;
  border: 1px solid transparent;
  border-radius: 6px;
  background-color: #d9c26c;
  outline: none;
  color: #fff;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02rem;
}

.c-footer__form-submit:hover {
  border-color: #c9b248;
  background-color: #c9b248;
  cursor: pointer;
}

.c-footer__menu {
  margin-bottom: 25px;
  text-align: center;
}

.c-footer__menu-item {
  color: #fff;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.05rem;
  text-transform: uppercase;
  text-decoration: none;
}

.c-footer__menu-item:not(:last-child) {
  margin-right: 55px;
}

.c-footer__menu-item:hover {
  text-decoration: underline;
}

.c-footer__copyright {
  color: rgba(255, 255, 255, 0.3);
  font-size: 14px;
  line-height: 2.57;
  letter-spacing: 0.02rem;
}

@media only screen and (min-width: 1025px) {
  .c-footer__form-input-wrapper {
    width: 220px;
  }
}

@media only screen and (max-width: 425px) {
  .c-footer {
    height: 650px;
  }

  .c-footer__form-wrapper {
    -ms-flex-flow: wrap;
    flex-flow: wrap;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-align: center;
    align-items: center;
    height: 210px;
    padding: 12px;
  }

  .c-footer__form-input-wrapper {
    margin-bottom: 20px;
  }

  .c-footer__menu-item:not(:last-child) {
    margin-right: 30px;
  }
}

@media only screen and (min-width: 426px) and (max-width: 768px) {
  .c-footer {
    height: 520px;
  }

  .c-footer__form-wrapper {
    -ms-flex-flow: wrap;
    flex-flow: wrap;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 150px;
    padding: 12px;
  }

  .c-footer__form-input-wrapper {
    width: 220px;
  }

  .c-footer__form-input-wrapper:first-child {
    margin-bottom: 20px;
  }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .c-footer__form-input-wrapper {
    width: 220px;
  }
}
/*# sourceMappingURL=style.css.map */
