@import '../../../partials/ui-kit/base/variables';
@import '../../../partials/ui-kit/base/general';
@import '../../../partials/ui-kit/base/buttons';
@import '../../../partials/ui-kit/base/message';
@import '../../../partials/ui-kit/base/email';
@import '../../../partials/ui-kit/base/search';
@import '../../../partials/ui-kit/base/comment';
@import '../../../partials/ui-kit/base/settings';
@import '../../../partials/ui-kit/base/pagination';
@import '../../../partials/ui-kit/base/table';
@import '../../../partials/ui-kit/base/notification';
@import '../../../partials/ui-kit/base/popups';
